# Setup

In [62]:
import os

os.environ["KERAS_BACKEND"] = "tensorflow"

import math
import zipfile
import gzip
import shutil
from urllib.request import urlretrieve
import requests
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from keras import layers
from keras.layers import StringLookup
from sklearn.preprocessing import LabelEncoder

# Prepare the data

## Download and prepare the DataFrames

In [63]:
URL_MOVIELENS = "https://files.grouplens.org/datasets/movielens/ml-1m.zip"
URL_IMBD_NAMES_BASICS = "https://datasets.imdbws.com/name.basics.tsv.gz"
URL_IMBD_TITLE_BASICS = "https://datasets.imdbws.com/title.basics.tsv.gz"
URL_IMBD_TITLE_RATINGS = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Local path where the file will be saved
LOCAL_MOVIELENS_PATH = "ml-1m.zip"
LOCAL_IMBD_NAMES_BASICS_PATH = "name.basics.tsv.gz"
LOCAL_IMBD_TITLE_BASICS_PATH = "title.basics.tsv.gz"
LOCAL_IMBD_TITLE_RATINGS_PATH = "title.ratings.tsv.gz"
# Directory where the dataset will be extracted
EXTRACT_DIR = "dataset"

In [64]:
# Function to download the file
def download_file(url, local_filename):
    print(f"Downloading {url} to {local_filename}")
    # Check if the file already exists
    if os.path.exists(local_filename):
        print(f"File {local_filename} already exists")
        return local_filename
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    print(f"Downloaded {url} to {local_filename}")
    return local_filename

# Function to unzip the file
def unzip_file(zip_path, extract_to):
    print(f"Unzipping {zip_path} to {extract_to}")
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to)
    print(f"Unzipped {zip_path} to {extract_to}")

def gunzip_file(gz_path, extract_to):
    print(f"Gunzipping {gz_path} to {extract_to}")
    with gzip.open(gz_path, 'rb') as f_in:
        with open(extract_to, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"Gunzipped {gz_path} to {extract_to}")

In [65]:
# Ensure the dataset directory exists
os.makedirs(EXTRACT_DIR, exist_ok=True)
# Download the file
download_file(URL_MOVIELENS, LOCAL_MOVIELENS_PATH)
download_file(URL_IMBD_NAMES_BASICS, LOCAL_IMBD_NAMES_BASICS_PATH)
download_file(URL_IMBD_TITLE_BASICS, LOCAL_IMBD_TITLE_BASICS_PATH)
download_file(URL_IMBD_TITLE_RATINGS, LOCAL_IMBD_TITLE_RATINGS_PATH)

Downloading https://files.grouplens.org/datasets/movielens/ml-1m.zip to ml-1m.zip
File ml-1m.zip already exists
Downloading https://datasets.imdbws.com/name.basics.tsv.gz to name.basics.tsv.gz
File name.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.basics.tsv.gz to title.basics.tsv.gz
File title.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.ratings.tsv.gz to title.ratings.tsv.gz
File title.ratings.tsv.gz already exists

'title.ratings.tsv.gz'

In [66]:
# Extract the files
print("Unzipping file...")
unzip_file(LOCAL_MOVIELENS_PATH, EXTRACT_DIR)

print("Gunzipping files...")
gunzip_file(LOCAL_IMBD_NAMES_BASICS_PATH, os.path.join(EXTRACT_DIR, "name.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_BASICS_PATH, os.path.join(EXTRACT_DIR, "title.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_RATINGS_PATH, os.path.join(EXTRACT_DIR, "title.ratings.tsv"))

print("Extraction complete.")

Unzipping file...
Unzipping ml-1m.zip to dataset
Unzipped ml-1m.zip to dataset
Gunzipping files...
Gunzipping name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipped name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipping title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipped title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipping title.ratings.tsv.gz to dataset\title.ratings.tsv
Gunzipped title.ratings.tsv.gz to dataset\title.ratings.tsv
Extraction complete.

In [67]:
movies = pd.read_csv('dataset/ml-1m/movies.dat', sep='::', header=None, engine='python', names=['movie_id', 'title', 'genres'], encoding='ISO-8859-1')
ratings = pd.read_csv('dataset/ml-1m/ratings.dat', sep='::', header=None, engine='python', names=['user_id', 'movie_id', 'rating', 'unix_timestamp'], encoding='ISO-8859-1')
users = pd.read_csv('dataset/ml-1m/users.dat', sep='::', header=None, engine='python', names=['user_id', 'sex', 'age_group', 'occupation', 'zip_code'], encoding='ISO-8859-1')

In [68]:
title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)
title_basics_df = title_basics_df[title_basics_df['titleType'] == 'movie']
name_basics_df = pd.read_csv('dataset/name.basics.tsv', sep='\t', header=0)

C:\Users\marti\AppData\Local\Temp\ipykernel_10024\170924504.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)

Here, we do some simple data processing to fix the data types of the columns.

In [69]:
users["user_id"] = users["user_id"].apply(lambda x: f"user_{x}")
users["age_group"] = users["age_group"].apply(lambda x: f"group_{x}")
users["occupation"] = users["occupation"].apply(lambda x: f"occupation_{x}")

movies["movie_id"] = movies["movie_id"].apply(lambda x: f"movie_{x}")

ratings["movie_id"] = ratings["movie_id"].apply(lambda x: f"movie_{x}")
ratings["user_id"] = ratings["user_id"].apply(lambda x: f"user_{x}")
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))

movies['title'] = movies['title'].str.lower()
movies['title'] = movies['title'].str.replace(r"\(.*\)", "", regex=True).str.strip()

title_basics_df['primaryTitle'] = title_basics_df['primaryTitle'].str.lower().str.strip()
title_basics_df.rename(columns={"genres": "genres_title"}, inplace=True)
title_basics_df = title_basics_df.drop_duplicates(subset='primaryTitle')

# Convert primaryName to string
name_basics_df['primaryName'] = name_basics_df['primaryName'].astype(str)

name_basics_df = name_basics_df.assign(knownForTitles=name_basics_df['knownForTitles'].str.split(','))
name_basics_df = name_basics_df.explode('knownForTitles')

# Group by knownForTitles and aggregate primaryName
name_basics_grouped = name_basics_df.groupby('knownForTitles')['primaryName'].agg(lambda x: ','.join(set(x))).reset_index()

# Merge with title_basics_df
title_basics_df = pd.merge(title_basics_df, name_basics_grouped, left_on='tconst', right_on='knownForTitles', how='left')

title_basics_df.drop(columns='knownForTitles', inplace=True)
title_basics_df['primaryName'].fillna('unknown', inplace=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10024\1417224388.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  title_basics_df['primaryName'].fillna('unknown', inplace=True)

In [70]:
# Merge the dataframes movies and title_basics_df, keep only the the genres_title column and merge on the title column. If the title is not found in title_basics_df, the row is not kept
movies = movies.merge(title_basics_df[['primaryTitle', 'runtimeMinutes','genres_title', 'primaryName']], left_on='title', right_on='primaryTitle', how='left')
# Drop the primaryTitle column
movies.drop(columns=['primaryTitle'], inplace=True)
movies['runtimeMinutes'] = pd.to_numeric(movies['runtimeMinutes'], errors='coerce')
mean_runtime = movies['runtimeMinutes'].mean()
movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)
movies = movies.drop_duplicates()
movies

C:\Users\marti\AppData\Local\Temp\ipykernel_10024\1504217106.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)

,movie_id,title,genres,runtimeMinutes,genres_title,primaryName
0,movie_1,toy story,Animation|Children's|Comedy,81.000000,"Adventure,Animation,Comedy","Spencer Aste,John Morris,Tru'o'ng Gia Tìên,Don..."
1,movie_2,jumanji,Adventure|Children's|Fantasy,104.000000,"Adventure,Comedy,Family","Tracey Boulton,Scott Kroopf,Stan Parks,Melinda..."
2,movie_3,grumpier old men,Comedy|Romance,101.000000,"Comedy,Romance","James Andelin,Wayne A. Evenson,Bix Skahill,Kat..."
3,movie_4,waiting to exhale,Comedy|Drama,124.000000,"Comedy,Drama,Romance","Joann Y. Johnson,Clendolyn Corbin,Jon Gass,Syl..."
4,movie_5,father of the bride part ii,Comedy,106.000000,"Comedy,Family,Romance","Connie McAloney,Robert F. Mann,Thomas Selstad,..."
...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,Comedy,"Jacqueline Cahill,Mary Ruth Clarke,Dick Gallow..."
3879,movie_3949,requiem for a dream,Drama,102.000000,Drama,"Christian Boatsman,Jason Marder,Ralph Fratiann..."
3880,movie_3950,tigerland,Drama,101.000000,"Drama,War","Herman McEachin,Shawn R. McFall,Chris Huvane,F..."
3881,movie_3951,two family house,Drama,108.000000,"Comedy,Drama,Romance","Chelsea Fetzer,John Bunch,Danita Knight,Timoth..."
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,NaN,NaN

In [71]:
# Merge the genres column (seperated with | ) with the genres_title column (seperated with ','). Do not keep duplicates
movies['genres'] = movies['genres'].str.split('|')
movies['genres_title'] = movies['genres_title'].str.split(',')
# If the genres_title column is NaN, replace it with an empty list
movies['genres_title'] = movies['genres_title'].apply(lambda x: [] if type(x) == float else x)
movies['genres'] = movies['genres'] + movies['genres_title']
movies['genres'] = movies['genres'].apply(lambda x: list(set(x)))
movies['genres'] = movies['genres'].apply(lambda x: '|'.join(x))
movies.drop(columns=['genres_title'], inplace=True)

In [72]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName
0,movie_1,toy story,Comedy|Children's|Adventure|Animation,81.000000,"Spencer Aste,John Morris,Tru'o'ng Gia Tìên,Don..."
1,movie_2,jumanji,Family|Children's|Comedy|Adventure|Fantasy,104.000000,"Tracey Boulton,Scott Kroopf,Stan Parks,Melinda..."
2,movie_3,grumpier old men,Comedy|Romance,101.000000,"James Andelin,Wayne A. Evenson,Bix Skahill,Kat..."
3,movie_4,waiting to exhale,Comedy|Romance|Drama,124.000000,"Joann Y. Johnson,Clendolyn Corbin,Jon Gass,Syl..."
4,movie_5,father of the bride part ii,Comedy|Romance|Family,106.000000,"Connie McAloney,Robert F. Mann,Thomas Selstad,..."
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,"Jacqueline Cahill,Mary Ruth Clarke,Dick Gallow..."
3879,movie_3949,requiem for a dream,Drama,102.000000,"Christian Boatsman,Jason Marder,Ralph Fratiann..."
3880,movie_3950,tigerland,Drama|War,101.000000,"Herman McEachin,Shawn R. McFall,Chris Huvane,F..."
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,"Chelsea Fetzer,John Bunch,Danita Knight,Timoth..."
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,NaN

In [73]:
# First, ensure primaryName is a string
movies['primaryName'] = movies['primaryName'].fillna('unknown')
movies['primaryName'] = movies['primaryName'].astype(str)

# Create a LabelEncoder
le = LabelEncoder()

# Fit and transform the primaryName column
movies['primaryName_encoded'] = le.fit_transform(movies['primaryName'])

# Normalize the encoded values to be between 0 and 1
movies['primaryName_encoded'] = movies['primaryName_encoded'] / movies['primaryName_encoded'].max()

# Drop the original primaryName and genres_title columns
movies.drop(columns=['primaryName'], inplace=True)

In [74]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded
0,movie_1,toy story,Comedy|Children's|Adventure|Animation,81.000000,0.885831
1,movie_2,jumanji,Family|Children's|Comedy|Adventure|Fantasy,104.000000,0.952027
2,movie_3,grumpier old men,Comedy|Romance,101.000000,0.420602
3,movie_4,waiting to exhale,Comedy|Romance|Drama,124.000000,0.473782
4,movie_5,father of the bride part ii,Comedy|Romance|Family,106.000000,0.175158
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.414652
3879,movie_3949,requiem for a dream,Drama,102.000000,0.156192
3880,movie_3950,tigerland,Drama|War,101.000000,0.381554
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.150242
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,0.999256

Each movie has multiple genres. We split them into separate columns in the movies DataFrame.

In [75]:
movie_features = set()
for actual_genres in movies['genres'].str.split('|'):
    movie_features.update(actual_genres)
movie_features = list(movie_features)

for genre in movie_features:
    movies[genre] = movies["genres"].apply(
        lambda values: int(genre in values.split("|"))
    )

# Add runtimeMinutes and primaryName_encoded to movie_features
movie_features.extend(["runtimeMinutes", "primaryName_encoded"])

In [76]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded,War,Romance,Horror,Sport,Biography,...,Crime,\N,Drama,Fantasy,Sci-Fi,Action,Mystery,Documentary,Western,History
0,movie_1,toy story,Comedy|Children's|Adventure|Animation,81.000000,0.885831,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,movie_2,jumanji,Family|Children's|Comedy|Adventure|Fantasy,104.000000,0.952027,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,movie_3,grumpier old men,Comedy|Romance,101.000000,0.420602,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,movie_4,waiting to exhale,Comedy|Romance|Drama,124.000000,0.473782,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,movie_5,father of the bride part ii,Comedy|Romance|Family,106.000000,0.175158,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.414652,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,movie_3949,requiem for a dream,Drama,102.000000,0.156192,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3880,movie_3950,tigerland,Drama|War,101.000000,0.381554,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.150242,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,0.999256,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

### Transform the movie ratings data into sequences
First, let's sort the the ratings data using the unix_timestamp, and then group the movie_id values and the rating values by user_id.

The output DataFrame will have a record for each user_id, with two ordered lists (sorted by rating datetime): the movies they have rated, and their ratings of these movies.

In [77]:
ratings_group = ratings.sort_values(by=["unix_timestamp"]).groupby("user_id")

ratings_data = pd.DataFrame(
    data={
        "user_id": list(ratings_group.groups.keys()),
        "movie_ids": list(ratings_group.movie_id.apply(list)),
        "ratings": list(ratings_group.rating.apply(list)),
        "timestamps": list(ratings_group.unix_timestamp.apply(list)),
    }
)

Now, let's split the movie_ids list into a set of sequences of a fixed length. We do the same for the ratings. Set the sequence_length variable to change the length of the input sequence to the model. You can also change the step_size to control the number of sequences to generate for each user.

In [78]:
sequence_length = 4
step_size = 2


def create_sequences(values, window_size, step_size):
    sequences = []
    start_index = 0
    while True:
        end_index = start_index + window_size
        seq = values[start_index:end_index]
        if len(seq) < window_size:
            seq = values[-window_size:]
            if len(seq) == window_size:
                sequences.append(seq)
            break
        sequences.append(seq)
        start_index += step_size
    return sequences


ratings_data.movie_ids = ratings_data.movie_ids.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

ratings_data.ratings = ratings_data.ratings.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

del ratings_data["timestamps"]

After that, we process the output to have each sequence in a separate records in the DataFrame. In addition, we join the user features with the ratings data.

In [79]:
ratings_data_movies = ratings_data[["user_id", "movie_ids"]].explode(
    "movie_ids", ignore_index=True
)
ratings_data_rating = ratings_data[["ratings"]].explode("ratings", ignore_index=True)
ratings_data_transformed = pd.concat([ratings_data_movies, ratings_data_rating], axis=1)
ratings_data_transformed = ratings_data_transformed.join(
    users.set_index("user_id"), on="user_id"
)
ratings_data_transformed.movie_ids = ratings_data_transformed.movie_ids.apply(
    lambda x: ",".join(x)
)
ratings_data_transformed.ratings = ratings_data_transformed.ratings.apply(
    lambda x: ",".join([str(v) for v in x])
)

del ratings_data_transformed["zip_code"]

ratings_data_transformed.rename(
    columns={"movie_ids": "sequence_movie_ids", "ratings": "sequence_ratings"},
    inplace=True,
)

With sequence_length of 4 and step_size of 2, we end up with 498,623 sequences.

Finally, we split the data into training and testing splits, with 85% and 15% of the instances, respectively, and store them to CSV files.

In [80]:
random_selection = np.random.rand(len(ratings_data_transformed.index)) <= 0.85
train_data = ratings_data_transformed[random_selection]
test_data = ratings_data_transformed[~random_selection]

train_data.to_csv(os.path.join(EXTRACT_DIR, "train_data.csv"), index=False, sep="|", header=False)
test_data.to_csv(os.path.join(EXTRACT_DIR, "test_data.csv"), index=False, sep="|", header=False)

## Define metadata

In [81]:
CSV_HEADER = list(ratings_data_transformed.columns)

CATEGORICAL_FEATURES_WITH_VOCABULARY = {
    "user_id": list(users.user_id.unique()),
    "movie_id": list(movies.movie_id.unique()),
    "sex": list(users.sex.unique()),
    "age_group": list(users.age_group.unique()),
    "occupation": list(users.occupation.unique()),
}

USER_FEATURES = ["sex", "age_group", "occupation"]

MOVIE_FEATURES = ["genres", "runtimeMinutes", "primaryName_encoded"]

## Create tf.data.Dataset for training and evaluation

In [82]:
def get_dataset_from_csv(csv_file_path, shuffle=False, batch_size=128):
    def process(features):
        movie_ids_string = features["sequence_movie_ids"]
        sequence_movie_ids = tf.strings.split(movie_ids_string, ",").to_tensor()

        # The last movie id in the sequence is the target movie.
        features["target_movie_id"] = sequence_movie_ids[:, -1]
        features["sequence_movie_ids"] = sequence_movie_ids[:, :-1]

        ratings_string = features["sequence_ratings"]
        sequence_ratings = tf.strings.to_number(
            tf.strings.split(ratings_string, ","), tf.dtypes.float32
        ).to_tensor()

        # The last rating in the sequence is the target for the model to predict.
        target = sequence_ratings[:, -1]
        features["sequence_ratings"] = sequence_ratings[:, :-1]

        return features, target

    dataset = tf.data.experimental.make_csv_dataset(
        csv_file_path,
        batch_size=batch_size,
        column_names=CSV_HEADER,
        num_epochs=1,
        header=False,
        field_delim="|",
        shuffle=shuffle,
    ).map(process)

    return dataset

## Create model inputs

In [83]:
def create_model_inputs():
    return {
        "user_id": keras.Input(name="user_id", shape=(1,), dtype="string"),
        "sequence_movie_ids": keras.Input(
            name="sequence_movie_ids", shape=(sequence_length - 1,), dtype="string"
        ),
        "target_movie_id": keras.Input(
            name="target_movie_id", shape=(1,), dtype="string"
        ),
        "sequence_ratings": keras.Input(
            name="sequence_ratings", shape=(sequence_length - 1,), dtype=tf.float32
        ),
        "sex": keras.Input(name="sex", shape=(1,), dtype="string"),
        "age_group": keras.Input(name="age_group", shape=(1,), dtype="string"),
        "occupation": keras.Input(name="occupation", shape=(1,), dtype="string"),
    }

## Encode input features
The encode_input_features method works as follows:

1. Each categorical user feature is encoded using layers.Embedding, with embedding dimension equals to the square root of the vocabulary size of the feature. The embeddings of these features are concatenated to form a single input tensor.

2. Each movie in the movie sequence and the target movie is encoded layers.Embedding, where the dimension size is the square root of the number of movies.

3. A multi-hot genres vector for each movie is concatenated with its embedding vector, and processed using a non-linear layers.Dense to output a vector of the same movie embedding dimensions.

4. A positional embedding is added to each movie embedding in the sequence, and then multiplied by its rating from the ratings sequence.

5. The target movie embedding is concatenated to the sequence movie embeddings, producing a tensor with the shape of [batch size, sequence length, embedding size], as expected by the attention layer for the transformer architecture.

6. The method returns a tuple of two elements: encoded_transformer_features and encoded_other_features.

In [84]:
def encode_input_features(
    inputs,
    include_user_id=True,
    include_user_features=True,
    include_movie_features=True,
):
    encoded_transformer_features = []
    encoded_other_features = []

    other_feature_names = []
    if include_user_id:
        other_feature_names.append("user_id")
    if include_user_features:
        other_feature_names.extend(USER_FEATURES)

    ## Encode user features
    for feature_name in other_feature_names:
        # Convert the string input values into integer indices.
        vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]
        idx = StringLookup(vocabulary=vocabulary, mask_token=None, num_oov_indices=0)(
            inputs[feature_name]
        )
        # Compute embedding dimensions
        embedding_dims = int(math.sqrt(len(vocabulary)))
        # Create an embedding layer with the specified dimensions.
        embedding_encoder = layers.Embedding(
            input_dim=len(vocabulary),
            output_dim=embedding_dims,
            name=f"{feature_name}_embedding",
        )
        # Convert the index values to embedding representations.
        encoded_other_features.append(embedding_encoder(idx))

    ## Create a single embedding vector for the user features
    if len(encoded_other_features) > 1:
        encoded_other_features = layers.concatenate(encoded_other_features)
    elif len(encoded_other_features) == 1:
        encoded_other_features = encoded_other_features[0]
    else:
        encoded_other_features = None

    ## Create a movie embedding encoder
    movie_vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY["movie_id"]
    movie_embedding_dims = int(math.sqrt(len(movie_vocabulary)))
    # Create a lookup to convert string values to integer indices.
    movie_index_lookup = StringLookup(
        vocabulary=movie_vocabulary,
        mask_token=None,
        num_oov_indices=0,
        name="movie_index_lookup",
    )
    # Create an embedding layer with the specified dimensions.
    movie_embedding_encoder = layers.Embedding(
        input_dim=len(movie_vocabulary),
        output_dim=movie_embedding_dims,
        name=f"movie_embedding",
    )
    # Create a vector lookup for movie features.
    movie_feature_vectors = movies[movie_features].to_numpy()
    movie_features_lookup = layers.Embedding(
        input_dim=movie_feature_vectors.shape[0],
        output_dim=movie_feature_vectors.shape[1],
        embeddings_initializer=keras.initializers.Constant(movie_feature_vectors),
        trainable=False,
        name="features_vector",
    )
    # Create a processing layer for genres.
    movie_embedding_processor = layers.Dense(
        units=movie_embedding_dims,
        activation="relu",
        name="process_movie_embedding_with_genres",
    )

    ## Define a function to encode a given movie id.
    def encode_movie(movie_id):
        # Convert the string input values into integer indices.
        movie_idx = movie_index_lookup(movie_id)
        movie_embedding = movie_embedding_encoder(movie_idx)
        encoded_movie = movie_embedding
        if include_movie_features:
            movie_genres_vector = movie_features_lookup(movie_idx)
            encoded_movie = movie_embedding_processor(
                layers.concatenate([movie_embedding, movie_genres_vector])
            )
        return encoded_movie

    ## Encoding target_movie_id
    target_movie_id = inputs["target_movie_id"]
    encoded_target_movie = encode_movie(target_movie_id)

    ## Encoding sequence movie_ids.
    sequence_movies_ids = inputs["sequence_movie_ids"]
    encoded_sequence_movies = encode_movie(sequence_movies_ids)
    # Create positional embedding.
    position_embedding_encoder = layers.Embedding(
        input_dim=sequence_length,
        output_dim=movie_embedding_dims,
        name="position_embedding",
    )
    positions = tf.range(start=0, limit=sequence_length - 1, delta=1)
    encodded_positions = position_embedding_encoder(positions)
    # Retrieve sequence ratings to incorporate them into the encoding of the movie.
    sequence_ratings = inputs["sequence_ratings"]
    sequence_ratings = keras.ops.expand_dims(sequence_ratings, -1)
    # Add the positional encoding to the movie encodings and multiply them by rating.
    encoded_sequence_movies_with_poistion_and_rating = layers.Multiply()(
        [(encoded_sequence_movies + encodded_positions), sequence_ratings]
    )

    # Construct the transformer inputs.
    for i in range(sequence_length - 1):
        feature = encoded_sequence_movies_with_poistion_and_rating[:, i, ...]
        feature = keras.ops.expand_dims(feature, 1)
        encoded_transformer_features.append(feature)
    encoded_transformer_features.append(encoded_target_movie)

    encoded_transformer_features = layers.concatenate(
        encoded_transformer_features, axis=1
    )

    return encoded_transformer_features, encoded_other_features

## Create a BST model

In [85]:
include_user_id = False
include_user_features = True
include_movie_features = True

hidden_units = [256, 128]
dropout_rate = 0.1
num_heads = 3


def create_model():
    inputs = create_model_inputs()
    transformer_features, other_features = encode_input_features(
        inputs, include_user_id, include_user_features, include_movie_features
    )

    # Create a multi-headed attention layer.
    attention_output = layers.MultiHeadAttention(
        num_heads=num_heads, key_dim=transformer_features.shape[2], dropout=dropout_rate
    )(transformer_features, transformer_features)

    # Transformer block.
    attention_output = layers.Dropout(dropout_rate)(attention_output)
    x1 = layers.Add()([transformer_features, attention_output])
    x1 = layers.LayerNormalization()(x1)
    x2 = layers.LeakyReLU()(x1)
    x2 = layers.Dense(units=x2.shape[-1])(x2)
    x2 = layers.Dropout(dropout_rate)(x2)
    transformer_features = layers.Add()([x1, x2])
    transformer_features = layers.LayerNormalization()(transformer_features)
    features = layers.Flatten()(transformer_features)

    # Included the other features.
    if other_features is not None:
        features = layers.concatenate(
            [features, layers.Reshape([other_features.shape[-1]])(other_features)]
        )

    # Fully-connected layers.
    for num_units in hidden_units:
        features = layers.Dense(num_units)(features)
        features = layers.BatchNormalization()(features)
        features = layers.LeakyReLU()(features)
        features = layers.Dropout(dropout_rate)(features)

    outputs = layers.Dense(units=1)(features)
    model = keras.Model(inputs=inputs, outputs=outputs)
    return model


model = create_model()

## Run training and evaluation experiment

In [86]:
# Compile the model.
model.compile(
    optimizer=keras.optimizers.Adagrad(learning_rate=0.01),
    loss=keras.losses.MeanSquaredError(),
    metrics=[keras.metrics.MeanAbsoluteError()],
)

# Read the training data.
train_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "train_data.csv"), shuffle=True, batch_size=265)

# Fit the model with the training data.
model.fit(train_dataset, epochs=1)

# Read the test data.
test_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "test_data.csv"), batch_size=265)

# Evaluate the model on the test data.
_, rmse = model.evaluate(test_dataset, verbose=0)
print(f"Test MAE: {round(rmse, 3)}")

1600/1600 ━━━━━━━━━━━━━━━━━━━━ 49s 25ms/step - loss: 1.7346 - mean_absolute_error: 1.0337

C:\Python312\Lib\contextlib.py:158: UserWarning: Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches. You may need to use the `.repeat()` function when building your dataset.
  self.gen.throw(value)

Test MAE: 0.848

In [89]:
for data, target in train_dataset.take(1):
    print(f"Data batch: {data}")
    print(f"Target batch: {target}")
    break

#Print the shape of the batch and the target batch
print(f"Shape of the batch: {data['user_id'].shape}")
print(f"Shape of the target batch: {target.shape}")

Data batch: OrderedDict({'user_id': <tf.Tensor: shape=(265,), dtype=string, numpy=
array([b'user_1086', b'user_1100', b'user_1100', b'user_1069',
       b'user_1088', b'user_1088', b'user_1077', b'user_1050',
       b'user_1069', b'user_1086', b'user_1015', b'user_1015',
       b'user_1001', b'user_1010', b'user_1038', b'user_1067',
       b'user_1010', b'user_1112', b'user_1088', b'user_1100',
       b'user_1044', b'user_1030', b'user_1086', b'user_1040',
       b'user_1105', b'user_1105', b'user_1057', b'user_1113',
       b'user_1045', b'user_1030', b'user_1016', b'user_1015',
       b'user_1114', b'user_1034', b'user_1017', b'user_1065',
       b'user_1036', b'user_10', b'user_1019', b'user_1051', b'user_1100',
       b'user_1096', b'user_1015', b'user_1050', b'user_1117',
       b'user_1100', b'user_1015', b'user_1019', b'user_1093',
       b'user_1023', b'user_1086', b'user_1117', b'user_1010',
       b'user_1001', b'user_1053', b'user_1029', b'user_1074',
       b'user_1069', b'user_1059', b'user_1056', b'user_1072',
       b'user_1010', b'user_1088', b'user_1014', b'user_1071',
       b'user_1026', b'user_1058', b'user_1039', b'user_1019',
       b'user_1096', b'user_1116', b'user_1069', b'user_1113',
       b'user_1088', b'user_1010', b'user_1107', b'user_1029',
       b'user_1017', b'user_1059', b'user_1019', b'user_1015',
       b'user_1051', b'user_1040', b'user_1034', b'user_1071',
       b'user_1004', b'user_1062', b'user_1035', b'user_1017',
       b'user_1010', b'user_1040', b'user_1017', b'user_1097',
       b'user_1019', b'user_1051', b'user_1019', b'user_1113',
       b'user_107', b'user_1096', b'user_1040', b'user_1105',
       b'user_1015', b'user_1101', b'user_1069', b'user_1088',
       b'user_1050', b'user_1001', b'user_1054', b'user_1088',
       b'user_1062', b'user_1054', b'user_1002', b'user_1059',
       b'user_1087', b'user_1051', b'user_1030', b'user_1058',
       b'user_1015', b'user_1100', b'user_1077', b'user_1038',
       b'user_1019', b'user_1100', b'user_1004', b'user_1104',
       b'user_1101', b'user_1068', b'user_1039', b'user_107',
       b'user_1019', b'user_1060', b'user_1003', b'user_1010',
       b'user_1036', b'user_1090', b'user_1015', b'user_1066',
       b'user_1058', b'user_1086', b'user_1088', b'user_1087',
       b'user_1019', b'user_1094', b'user_1087', b'user_1064',
       b'user_1117', b'user_11', b'user_1088', b'user_1112', b'user_1006',
       b'user_1017', b'user_1017', b'user_1019', b'user_1017',
       b'user_1015', b'user_1088', b'user_1097', b'user_1090',
       b'user_1051', b'user_1015', b'user_10', b'user_1088', b'user_1015',
       b'user_1017', b'user_1101', b'user_1059', b'user_1012',
       b'user_1101', b'user_1007', b'user_1096', b'user_1077',
       b'user_1077', b'user_110', b'user_1015', b'user_1015',
       b'user_1017', b'user_1050', b'user_1093', b'user_1071',
       b'user_1026', b'user_1029', b'user_107', b'user_1010',
       b'user_1058', b'user_1051', b'user_1080', b'user_1010',
       b'user_1008', b'user_1019', b'user_1086', b'user_1019',
       b'user_1019', b'user_1053', b'user_1017', b'user_1009',
       b'user_1091', b'user_1018', b'user_1058', b'user_1087',
       b'user_1050', b'user_1112', b'user_1112', b'user_1051',
       b'user_1109', b'user_1088', b'user_1094', b'user_1015',
       b'user_1113', b'user_1089', b'user_1116', b'user_1064',
       b'user_1015', b'user_1015', b'user_1116', b'user_1015',
       b'user_1019', b'user_1110', b'user_1111', b'user_1053',
       b'user_1023', b'user_1119', b'user_1015', b'user_10', b'user_1112',
       b'user_1013', b'user_1064', b'user_1038', b'user_1088',
       b'user_1088', b'user_1097', b'user_1079', b'user_1058',
       b'user_1059', b'user_1116', b'user_1116', b'user_1117',
       b'user_1019', b'user_1077', b'user_1011', b'user_1016',
       b'user_1079', b'user_1059', b'user_1077', b'user_1001',
       b'user_1057', b'user_1087', b'user_1096', b'user_1033',
       b'user_1053', b'user_1117', b'user_1086', b'user_1074',
       b'user_1023', b'user_1019', b'user_1088', b'user_1058',
       b'user_1004', b'user_1008', b'user_1117', b'user_1019',
       b'user_1029', b'user_1053', b'user_1010', b'user_1056',
       b'user_1096'], dtype=object)>, 'sequence_movie_ids': <tf.Tensor: shape=(265, 3), dtype=string, numpy=
array([[b'movie_368', b'movie_1377', b'movie_434'],
       [b'movie_1353', b'movie_1167', b'movie_420'],
       [b'movie_492', b'movie_2759', b'movie_1270'],
       [b'movie_2024', b'movie_2305', b'movie_314'],
       [b'movie_95', b'movie_2644', b'movie_3717'],
       [b'movie_1784', b'movie_3548', b'movie_994'],
       [b'movie_3467', b'movie_2700', b'movie_2959'],
       [b'movie_58', b'movie_1721', b'movie_1393'],
       [b'movie_11', b'movie_2481', b'movie_647'],
       [b'movie_3418', b'movie_1552', b'movie_2985'],
       [b'movie_3703', b'movie_2571', b'movie_29'],
       [b'movie_1206', b'movie_1200', b'movie_3703'],
       [b'movie_137', b'movie_2171', b'movie_1535'],
       [b'movie_382', b'movie_3709', b'movie_1762'],
       [b'movie_1362', b'movie_1814', b'movie_2132'],
       [b'movie_2682', b'movie_1945', b'movie_541'],
       [b'movie_122', b'movie_216', b'movie_818'],
       [b'movie_3156', b'movie_2797', b'movie_1866'],
       [b'movie_2763', b'movie_1377', b'movie_1616'],
       [b'movie_2161', b'movie_2083', b'movie_60'],
       [b'movie_361', b'movie_1136', b'movie_852'],
       [b'movie_1591', b'movie_1438', b'movie_172'],
       [b'movie_2762', b'movie_720', b'movie_1'],
       [b'movie_3543', b'movie_1189', b'movie_1307'],
       [b'movie_296', b'movie_1213', b'movie_608'],
       [b'movie_750', b'movie_3363', b'movie_1228'],
       [b'movie_858', b'movie_1213', b'movie_1041'],
       [b'movie_69', b'movie_1732', b'movie_1079'],
       [b'movie_3826', b'movie_2396', b'movie_1'],
       [b'movie_2531', b'movie_653', b'movie_153'],
       [b'movie_2126', b'movie_12', b'movie_160'],
       [b'movie_493', b'movie_507', b'movie_1101'],
       [b'movie_1197', b'movie_1307', b'movie_916'],
       [b'movie_2433', b'movie_3546', b'movie_1088'],
       [b'movie_2462', b'movie_2107', b'movie_1756'],
       [b'movie_1673', b'movie_3481', b'movie_908'],
       [b'movie_2997', b'movie_1294', b'movie_1244'],
       [b'movie_364', b'movie_3451', b'movie_2100'],
       [b'movie_3267', b'movie_1036', b'movie_2948'],
       [b'movie_3489', b'movie_2269', b'movie_2548'],
       [b'movie_1021', b'movie_1367', b'movie_575'],
       [b'movie_413', b'movie_546', b'movie_54'],
       [b'movie_3070', b'movie_2011', b'movie_3927'],
       [b'movie_832', b'movie_1810', b'movie_805'],
       [b'movie_1259', b'movie_3793', b'movie_1466'],
       [b'movie_3034', b'movie_34', b'movie_919'],
       [b'movie_2288', b'movie_1348', b'movie_1333'],
       [b'movie_2011', b'movie_2134', b'movie_2133'],
       [b'movie_2571', b'movie_2944', b'movie_110'],
       [b'movie_3929', b'movie_1965', b'movie_661'],
       [b'movie_2329', b'movie_247', b'movie_1704'],
       [b'movie_185', b'movie_379', b'movie_2688'],
       [b'movie_3786', b'movie_2959', b'movie_2718'],
       [b'movie_2558', b'movie_3115', b'movie_2586'],
       [b'movie_10', b'movie_2990', b'movie_112'],
       [b'movie_2174', b'movie_2144', b'movie_3608'],
       [b'movie_2470', b'movie_3178', b'movie_2788'],
       [b'movie_3156', b'movie_1620', b'movie_2850'],
       [b'movie_3629', b'movie_1812', b'movie_50'],
       [b'movie_2167', b'movie_1991', b'movie_70'],
       [b'movie_58', b'movie_898', b'movie_1387'],
       [b'movie_2407', b'movie_3699', b'movie_3101'],
       [b'movie_1069', b'movie_942', b'movie_2485'],
       [b'movie_3267', b'movie_1954', b'movie_527'],
       [b'movie_3368', b'movie_1286', b'movie_468'],
       [b'movie_3855', b'movie_3749', b'movie_3916'],
       [b'movie_1396', b'movie_2662', b'movie_329'],
       [b'movie_2997', b'movie_3516', b'movie_2908'],
       [b'movie_3629', b'movie_1235', b'movie_3504'],
       [b'movie_1722', b'movie_2167', b'movie_1061'],
       [b'movie_2393', b'movie_951', b'movie_593'],
       [b'movie_258', b'movie_1831', b'movie_519'],
       [b'movie_2195', b'movie_410', b'movie_2012'],
       [b'movie_2336', b'movie_3178', b'movie_2571'],
       [b'movie_2597', b'movie_833', b'movie_351'],
       [b'movie_1641', b'movie_3712', b'movie_141'],
       [b'movie_1378', b'movie_3490', b'movie_2554'],
       [b'movie_3217', b'movie_2640', b'movie_2554'],
       [b'movie_1084', b'movie_1228', b'movie_1263'],
       [b'movie_1219', b'movie_608', b'movie_111'],
       [b'movie_314', b'movie_2502', b'movie_477'],
       [b'movie_330', b'movie_1858', b'movie_2432'],
       [b'movie_50', b'movie_296', b'movie_800'],
       [b'movie_2701', b'movie_974', b'movie_919'],
       [b'movie_1946', b'movie_866', b'movie_3117'],
       [b'movie_1167', b'movie_762', b'movie_1863'],
       [b'movie_111', b'movie_928', b'movie_608'],
       [b'movie_2114', b'movie_2872', b'movie_3753'],
       [b'movie_3934', b'movie_1673', b'movie_3930'],
       [b'movie_2966', b'movie_3831', b'movie_3617'],
       [b'movie_1805', b'movie_1268', b'movie_507'],
       [b'movie_1909', b'movie_2687', b'movie_906'],
       [b'movie_2772', b'movie_1569', b'movie_1485'],
       [b'movie_2411', b'movie_1291', b'movie_2115'],
       [b'movie_1625', b'movie_1805', b'movie_47'],
       [b'movie_2060', b'movie_1640', b'movie_327'],
       [b'movie_2580', b'movie_431', b'movie_2280'],
       [b'movie_3093', b'movie_2863', b'movie_1674'],
       [b'movie_2', b'movie_494', b'movie_1542'],
       [b'movie_1387', b'movie_3471', b'movie_1997'],
       [b'movie_2391', b'movie_1466', b'movie_2912'],
       [b'movie_1265', b'movie_1238', b'movie_3114'],
       [b'movie_2287', b'movie_2527', b'movie_2407'],
       [b'movie_2546', b'movie_3127', b'movie_1659'],
       [b'movie_1556', b'movie_393', b'movie_2549'],
       [b'movie_429', b'movie_218', b'movie_550'],
       [b'movie_1184', b'movie_1580', b'movie_2721'],
       [b'movie_3809', b'movie_1569', b'movie_2302'],
       [b'movie_2273', b'movie_2193', b'movie_303'],
       [b'movie_1293', b'movie_1234', b'movie_595'],
       [b'movie_3439', b'movie_1499', b'movie_181'],
       [b'movie_2702', b'movie_3176', b'movie_2987'],
       [b'movie_2384', b'movie_2779', b'movie_3450'],
       [b'movie_3578', b'movie_2716', b'movie_2690'],
       [b'movie_2096', b'movie_1032', b'movie_3549'],
       [b'movie_2532', b'movie_2410', b'movie_3744'],
       [b'movie_3178', b'movie_3107', b'movie_1047'],
       [b'movie_1804', b'movie_762', b'movie_3627'],
       [b'movie_2889', b'movie_2155', b'movie_718'],
       [b'movie_1240', b'movie_3576', b'movie_1345'],
       [b'movie_593', b'movie_3712', b'movie_1419'],
       [b'movie_473', b'movie_1445', b'movie_2583'],
       [b'movie_1188', b'movie_3363', b'movie_3052'],
       [b'movie_1220', b'movie_2872', b'movie_1291'],
       [b'movie_1230', b'movie_3863', b'movie_3897'],
       [b'movie_2401', b'movie_2117', b'movie_1291'],
       [b'movie_1825', b'movie_333', b'movie_2881'],
       [b'movie_2712', b'movie_2688', b'movie_2716'],
       [b'movie_908', b'movie_594', b'movie_2010'],
       [b'movie_2287', b'movie_3527', b'movie_22'],
       [b'movie_733', b'movie_1608', b'movie_2273'],
       [b'movie_2268', b'movie_29', b'movie_260'],
       [b'movie_11', b'movie_440', b'movie_2282'],
       [b'movie_1244', b'movie_953', b'movie_1080'],
       [b'movie_1573', b'movie_3623', b'movie_648'],
       [b'movie_1212', b'movie_1252', b'movie_1249'],
       [b'movie_3549', b'movie_1380', b'movie_1088'],
       [b'movie_2949', b'movie_3624', b'movie_1429'],
       [b'movie_1961', b'movie_1302', b'movie_3361'],
       [b'movie_485', b'movie_3438', b'movie_227'],
       [b'movie_3175', b'movie_3527', b'movie_2657'],
       [b'movie_2770', b'movie_3618', b'movie_1701'],
       [b'movie_3897', b'movie_3916', b'movie_3879'],
       [b'movie_2797', b'movie_150', b'movie_2076'],
       [b'movie_1242', b'movie_608', b'movie_1231'],
       [b'movie_800', b'movie_1639', b'movie_2571'],
       [b'movie_2858', b'movie_608', b'movie_1704'],
       [b'movie_2081', b'movie_1032', b'movie_1366'],
       [b'movie_1230', b'movie_3051', b'movie_3173'],
       [b'movie_180', b'movie_3052', b'movie_1917'],
       [b'movie_2657', b'movie_2560', b'movie_565'],
       [b'movie_1323', b'movie_3665', b'movie_1989'],
       [b'movie_2423', b'movie_2418', b'movie_2245'],
       [b'movie_3664', b'movie_3663', b'movie_1979'],
       [b'movie_3872', b'movie_1295', b'movie_1962'],
       [b'movie_575', b'movie_1409', b'movie_1629'],
       [b'movie_2701', b'movie_3173', b'movie_2791'],
       [b'movie_2433', b'movie_2546', b'movie_1093'],
       [b'movie_1620', b'movie_736', b'movie_180'],
       [b'movie_916', b'movie_1449', b'movie_1294'],
       [b'movie_1653', b'movie_592', b'movie_1104'],
       [b'movie_2398', b'movie_1086', b'movie_2716'],
       [b'movie_2311', b'movie_1092', b'movie_1711'],
       [b'movie_3344', b'movie_1258', b'movie_2716'],
       [b'movie_2448', b'movie_3914', b'movie_1565'],
       [b'movie_1296', b'movie_300', b'movie_2065'],
       [b'movie_2406', b'movie_2469', b'movie_2405'],
       [b'movie_2648', b'movie_2366', b'movie_2716'],
       [b'movie_1270', b'movie_2791', b'movie_2150'],
       [b'movie_2027', b'movie_1876', b'movie_524'],
       [b'movie_1912', b'movie_3089', b'movie_1913'],
       [b'movie_3871', b'movie_2529', b'movie_3196'],
       [b'movie_2616', b'movie_2605', b'movie_2001'],
       [b'movie_231', b'movie_3544', b'movie_499'],
       [b'movie_117', b'movie_1472', b'movie_532'],
       [b'movie_2853', b'movie_2613', b'movie_426'],
       [b'movie_1449', b'movie_2718', b'movie_1060'],
       [b'movie_39', b'movie_920', b'movie_2947'],
       [b'movie_931', b'movie_933', b'movie_2919'],
       [b'movie_1617', b'movie_1267', b'movie_1069'],
       [b'movie_3481', b'movie_3831', b'movie_2718'],
       [b'movie_1272', b'movie_2917', b'movie_2819'],
       [b'movie_3952', b'movie_3148', b'movie_1594'],
       [b'movie_2968', b'movie_480', b'movie_1127'],
       [b'movie_440', b'movie_1517', b'movie_3255'],
       [b'movie_36', b'movie_2313', b'movie_3069'],
       [b'movie_2149', b'movie_2928', b'movie_903'],
       [b'movie_2762', b'movie_2702', b'movie_2700'],
       [b'movie_1845', b'movie_1772', b'movie_2932'],
       [b'movie_1', b'movie_589', b'movie_1223'],
       [b'movie_1101', b'movie_2403', b'movie_3441'],
       [b'movie_3791', b'movie_2146', b'movie_2639'],
       [b'movie_2598', b'movie_3157', b'movie_2670'],
       [b'movie_3863', b'movie_3064', b'movie_1248'],
       [b'movie_3751', b'movie_3861', b'movie_3566'],
       [b'movie_736', b'movie_1801', b'movie_1792'],
       [b'movie_3682', b'movie_553', b'movie_3671'],
       [b'movie_2599', b'movie_1265', b'movie_2542'],
       [b'movie_60', b'movie_2054', b'movie_2021'],
       [b'movie_3476', b'movie_2606', b'movie_2976'],
       [b'movie_3439', b'movie_1240', b'movie_1958'],
       [b'movie_2048', b'movie_3147', b'movie_1265'],
       [b'movie_45', b'movie_1732', b'movie_1747'],
       [b'movie_1732', b'movie_1597', b'movie_1754'],
       [b'movie_1231', b'movie_3386', b'movie_1961'],
       [b'movie_1204', b'movie_912', b'movie_2396'],
       [b'movie_2148', b'movie_2976', b'movie_1128'],
       [b'movie_923', b'movie_3683', b'movie_924'],
       [b'movie_1337', b'movie_2644', b'movie_2664'],
       [b'movie_1220', b'movie_21', b'movie_1966'],
       [b'movie_1476', b'movie_3448', b'movie_1721'],
       [b'movie_750', b'movie_1199', b'movie_1206'],
       [b'movie_1831', b'movie_1882', b'movie_1544'],
       [b'movie_3868', b'movie_2290', b'movie_2000'],
       [b'movie_3361', b'movie_3088', b'movie_1'],
       [b'movie_3255', b'movie_2318', b'movie_785'],
       [b'movie_3053', b'movie_3752', b'movie_3623'],
       [b'movie_932', b'movie_2846', b'movie_969'],
       [b'movie_3104', b'movie_457', b'movie_1196'],
       [b'movie_1721', b'movie_912', b'movie_1148'],
       [b'movie_3471', b'movie_1214', b'movie_1253'],
       [b'movie_988', b'movie_497', b'movie_2208'],
       [b'movie_3039', b'movie_2393', b'movie_1025'],
       [b'movie_2761', b'movie_880', b'movie_953'],
       [b'movie_1221', b'movie_910', b'movie_735'],
       [b'movie_74', b'movie_2297', b'movie_1726'],
       [b'movie_2313', b'movie_527', b'movie_2238'],
       [b'movie_1499', b'movie_2622', b'movie_1225'],
       [b'movie_3298', b'movie_1542', b'movie_2195'],
       [b'movie_1552', b'movie_648', b'movie_1049'],
       [b'movie_1892', b'movie_454', b'movie_230'],
       [b'movie_1080', b'movie_3363', b'movie_1079'],
       [b'movie_2000', b'movie_2499', b'movie_1057'],
       [b'movie_1180', b'movie_946', b'movie_125'],
       [b'movie_2108', b'movie_2355', b'movie_3104'],
       [b'movie_2872', b'movie_1961', b'movie_1297'],
       [b'movie_1093', b'movie_3142', b'movie_1088'],
       [b'movie_497', b'movie_1220', b'movie_2467'],
       [b'movie_2968', b'movie_2174', b'movie_3153'],
       [b'movie_3450', b'movie_728', b'movie_10'],
       [b'movie_2997', b'movie_1213', b'movie_1179'],
       [b'movie_1061', b'movie_999', b'movie_2268'],
       [b'movie_1288', b'movie_3267', b'movie_1283'],
       [b'movie_1393', b'movie_896', b'movie_1635'],
       [b'movie_1348', b'movie_1926', b'movie_3012'],
       [b'movie_3155', b'movie_3179', b'movie_2710'],
       [b'movie_2006', b'movie_22', b'movie_344'],
       [b'movie_610', b'movie_1130', b'movie_2613'],
       [b'movie_1689', b'movie_113', b'movie_1018'],
       [b'movie_3173', b'movie_3513', b'movie_3300'],
       [b'movie_2806', b'movie_2672', b'movie_2907'],
       [b'movie_1240', b'movie_1097', b'movie_2946'],
       [b'movie_969', b'movie_940', b'movie_1214'],
       [b'movie_2520', b'movie_2877', b'movie_1073'],
       [b'movie_2702', b'movie_2172', b'movie_2676'],
       [b'movie_1073', b'movie_2174', b'movie_2138'],
       [b'movie_2405', b'movie_2365', b'movie_2582'],
       [b'movie_3175', b'movie_2392', b'movie_785'],
       [b'movie_2352', b'movie_2076', b'movie_3868'],
       [b'movie_1298', b'movie_2474', b'movie_2022'],
       [b'movie_2406', b'movie_2751', b'movie_3552'],
       [b'movie_3628', b'movie_1722', b'movie_733'],
       [b'movie_368', b'movie_292', b'movie_2393'],
       [b'movie_1977', b'movie_2315', b'movie_1978'],
       [b'movie_2700', b'movie_551', b'movie_3147']], dtype=object)>, 'sequence_ratings': <tf.Tensor: shape=(265, 3), dtype=float32, numpy=
array([[4., 4., 3.],
       [3., 1., 1.],
       [4., 2., 3.],
       [4., 1., 5.],
       [3., 5., 3.],
       [4., 4., 4.],
       [4., 2., 4.],
       [3., 3., 3.],
       [3., 4., 5.],
       [3., 3., 2.],
       [4., 5., 5.],
       [4., 5., 4.],
       [3., 5., 4.],
       [1., 2., 1.],
       [4., 2., 4.],
       [4., 4., 5.],
       [1., 3., 1.],
       [2., 4., 1.],
       [4., 4., 4.],
       [2., 1., 4.],
       [3., 4., 3.],
       [3., 2., 1.],
       [4., 5., 4.],
       [5., 5., 5.],
       [4., 5., 5.],
       [5., 5., 5.],
       [4., 4., 5.],
       [5., 5., 5.],
       [3., 5., 4.],
       [4., 3., 4.],
       [3., 1., 2.],
       [3., 3., 4.],
       [3., 5., 5.],
       [3., 1., 4.],
       [2., 3., 3.],
       [4., 4., 3.],
       [4., 5., 5.],
       [4., 5., 5.],
       [3., 3., 3.],
       [4., 2., 2.],
       [1., 1., 1.],
       [1., 2., 1.],
       [4., 4., 4.],
       [3., 3., 3.],
       [4., 4., 3.],
       [1., 4., 3.],
       [3., 4., 5.],
       [1., 1., 1.],
       [4., 3., 4.],
       [4., 4., 4.],
       [5., 3., 5.],
       [2., 3., 3.],
       [3., 4., 3.],
       [2., 4., 3.],
       [4., 4., 4.],
       [3., 3., 4.],
       [4., 4., 3.],
       [1., 1., 5.],
       [2., 3., 3.],
       [5., 4., 5.],
       [5., 5., 4.],
       [3., 2., 3.],
       [3., 4., 3.],
       [1., 2., 5.],
       [5., 5., 5.],
       [4., 3., 4.],
       [4., 4., 3.],
       [2., 5., 4.],
       [5., 5., 4.],
       [3., 2., 4.],
       [3., 4., 5.],

## We can now make prediction of the ratings

In [87]:
# Use the model to get predictions.
predictions = model.predict(test_dataset)
print(predictions[:1000])
# Print the real target values.
for batch in test_dataset.take(1):
    print(batch[1][:1000])

# Compute the model's MAE
mae = np.mean(np.abs(predictions - batch[1]))
print(f"Mean Absolute Error: {round(mae, 3)}")

283/283 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step
[[3.9059536]
 [3.8607876]
 [3.6287692]
 [3.7188241]
 [3.295462 ]
 [3.738754 ]
 [4.0570498]
 [4.028822 ]
 [3.8333988]
 [3.916014 ]
 [4.02771  ]
 [3.9986763]
 [3.917299 ]
 [4.169538 ]
 [3.909094 ]
 [4.158414 ]
 [3.979862 ]
 [3.9790814]
 [4.1220903]
 [4.082652 ]
 [3.6461434]
 [3.480868 ]
 [3.788239 ]
 [3.9285698]
 [4.136835 ]
 [4.044582 ]
 [4.063519 ]
 [3.926677 ]
 [4.0445533]
 [3.263559 ]
 [3.3811424]
 [3.4978669]
 [4.1469774]
 [3.3169234]
 [3.5357444]
 [4.072784 ]
 [3.8539338]
 [4.1740046]
 [3.7741425]
 [3.4695923]
 [3.7610104]
 [3.8211513]
 [3.9995768]
 [2.991216 ]
 [3.8603776]
 [3.415403 ]
 [3.8304906]
 [3.848763 ]
 [3.5194972]
 [4.214438 ]
 [3.5373814]
 [3.8215501]
 [3.3814864]
 [3.7921598]
 [3.3361638]
 [3.322066 ]
 [4.1324005]
 [3.3843677]
 [3.0836675]
 [3.3720732]
 [4.227585 ]
 [4.0935693]
 [3.9549854]
 [3.9802804]
 [4.130663 ]
 [3.9912288]
 [3.6719515]
 [3.705902 ]
 [3.4509466]
 [3.8347912]
 [3.783335 ]
 [3.742699 ]
 [3.0002036]
 [3.6555018]
 [3.635977 ]
 [3.1256483]
 [3.7081494]
 [3.3543932]
 [2.800897 ]
 [3.4193203]
 [3.9961584]
 [3.7522585]
 [3.841213 ]
 [3.7666156]
 [3.7853029]
 [2.6844938]
 [4.144388 ]
 [4.079681 ]
 [3.958111 ]
 [3.5656633]
 [4.073818 ]
 [3.080467 ]
 [4.0414715]
 [3.731078 ]
 [3.793602 ]
 [3.7724745]
 [3.798394 ]
 [3.9936633]
 [3.737569 ]
 [4.1135626]
 [3.4061835]
 [3.7971354]
 [3.4995494]
 [3.5939639]
 [3.1908085]
 [3.1511843]
 [3.3555448]
 [4.136655 ]
 [3.9454377]
 [4.1184616]
 [3.9225168]
 [4.1440973]
 [3.7133167]
 [3.158477 ]
 [2.9691815]
 [3.9890838]
 [4.043284 ]
 [3.9708772]
 [3.7363932]
 [3.8592093]
 [3.9264448]
 [3.7650964]
 [3.686488 ]
 [4.31621  ]
 [3.6027586]
 [4.186301 ]
 [3.9330506]
 [4.036679 ]
 [3.9822729]
 [3.9422243]
 [4.030646 ]
 [4.1096168]
 [4.0377717]
 [3.8796864]
 [3.885664 ]
 [3.4350398]
 [3.2484057]
 [3.5670643]
 [3.842178 ]
 [3.5011427]
 [3.679836 ]
 [4.145896 ]
 [3.627423 ]
 [3.2446463]
 [2.342282 ]
 [2.8965585]
 [3.7373843]
 [3.8545747]
 [3.7795832]
 [3.5752037]
 [3.1174448]
 [2.7943878]
 [2.6583903]
 [2.2740276]
 [2.8447282]
 [3.8945649]
 [3.8602545]
 [3.4643154]
 [3.4039083]
 [2.6910658]
 [2.8358219]
 [2.9893744]
 [2.5057604]
 [2.3887253]
 [2.2960713]
 [2.6340015]
 [2.2560222]
 [3.1284468]
 [3.197822 ]
 [3.1087084]
 [3.5351026]
 [2.8546813]
 [3.9034102]
 [2.81266  ]
 [3.7863004]
 [3.094171 ]
 [2.3051238]
 [2.5576024]
 [2.6032424]
 [2.9707563]
 [2.6542692]
 [3.4989796]
 [3.4210827]
 [4.35349  ]
 [3.7087023]
 [3.557989 ]
 [3.6822784]
 [3.79411  ]
 [3.1999843]
 [3.632768 ]
 [3.3931205]
 [3.6223962]
 [3.2106237]
 [3.1367216]
 [3.4269679]
 [3.4522102]
 [2.7415874]
 [3.923283 ]
 [3.7973788]
 [4.1015606]
 [3.94717  ]
 [3.8126044]
 [3.4799287]
 [3.029856 ]
 [3.1647718]
 [4.04272  ]
 [3.7313888]
 [3.0039158]
 [3.0796688]
 [3.599158 ]
 [3.9034822]
 [3.8678904]
 [4.0112033]
 [3.8699157]
 [3.9988472]
 [3.9474041]
 [3.434418 ]
 [3.7573864]
 [4.000981 ]
 [4.0244365]
 [3.6206937]
 [3.968817 ]
 [3.5935593]
 [3.842512 ]
 [3.0807645]
 [4.1060524]
 [4.1322436]
 [3.1286366]
 [3.951025 ]
 [3.69444  ]
 [4.0426207]
 [3.8022068]
 [2.8292892]
 [3.1227934]
 [4.053354 ]
 [4.1086545]
 [4.1828156]
 [3.6123903]
 [3.6707733]
 [3.848942 ]
 [2.958106 ]
 [3.388089 ]
 [4.224806 ]
 [3.4646678]
 [3.5480518]
 [4.1152444]
 [4.08925  ]
 [4.184352 ]
 [4.0771904]
 [3.5910099]
 [4.023053 ]
 [4.011186 ]
 [4.0445514]
 [4.038827 ]
 [3.9024048]
 [3.8112304]
 [3.9903944]
 [4.0135345]
 [3.94075  ]
 [3.5959074]
 [3.6634467]
 [3.7150338]
 [3.7679863]
 [3.6528177]
 [3.561783 ]
 [4.10296  ]
 [3.8198822]
 [4.00189  ]
 [4.1468363]
 [3.9016414]
 [3.3059013]
 [3.295985 ]
 [4.131095 ]
 [3.6799264]
 [3.6720366]
 [3.1317294]
 [3.8920357]
 [3.4805167]
 [3.6769474]
 [3.9950197]
 [3.3057773]
 [3.7054973]
 [3.925423 ]
 [3.1996381]
 [4.09951  ]
 [4.084887 ]
 [3.7342641]
 [3.6280727]
 [3.8942316]
 [3.457494 ]
 [3.8477335]
 [3.7834246]
 [3.5082262]
 [3.6916604]
 [4.056427 ]
 [4.095265 ]
 [3.9545662]
 [3.7247193]
 [3.9668071]
 [3.8771007]
 [3.7363274]
 [3.7057686]
 [3.6583188]
 [3.5686538]
 [2.9074047]
 [3.8389559]
 [3.7834089]
 [3.078479 ]
 [3.4161198]
 [3.608079 ]
 [4.010519 ]
 [3.8755639]
 [3.9142895]
 [4.1209984]
 [4.147335 ]
 [3.785716 ]
 [4.020221 ]
 [3.376015 ]
 [3.645081 ]
 [3.7126954]
 [3.5805814]
 [3.9664366]
 [3.4215944]
 [3.7693975]
 [4.0721693]
 [3.9799829]
 [3.7568016]
 [3.3727906]
 [3.8990943]
 [4.270731 ]
 [3.7438486]
 [3.4099276]
 [2.8575118]
 [4.0555153]
 [3.8710744]
 [3.7972977]
 [3.9621632]
 [4.116855 ]
 [3.739519 ]
 [3.94325  ]
 [3.8572483]
 [3.9426603]
 [2.6983726]
 [3.5909202]
 [3.6860793]
 [3.2551782]
 [4.130276 ]
 [3.328783 ]
 [3.5144982]
 [2.9511902]
 [3.7394698]
 [4.133682 ]
 [3.6292717]
 [3.533751 ]
 [3.4626696]
 [3.4427562]
 [3.6559985]
 [3.790802 ]
 [3.4694602]
 [2.8455925]
 [3.63928  ]
 [3.841502 ]
 [3.6969507]
 [3.8086128]
 [3.9063604]
 [3.792014 ]
 [3.3639143]
 [3.3083322]
 [3.2826517]
 [3.6787572]
 [3.860706 ]
 [4.0808053]
 [3.9711044]
 [4.0197315]
 [4.151762 ]
 [3.5570002]
 [4.069851 ]
 [3.8467302]
 [4.0388737]
 [4.0944233]
 [4.1972437]
 [3.6773512]
 [3.301466 ]
 [2.8916838]
 [4.123975 ]
 [4.00314  ]
 [3.943762 ]
 [4.0183105]
 [3.6698012]
 [3.353513 ]
 [3.9385011]
 [3.8125355]
 [3.1567662]
 [3.5423863]
 [3.633788 ]
 [4.0005083]
 [4.0865073]
 [4.1437225]
 [4.0454254]
 [3.7259066]
 [4.085326 ]
 [3.3113706]
 [4.0731745]
 [3.1648395]
 [3.9186108]
 [3.4905536]
 [4.1215787]
 [3.9797418]
 [3.6052785]
 [3.183265 ]
 [3.4693635]
 [2.9441936]
 [3.2818975]
 [3.0781882]
 [2.7638938]
 [2.8179977]
 [3.882674 ]
 [2.4333878]
 [3.4108384]
 [2.450792 ]
 [2.8934388]
 [3.7549498]
 [4.142208 ]
 [4.008984 ]
 [3.5475376]
 [3.669868 ]
 [3.6999333]
 [3.5775464]
 [4.146758 ]
 [2.8380222]
 [2.3162694]
 [3.7488408]
 [3.3039844]
 [3.3019564]
 [2.8753037]
 [3.313188 ]
 [2.5689423]
 [3.9525948]
 [3.7504845]
 [3.1461334]
 [3.1204395]
 [2.817066 ]
 [2.6647346]
 [3.9767535]
 [3.4167292]
 [3.321053 ]
 [3.926525 ]
 [4.0734653]
 [3.8803499]
 [3.8390849]
 [3.7984161]
 [4.30466  ]
 [3.7697003]
 [3.7616818]
 [3.8769786]
 [4.0265546]
 [3.8914773]
 [3.8968735]
 [3.8920739]
 [4.179654 ]
 [4.1027718]
 [4.0103784]
 [3.8447368]
 [3.0184257]
 [3.1035323]
 [2.7322633]
 [3.8265476]
 [3.5987961]
 [4.217433 ]
 [4.0659595]
 [3.9687111]
 [3.9573212]
 [3.919675 ]
 [3.675804 ]
 [3.2996528]
 [3.7848463]
 [4.151013 ]
 [3.4544575]
 [3.9716728]
 [3.9958663]
 [3.6763833]
 [3.957199 ]
 [3.7812364]
 [4.062414 ]
 [3.3640869]
 [3.9902396]
 [3.8267753]
 [3.698299 ]
 [3.2461178]
 [3.3064044]
 [3.8691828]
 [4.1043267]
 [4.141799 ]
 [3.646191 ]
 [3.9399254]
 [3.9597986]
 [3.9963558]
 [3.8986492]
 [3.8142753]
 [3.9220693]
 [3.1343641]
 [3.8087893]
 [3.1566143]
 [2.7424796]
 [3.252008 ]
 [3.6457546]
 [3.2980053]
 [3.4320495]
 [3.8232522]
 [2.5510142]
 [2.732426 ]
 [3.4218369]
 [3.7414398]
 [3.8335936]
 [3.662511 ]
 [3.9172757]
 [3.686319 ]
 [3.725272 ]
 [3.595713 ]
 [4.126817 ]
 [3.5995123]
 [3.7671263]
 [3.8469474]
 [3.839835 ]
 [4.0805764]
 [4.0935745]
 [3.9489071]
 [3.8203247]
 [3.842093 ]
 [3.9753387]
 [3.9954169]
 [3.793475 ]
 [3.8069718]
 [3.0605938]
 [3.7029083]
 [3.2136247]
 [3.8540714]
 [4.0432515]
 [4.0103726]
 [3.7657905]
 [3.858669 ]
 [3.8074777]
 [4.2421503]
 [3.9534678]
 [3.4501393]
 [4.1315484]
 [3.9178712]
 [3.7394998]
 [4.0000167]
 [3.8578236]
 [3.6584413]
 [4.017533 ]
 [4.100664 ]
 [3.207668 ]
 [3.0817695]
 [3.7549179]
 [3.9037063]
 [3.1658444]
 [3.8694985]
 [3.7948444]
 [3.1697466]
 [3.6027782]
 [4.0042663]
 [3.756068 ]
 [3.3646123]
 [3.1954796]
 [4.1397915]
 [3.6509898]
 [3.3184173]
 [3.670342 ]
 [3.493315 ]
 [3.8841488]
 [2.973704 ]
 [3.9360712]
 [4.039672 ]
 [4.0041184]
 [3.588676 ]
 [3.9385095]
 [3.9450061]
 [3.4446208]
 [4.0927715]
 [4.145689 ]
 [2.8203824]
 [3.0735672]
 [3.4928038]
 [3.005419 ]
 [3.3232327]
 [3.2625728]
 [3.64489  ]
 [3.6742659]
 [3.968311 ]
 [3.7283719]
 [3.7468312]
 [3.907738 ]
 [3.3914106]
 [3.3981864]
 [3.5693634]
 [3.9394064]
 [3.9838564]
 [4.041248 ]
 [4.1354513]
 [3.8672078]
 [4.05578  ]
 [4.099663 ]
 [3.9807112]
 [3.8914642]
 [3.8292341]
 [3.3552234]
 [4.0048537]
 [2.459596 ]
 [3.775552 ]
 [3.8577998]
 [4.017555 ]
 [4.096157 ]
 [3.0923321]
 [3.6938963]
 [4.0571322]
 [3.7618167]
 [4.084945 ]
 [3.8920677]
 [3.951606 ]
 [3.7429574]
 [3.8029501]
 [4.00383  ]
 [4.1820107]
 [3.873012 ]
 [4.017185 ]
 [4.064636 ]
 [2.990702 ]
 [4.0701637]
 [3.9324837]
 [4.1998634]
 [4.121375 ]
 [3.762341 ]
 [3.9112854]
 [3.9148424]
 [3.7713869]
 [3.479996 ]
 [3.5757704]
 [4.0809245]
 [3.8173308]
 [4.0102797]
 [3.9721746]
 [3.7168553]
 [3.2800405]
 [3.7578523]
 [3.5908978]
 [3.783361 ]
 [3.4660628]
 [3.924749 ]
 [3.7659245]
 [3.9394376]
 [3.4260528]
 [3.9681518]
 [3.6254413]
 [3.8290594]
 [3.9214344]
 [4.0440083]
 [3.867119 ]
 [3.5239193]
 [4.143112 ]
 [3.177044 ]
 [3.9920764]
 [4.129467 ]
 [3.8306491]
 [3.9035113]
 [4.0468674]
 [3.7779438]
 [3.5622056]
 [3.8942795]
 [4.0180483]
 [4.029702 ]
 [4.1187   ]
 [3.9753177]
 [3.9966424]
 [3.958133 ]
 [4.1675696]
 [3.8533194]
 [3.707    ]
 [3.8799672]
 [3.2759259]
 [3.6561944]
 [3.5597193]
 [3.415118 ]
 [3.0699131]
 [2.7872334]
 [2.921984 ]
 [3.8014886]
 [3.194832 ]
 [2.9624817]
 [3.8971515]
 [3.960958 ]
 [3.1667466]
 [3.776724 ]
 [4.0776196]
 [4.007197 ]
 [3.7041461]
 [3.7243445]
 [3.7009065]
 [3.6052868]
 [3.2135952]
 [3.479378 ]
 [3.6034658]
 [2.920576 ]
 [3.351393 ]
 [3.508035 ]
 [3.3535664]
 [3.478474 ]
 [3.8537958]
 [3.906708 ]
 [3.5887845]
 [3.3381958]
 [3.8337603]
 [3.4334235]
 [4.1179667]
 [3.8637612]
 [3.6450176]
 [3.599709 ]
 [3.4304283]
 [3.034982 ]
 [3.2066598]
 [4.0523815]
 [3.1257942]
 [3.9267747]
 [3.5950978]
 [3.238496 ]
 [3.598124 ]
 [3.213238 ]
 [3.794183 ]
 [3.604068 ]
 [3.6933239]
 [3.1091762]
 [3.6935413]
 [3.7150896]
 [4.2285414]
 [3.7557333]
 [3.8482137]
 [3.653434 ]
 [3.850857 ]
 [3.8527272]
 [3.0081503]
 [3.8525383]
 [2.658507 ]
 [3.7078557]
 [3.8180661]
 [4.1969676]
 [4.034298 ]
 [3.7696893]
 [3.7431056]
 [3.8741913]
 [4.0947094]
 [3.4038646]
 [3.7571237]
 [3.5278502]
 [3.8217704]
 [3.1084707]
 [3.998564 ]
 [4.0500393]
 [3.8915093]
 [3.5186362]
 [3.9286768]
 [3.9031594]
 [3.8157098]
 [3.882283 ]
 [3.35617  ]
 [4.065755 ]
 [3.9865491]
 [3.8789446]
 [3.7974331]
 [3.142237 ]
 [4.1012645]
 [3.724642 ]
 [4.0735235]
 [3.9628823]
 [3.2375743]
 [2.5341277]
 [3.0714462]
 [2.8726075]
 [3.1974542]
 [2.2914135]
 [4.0128474]
 [3.8786716]
 [3.9927595]
 [4.165735 ]
 [3.9497447]
 [4.214012 ]
 [3.7216604]
 [3.6199524]
 [4.037157 ]
 [3.8630402]
 [3.128103 ]
 [2.8126478]
 [3.6740339]
 [3.657307 ]
 [2.703235 ]
 [3.4169254]
 [4.135091 ]
 [4.113552 ]
 [3.971939 ]
 [4.1271324]
 [4.097997 ]
 [4.030501 ]
 [3.9293993]
 [3.5429902]
 [4.04801  ]
 [3.6324964]
 [2.8492403]
 [2.9355767]
 [3.1306345]
 [3.2851906]
 [4.018703 ]
 [3.9387505]
 [4.033    ]
 [3.0431223]
 [4.0694294]
 [3.9918199]
 [3.7700303]
 [3.773239 ]
 [2.820659 ]
 [3.7241085]
 [3.9837306]
 [3.515238 ]
 [4.1611624]
 [3.4675424]
 [4.2204084]
 [4.0113053]
 [3.7903023]
 [2.8478248]
 [3.8039432]
 [3.3310673]
 [3.3375342]
 [3.6150222]
 [3.8307993]
 [3.8065624]
 [3.5114233]
 [3.202112 ]
 [3.6542315]
 [3.565541 ]
 [4.0522738]
 [3.269167 ]
 [3.2131703]
 [3.7686975]
 [3.1205535]
 [3.8742783]
 [3.562715 ]
 [3.9688776]
 [3.0655658]
 [3.1139686]
 [3.7651534]
 [4.152242 ]
 [4.1865964]
 [4.03099  ]
 [4.066519 ]
 [4.227184 ]
 [3.5847967]
 [3.9928186]
 [3.3785203]
 [3.7223437]
 [3.839726 ]
 [3.5999544]
 [3.7757168]
 [3.694935 ]
 [3.87691  ]
 [3.695674 ]
 [3.9576914]
 [4.1290874]
 [3.750902 ]
 [3.7432814]
 [3.641229 ]
 [3.5362833]
 [4.074586 ]
 [3.5285647]
 [3.9561923]
 [4.073405 ]
 [3.7360938]
 [3.5631998]
 [3.8955135]
 [3.774589 ]
 [3.8346214]
 [3.4658275]
 [3.3980606]
 [3.791408 ]
 [4.0446   ]
 [3.907685 ]
 [3.6321871]
 [3.8384755]
 [3.7322018]
 [3.8977635]
 [3.9464269]
 [3.844865 ]
 [3.6227903]
 [3.8010461]
 [3.4556086]
 [2.8759556]
 [3.6945283]
 [3.9111273]
 [3.164755 ]
 [3.1903994]
 [4.027461 ]
 [3.6068585]
 [3.159184 ]
 [3.731654 ]
 [3.0802147]
 [3.6053455]
 [3.456723 ]
 [3.5070736]
 [3.7217753]
 [3.7994294]
 [2.701886 ]
 [2.981222 ]
 [2.6353798]
 [2.5884724]
 [2.3217902]
 [3.695512 ]
 [2.8966691]
 [2.659169 ]
 [3.7187574]
 [4.067973 ]
 [2.9029162]
 [2.7717712]
 [3.065859 ]
 [3.773899 ]
 [3.5702279]
 [3.6043532]
 [3.8434536]
 [4.114134 ]
 [3.7528899]
 [3.2401495]
 [4.027026 ]
 [3.7876208]
 [3.7075899]
 [4.049193 ]
 [3.4519627]
 [4.0064173]
 [3.1706069]
 [2.833768 ]
 [3.238518 ]
 [4.0438275]
 [3.4652698]
 [3.6953816]
 [4.152373 ]
 [4.037148 ]
 [4.3447657]
 [3.9740825]
 [3.829773 ]
 [3.8046997]
 [4.0393662]
 [4.0363393]
 [3.8791182]
 [4.0080533]
 [4.108496 ]
 [4.087314 ]
 [4.027737 ]
 [4.036098 ]
 [3.8931844]
 [4.1502657]
 [3.924393 ]
 [4.0315495]
 [4.1788754]
 [3.9089863]
 [4.0923123]
 [3.8304703]
 [4.1607194]
 [3.9334114]
 [3.6173418]
 [4.2683845]
 [3.896083 ]
 [4.052335 ]
 [3.8899877]
 [3.462056 ]
 [3.9625552]
 [4.181491 ]
 [3.7766268]
 [4.03713  ]
 [3.0471215]
 [3.7258673]
 [3.8958266]
 [3.6907098]
 [4.0391474]
 [4.0180745]
 [3.6568468]
 [4.201863 ]
 [4.179975 ]
 [3.9470572]
 [3.8385975]
 [3.953664 ]
 [4.1028976]
 [4.1028976]
 [3.9778986]
 [4.1145973]
 [3.299084 ]
 [3.861686 ]
 [3.745761 ]
 [3.9441607]
 [3.7679315]
 [4.115628 ]
 [4.0890694]
 [3.9693155]
 [3.9319754]
 [3.664649 ]]
tf.Tensor(
[5. 4. 5. 4. 5. 4. 5. 4. 5. 4. 5. 5. 4. 4. 4. 4. 5. 3. 4. 4. 3. 3. 3. 3.
 2. 4. 5. 4. 3. 1. 4. 3. 3. 3. 3. 4. 3. 5. 4. 2. 4. 5. 5. 3. 4. 4. 5. 2.
 2. 2. 4. 4. 4. 2. 3. 4. 3. 2. 5. 2. 4. 4. 5. 4. 2. 3. 4. 4. 4. 5. 2. 4.
 4. 2. 4. 2. 3. 3. 1. 1. 5. 4. 3. 3. 4. 2. 3. 4. 2. 5. 5. 4. 4. 3. 5. 3.
 4. 4. 4. 2. 3. 4. 1. 4. 3. 4. 4. 5. 5. 4. 4. 5. 1. 3. 3. 5. 5. 4. 5. 4.
 3. 2. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5. 4. 3. 5. 4. 2. 4. 3. 5. 4. 4. 1.
 4. 3. 3. 1. 2. 1. 2. 2. 1. 1. 1. 3. 2. 4. 2. 2. 3. 4. 2. 3. 1. 1. 2. 2.
 3. 2. 2. 2. 2. 3. 4. 2. 1. 1. 1. 1. 2. 1. 5. 4. 4. 4. 3. 2. 3. 1. 3. 2.
 2. 1. 3. 1. 1. 3. 4. 5. 5. 5. 4. 2. 1. 3. 2. 2. 4. 3. 3. 5. 2. 4. 2. 4.
 5. 5. 4. 4. 5. 3. 3. 3. 5. 5. 3. 5. 3. 3. 4. 4. 4. 2. 4. 4. 4. 5. 3. 3.
 3. 3. 5. 3. 4. 3. 4. 5. 5. 5. 5. 5. 4. 4. 3. 4. 2. 3. 3. 4. 3. 4. 2. 4.
 5.], shape=(265,), dtype=float32)
Mean Absolute Error: 1.062999963760376