# Setup
Here we import the necessary libraries

In [1]:
import os

os.environ["KERAS_BACKEND"] = "tensorflow"

import math
import zipfile
import gzip
import shutil
from urllib.request import urlretrieve
import requests
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from keras import layers
from keras.layers import StringLookup
from sklearn.preprocessing import LabelEncoder
import random

# Prepare the data

## Download and prepare the DataFrames
We download the data from the movielens dataset and the imdb dataset.
We first download the data and then we unzip the files.

In [2]:
URL_MOVIELENS = "https://files.grouplens.org/datasets/movielens/ml-1m.zip"
URL_IMBD_NAMES_BASICS = "https://datasets.imdbws.com/name.basics.tsv.gz"
URL_IMBD_TITLE_BASICS = "https://datasets.imdbws.com/title.basics.tsv.gz"
URL_IMBD_TITLE_RATINGS = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Local path where the file will be saved
LOCAL_MOVIELENS_PATH = "ml-1m.zip"
LOCAL_IMBD_NAMES_BASICS_PATH = "name.basics.tsv.gz"
LOCAL_IMBD_TITLE_BASICS_PATH = "title.basics.tsv.gz"
LOCAL_IMBD_TITLE_RATINGS_PATH = "title.ratings.tsv.gz"
# Directory where the dataset will be extracted
EXTRACT_DIR = "dataset"

In [3]:
# Function to download the file
def download_file(url, local_filename):
    print(f"Downloading {url} to {local_filename}")
    # Check if the file already exists
    if os.path.exists(local_filename):
        print(f"File {local_filename} already exists")
        return local_filename
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    print(f"Downloaded {url} to {local_filename}")
    return local_filename

# Function to unzip the file
def unzip_file(zip_path, extract_to):
    print(f"Unzipping {zip_path} to {extract_to}")
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to)
    print(f"Unzipped {zip_path} to {extract_to}")

def gunzip_file(gz_path, extract_to):
    print(f"Gunzipping {gz_path} to {extract_to}")
    with gzip.open(gz_path, 'rb') as f_in:
        with open(extract_to, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"Gunzipped {gz_path} to {extract_to}")

In [4]:
# Ensure the dataset directory exists
os.makedirs(EXTRACT_DIR, exist_ok=True)
# Download the file
download_file(URL_MOVIELENS, LOCAL_MOVIELENS_PATH)
download_file(URL_IMBD_NAMES_BASICS, LOCAL_IMBD_NAMES_BASICS_PATH)
download_file(URL_IMBD_TITLE_BASICS, LOCAL_IMBD_TITLE_BASICS_PATH)
download_file(URL_IMBD_TITLE_RATINGS, LOCAL_IMBD_TITLE_RATINGS_PATH)

Downloading https://files.grouplens.org/datasets/movielens/ml-1m.zip to ml-1m.zip
File ml-1m.zip already exists
Downloading https://datasets.imdbws.com/name.basics.tsv.gz to name.basics.tsv.gz
File name.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.basics.tsv.gz to title.basics.tsv.gz
File title.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.ratings.tsv.gz to title.ratings.tsv.gz
File title.ratings.tsv.gz already exists

'title.ratings.tsv.gz'

In [5]:
# Extract the files
print("Unzipping file...")
unzip_file(LOCAL_MOVIELENS_PATH, EXTRACT_DIR)

print("Gunzipping files...")
gunzip_file(LOCAL_IMBD_NAMES_BASICS_PATH, os.path.join(EXTRACT_DIR, "name.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_BASICS_PATH, os.path.join(EXTRACT_DIR, "title.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_RATINGS_PATH, os.path.join(EXTRACT_DIR, "title.ratings.tsv"))

print("Extraction complete.")

Unzipping file...
Unzipping ml-1m.zip to dataset
Unzipped ml-1m.zip to dataset
Gunzipping files...
Gunzipping name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipped name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipping title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipped title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipping title.ratings.tsv.gz to dataset\title.ratings.tsv
Gunzipped title.ratings.tsv.gz to dataset\title.ratings.tsv
Extraction complete.

We create the DataFrames from the csv/tsv files.

In [6]:
movies = pd.read_csv('dataset/ml-1m/movies.dat', sep='::', header=None, engine='python', names=['movie_id', 'title', 'genres'], encoding='ISO-8859-1')
ratings = pd.read_csv('dataset/ml-1m/ratings.dat', sep='::', header=None, engine='python', names=['user_id', 'movie_id', 'rating', 'unix_timestamp'], encoding='ISO-8859-1')
users = pd.read_csv('dataset/ml-1m/users.dat', sep='::', header=None, engine='python', names=['user_id', 'sex', 'age_group', 'occupation', 'zip_code'], encoding='ISO-8859-1')

In [7]:
title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)
title_basics_df = title_basics_df[title_basics_df['titleType'] == 'movie']
name_basics_df = pd.read_csv('dataset/name.basics.tsv', sep='\t', header=0)

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\170924504.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)

We performs various data transformations on the 'users', 'movies', 'ratings', 'title_basics_df', and 'name_basics_df' dataframes.

1. Transformations on the 'users' dataframe:
    - Append the prefix 'user_' to the values in the 'user_id' column.
    - Append the prefix 'group_' to the values in the 'age_group' column.
    - Append the prefix 'occupation_' to the values in the 'occupation' column.

2. Transformations on the 'movies' dataframe:
    - Append the prefix 'movie_' to the values in the 'movie_id' column.
    - Convert the values in the 'title' column to lowercase.
    - Remove parentheses and their contents from the values in the 'title' column.
    - Strip leading and trailing whitespace from the values in the 'title' column.

3. Transformations on the 'ratings' dataframe:
    - Append the prefix 'movie_' to the values in the 'movie_id' column.
    - Append the prefix 'user_' to the values in the 'user_id' column.
    - Convert the values in the 'rating' column to float.

4. Transformations on the 'title_basics_df' dataframe:
    - Convert the values in the 'primaryTitle' column to lowercase.
    - Strip leading and trailing whitespace from the values in the 'primaryTitle' column.
    - Rename the 'genres' column to 'genres_title'.
    - Remove duplicate rows based on the 'primaryTitle' column.

5. Transformations on the 'name_basics_df' dataframe:
    - Convert the values in the 'primaryName' column to string.
    - Split the values in the 'knownForTitles' column by comma and create multiple rows.
    - Group by 'knownForTitles' and aggregate the 'primaryName' column.
    - Merge the resulting dataframe with the 'title_basics_df' dataframe based on the 'tconst' and 'knownForTitles' columns.
    - Drop the 'knownForTitles' column.
    - Replace missing values in the 'primaryName' column with 'unknown'.

In [8]:
users["user_id"] = users["user_id"].apply(lambda x: f"user_{x}")
users["age_group"] = users["age_group"].apply(lambda x: f"group_{x}")
users["occupation"] = users["occupation"].apply(lambda x: f"occupation_{x}")

movies["movie_id"] = movies["movie_id"].apply(lambda x: f"movie_{x}")

ratings["movie_id"] = ratings["movie_id"].apply(lambda x: f"movie_{x}")
ratings["user_id"] = ratings["user_id"].apply(lambda x: f"user_{x}")
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))

movies['title'] = movies['title'].str.lower()
movies['title'] = movies['title'].str.replace(r"\(.*\)", "", regex=True).str.strip()

title_basics_df['primaryTitle'] = title_basics_df['primaryTitle'].str.lower().str.strip()
title_basics_df.rename(columns={"genres": "genres_title"}, inplace=True)
title_basics_df = title_basics_df.drop_duplicates(subset='primaryTitle')

# Convert primaryName to string
name_basics_df['primaryName'] = name_basics_df['primaryName'].astype(str)

name_basics_df = name_basics_df.assign(knownForTitles=name_basics_df['knownForTitles'].str.split(','))
name_basics_df = name_basics_df.explode('knownForTitles')

# Group by knownForTitles and aggregate primaryName
name_basics_grouped = name_basics_df.groupby('knownForTitles')['primaryName'].agg(lambda x: ','.join(set(x))).reset_index()

# Merge with title_basics_df
title_basics_df = pd.merge(title_basics_df, name_basics_grouped, left_on='tconst', right_on='knownForTitles', how='left')

title_basics_df.drop(columns='knownForTitles', inplace=True)
title_basics_df['primaryName'].fillna('unknown', inplace=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\1417224388.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  title_basics_df['primaryName'].fillna('unknown', inplace=True)

 Merge the dataframes movies and title_basics_df, keeping only the genres_title column and merging on the title column.
    If the title is not found in title_basics_df, the row is not kept.
    Drop the primaryTitle column.
    Convert the runtimeMinutes column to numeric values, replacing any errors with NaN.
    Fill the missing values in the runtimeMinutes column with the mean runtime.
    Remove any duplicate rows from the merged dataframe.

In [9]:
# Merge the dataframes movies and title_basics_df, keep only the the genres_title column and merge on the title column. If the title is not found in title_basics_df, the row is not kept
movies = movies.merge(title_basics_df[['primaryTitle', 'runtimeMinutes','genres_title', 'primaryName']], left_on='title', right_on='primaryTitle', how='left')
# Drop the primaryTitle column
movies.drop(columns=['primaryTitle'], inplace=True)
movies['runtimeMinutes'] = pd.to_numeric(movies['runtimeMinutes'], errors='coerce')
mean_runtime = movies['runtimeMinutes'].mean()
movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)
movies = movies.drop_duplicates()

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\1504217106.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)

,movie_id,title,genres,runtimeMinutes,genres_title,primaryName
0,movie_1,toy story,Animation|Children's|Comedy,81.000000,"Adventure,Animation,Comedy","Andrew Cho,Victoria Jaschob,Gustavo Ramírez,Da..."
1,movie_2,jumanji,Adventure|Children's|Fantasy,104.000000,"Adventure,Comedy,Family","Chuck Cross,Jim Strain,Marc Tyler,Blue Angus,I..."
2,movie_3,grumpier old men,Comedy|Romance,101.000000,"Comedy,Romance","Richard C. Berman,Geraldo Rivera,Richard Schul..."
3,movie_4,waiting to exhale,Comedy|Drama,124.000000,"Comedy,Drama,Romance","Michelle Antonett Johnson,Mary S. Gray,Robert ..."
4,movie_5,father of the bride part ii,Comedy,106.000000,"Comedy,Family,Romance","Valerie Hemmerich,Jonathan Emerson,John Pappas..."
...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,Comedy,"Mary Mecher-Carlson,John Dacosse,Greg Glienna,..."
3879,movie_3949,requiem for a dream,Drama,102.000000,Drama,"Sam Nicolary,Walter Hart,Marcus Lambkin,Debora..."
3880,movie_3950,tigerland,Drama,101.000000,"Drama,War","Ross Klavan,Frances Taylor,Arian Ash,Karen Che..."
3881,movie_3951,two family house,Drama,108.000000,"Comedy,Drama,Romance","Melissa Myers,Katrina Elliott,Rory Wilson,Jeff..."
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,NaN,NaN

In [10]:
# Merge the genres column (seperated with | ) with the genres_title column (seperated with ','). Do not keep duplicates
movies['genres'] = movies['genres'].str.split('|')
movies['genres_title'] = movies['genres_title'].str.split(',')
# If the genres_title column is NaN, replace it with an empty list
movies['genres_title'] = movies['genres_title'].apply(lambda x: [] if type(x) == float else x)
movies['genres'] = movies['genres'] + movies['genres_title']
movies['genres'] = movies['genres'].apply(lambda x: list(set(x)))
movies['genres'] = movies['genres'].apply(lambda x: '|'.join(x))
movies.drop(columns=['genres_title'], inplace=True)

In [11]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,"Andrew Cho,Victoria Jaschob,Gustavo Ramírez,Da..."
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,"Chuck Cross,Jim Strain,Marc Tyler,Blue Angus,I..."
2,movie_3,grumpier old men,Romance|Comedy,101.000000,"Richard C. Berman,Geraldo Rivera,Richard Schul..."
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,"Michelle Antonett Johnson,Mary S. Gray,Robert ..."
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,"Valerie Hemmerich,Jonathan Emerson,John Pappas..."
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,"Mary Mecher-Carlson,John Dacosse,Greg Glienna,..."
3879,movie_3949,requiem for a dream,Drama,102.000000,"Sam Nicolary,Walter Hart,Marcus Lambkin,Debora..."
3880,movie_3950,tigerland,Drama|War,101.000000,"Ross Klavan,Frances Taylor,Arian Ash,Karen Che..."
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,"Melissa Myers,Katrina Elliott,Rory Wilson,Jeff..."
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,NaN

We apply some transformation so that it can fit into the model.
1. Ensure that the 'primaryName' column is a string by filling missing values with 'unknown' and converting the column to string type.
2. Create a LabelEncoder object.
3. Fit and transform the 'primaryName' column using the LabelEncoder.
4. Normalize the encoded values to be between 0 and 1.
5. Drop the original 'primaryName' column from the DataFrame.

In [12]:
# First, ensure primaryName is a string
movies['primaryName'] = movies['primaryName'].fillna('unknown')
movies['primaryName'] = movies['primaryName'].astype(str)

# Create a LabelEncoder
le = LabelEncoder()

# Fit and transform the primaryName column
movies['primaryName_encoded'] = le.fit_transform(movies['primaryName'])

# Normalize the encoded values to be between 0 and 1
movies['primaryName_encoded'] = movies['primaryName_encoded'] / movies['primaryName_encoded'].max()

# Drop the original primaryName and genres_title columns
movies.drop(columns=['primaryName'], inplace=True)

In [13]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,0.031610
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,0.159539
2,movie_3,grumpier old men,Romance|Comedy,101.000000,0.775009
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,0.669766
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,0.952027
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.634808
3879,movie_3949,requiem for a dream,Drama,102.000000,0.825958
3880,movie_3950,tigerland,Drama|War,101.000000,0.815545
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.650428
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,0.998884

In [14]:
users

        user_id sex age_group     occupation zip_code
0        user_1   F   group_1  occupation_10    48067
1        user_2   M  group_56  occupation_16    70072
2        user_3   M  group_25  occupation_15    55117
3        user_4   M  group_45   occupation_7    02460
4        user_5   M  group_25  occupation_20    55455
...         ...  ..       ...            ...      ...
6035  user_6036   F  group_25  occupation_15    32603
6036  user_6037   F  group_45   occupation_1    76006
6037  user_6038   F  group_56   occupation_1    14706
6038  user_6039   F  group_45   occupation_0    01060
6039  user_6040   M  group_25   occupation_6    11106

[6040 rows x 5 columns]

Each movie has multiple genres. We split them into separate columns in the movies DataFrame.

In [15]:
ratings

           user_id    movie_id  rating  unix_timestamp
0           user_1  movie_1193     5.0       978300760
1           user_1   movie_661     3.0       978302109
2           user_1   movie_914     3.0       978301968
3           user_1  movie_3408     4.0       978300275
4           user_1  movie_2355     5.0       978824291
...            ...         ...     ...             ...
1000204  user_6040  movie_1091     1.0       956716541
1000205  user_6040  movie_1094     5.0       956704887
1000206  user_6040   movie_562     5.0       956704746
1000207  user_6040  movie_1096     4.0       956715648
1000208  user_6040  movie_1097     4.0       956715569

[1000209 rows x 4 columns]

In [16]:
movie_features = set()
for actual_genres in movies['genres'].str.split('|'):
    movie_features.update(actual_genres)
movie_features = list(movie_features)

for genre in movie_features:
    movies[genre] = movies["genres"].apply(
        lambda values: int(genre in values.split("|"))
    )

# Add runtimeMinutes and primaryName_encoded to movie_features
movie_features.extend(["runtimeMinutes", "primaryName_encoded"])

Now we have the final version of the movies dataframe that represents the movies data in a format that can be used for training the model.

In [17]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded,Drama,Animation,Western,Horror,Sci-Fi,...,Music,Mystery,Biography,\N,Comedy,Children's,Documentary,Family,History,Film-Noir
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,0.031610,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,0.159539,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
2,movie_3,grumpier old men,Romance|Comedy,101.000000,0.775009,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,0.669766,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,0.952027,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.634808,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3879,movie_3949,requiem for a dream,Drama,102.000000,0.825958,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,movie_3950,tigerland,Drama|War,101.000000,0.815545,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.650428,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,0.998884,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Process the ratings data by grouping it based on user_id and creating a new DataFrame.

In [18]:
ratings_group = ratings.sort_values(by=["unix_timestamp"]).groupby("user_id")

ratings_data = pd.DataFrame(
    data={
        "user_id": list(ratings_group.groups.keys()),
        "movie_ids": list(ratings_group.movie_id.apply(list)),
        "ratings": list(ratings_group.rating.apply(list)),
        "timestamps": list(ratings_group.unix_timestamp.apply(list)),
    }
)

In [20]:
sequence_length = 4
step_size = 2


def create_sequences(values, window_size, step_size):
    sequences = []
    start_index = 0
    while True:
        end_index = start_index + window_size
        seq = values[start_index:end_index]
        if len(seq) < window_size:
            # Pad the sequence if it's shorter than window_size
            seq = seq + [None] * (window_size - len(seq))
        sequences.append(seq)
        if end_index >= len(values):
            break
        start_index += step_size
    return sequences


ratings_data.movie_ids = ratings_data.movie_ids.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

ratings_data.ratings = ratings_data.ratings.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

del ratings_data["timestamps"]

After that, we process the output to have each sequence in a separate records in the DataFrame. In addition, we join the user features with the ratings data.

In [21]:
ratings_data_movies = ratings_data[["user_id", "movie_ids"]].explode(
    "movie_ids", ignore_index=True
)
ratings_data_rating = ratings_data[["ratings"]].explode("ratings", ignore_index=True)
ratings_data_transformed = pd.concat([ratings_data_movies, ratings_data_rating], axis=1)
ratings_data_transformed = ratings_data_transformed.join(
    users.set_index("user_id"), on="user_id"
)
ratings_data_transformed.movie_ids = ratings_data_transformed.movie_ids.apply(
    lambda x: ",".join([str(v) if v is not None else "" for v in x])
)
ratings_data_transformed.ratings = ratings_data_transformed.ratings.apply(
    lambda x: ",".join([str(v) if v is not None else "" for v in x])
)

del ratings_data_transformed["zip_code"]

ratings_data_transformed.rename(
    columns={"movie_ids": "sequence_movie_ids", "ratings": "sequence_ratings"},
    inplace=True,
)

In [22]:
ratings_data_transformed

,user_id,sequence_movie_ids,sequence_ratings,sex,age_group,occupation
0,user_1,"movie_3186,movie_1721,movie_1270,movie_1022","4.0,4.0,5.0,5.0",F,group_1,occupation_10
1,user_1,"movie_1270,movie_1022,movie_2340,movie_1836","5.0,5.0,3.0,5.0",F,group_1,occupation_10
2,user_1,"movie_2340,movie_1836,movie_3408,movie_1207","3.0,5.0,4.0,4.0",F,group_1,occupation_10
3,user_1,"movie_3408,movie_1207,movie_2804,movie_260","4.0,4.0,5.0,4.0",F,group_1,occupation_10
4,user_1,"movie_2804,movie_260,movie_720,movie_1193","5.0,4.0,3.0,5.0",F,group_1,occupation_10
...,...,...,...,...,...,...
495541,user_999,"movie_2264,movie_1959,movie_2676,movie_2540","2.0,1.0,3.0,2.0",M,group_25,occupation_15
495542,user_999,"movie_2676,movie_2540,movie_1363,movie_765","3.0,2.0,3.0,3.0",M,group_25,occupation_15
495543,user_999,"movie_1363,movie_765,movie_3565,movie_1410","3.0,3.0,4.0,2.0",M,group_25,occupation_15
495544,user_999,"movie_3565,movie_1410,movie_2269,movie_2504","4.0,2.0,3.0,3.0",M,group_25,occupation_15
495545,user_999,"movie_2269,movie_2504,movie_455,movie_193","3.0,3.0,2.0,2.0",M,group_25,occupation_15

The provided function pair_users(ratings_data_transformed) processes user movie rating data to pair users who have rated the same movie. The function follows these steps:

1. Initialize an empty list paired_data to store individual user data.
2. Iterate through each row in ratings_data_transformed:
    - Extract and split the sequence_movie_ids and sequence_ratings.
    - Validate the presence of target movie and rating.
    - Append a dictionary with user details and target movie/rating information to paired_data.
3. Group the users by target_movie_id using a defaultdict named movie_groups.
4. Pair users within each group who have rated the same movie:
    - Iterate through the group in steps of 2 to form pairs.
    - Create a dictionary with details of the paired users and the average of their target ratings.
    - Append the pair to paired_data_final.
5. Return a DataFrame created from paired_data_final.

Finally, the function is executed with ratings_data_transformed as input, and the number of paired data points is printed.

In [46]:
def pair_users(ratings_data_transformed):
    paired_data = []
    for _, row in ratings_data_transformed.iterrows():
        sequence_movie_ids = row['sequence_movie_ids'].split(',')
        sequence_ratings = row['sequence_ratings'].split(',')
        
        # Check if we have a valid target movie and rating
        if len(sequence_movie_ids) > 0 and len(sequence_ratings) > 0 and sequence_ratings[-1] != '':
            target_movie_id = sequence_movie_ids[-1]
            target_rating = float(sequence_ratings[-1])
            
            paired_data.append({
                'user_id': row['user_id'],
                'sequence_movie_ids': ','.join(sequence_movie_ids[:-1]),
                'sequence_ratings': ','.join(sequence_ratings[:-1]),
                'sex': row['sex'],
                'age_group': row['age_group'],
                'occupation': row['occupation'],
                'target_movie_id': target_movie_id,
                'target_rating': target_rating
            })
    
    # Group by target_movie_id
    from collections import defaultdict
    movie_groups = defaultdict(list)
    for entry in paired_data:
        movie_groups[entry['target_movie_id']].append(entry)
    
    # Pair users who rated the same movie
    paired_data_final = []
    for movie_id, group in movie_groups.items():
        for i in range(0, len(group) - 1, 2):
            pair1 = group[i]
            pair2 = group[i + 1]
            paired_data_final.append({
                'user_id_1': pair1['user_id'],
                'sequence_movie_ids_1': pair1['sequence_movie_ids'],
                'sequence_ratings_1': pair1['sequence_ratings'],
                'sex_1': pair1['sex'],
                'age_group_1': pair1['age_group'],
                'occupation_1': pair1['occupation'],
                'user_id_2': pair2['user_id'],
                'sequence_movie_ids_2': pair2['sequence_movie_ids'],
                'sequence_ratings_2': pair2['sequence_ratings'],
                'sex_2': pair2['sex'],
                'age_group_2': pair2['age_group'],
                'occupation_2': pair2['occupation'],
                'target_movie_id': movie_id,
                'target_rating': (pair1['target_rating'] + pair2['target_rating']) / 2
            })
    
    return pd.DataFrame(paired_data_final)
# Now you can use the function
paired_data = pair_users(ratings_data_transformed)
print(f"Number of paired data points: {len(paired_data)}")

Number of paired data points: 245349

In [47]:
paired_data

,user_id_1,sequence_movie_ids_1,sequence_ratings_1,sex_1,age_group_1,occupation_1,user_id_2,sequence_movie_ids_2,sequence_ratings_2,sex_2,age_group_2,occupation_2,target_movie_id,target_rating
0,user_1,"movie_3186,movie_1721,movie_1270","4.0,4.0,5.0",F,group_1,occupation_10,user_10,"movie_3347,movie_1292,movie_527","5.0,5.0,4.0",F,group_35,occupation_1,movie_1022,5.0
1,user_1057,"movie_3114,movie_2096,movie_2080","5.0,4.0,4.0",M,group_45,occupation_17,user_1087,"movie_3114,movie_2018,movie_594","4.0,5.0,5.0",M,group_25,occupation_16,movie_1022,4.5
2,user_1088,"movie_1059,movie_971,movie_3897","4.0,4.0,4.0",F,group_1,occupation_10,user_1092,"movie_2081,movie_1947,movie_1031","4.0,4.0,3.0",F,group_18,occupation_4,movie_1022,4.0
3,user_1100,"movie_2294,movie_3615,movie_1029","3.0,1.0,1.0",M,group_25,occupation_0,user_112,"movie_2139,movie_2096,movie_596","3.0,4.0,5.0",M,group_25,occupation_16,movie_1022,3.5
4,user_1120,"movie_3213,movie_2080,movie_2085","4.0,4.0,4.0",M,group_18,occupation_4,user_1141,"movie_1992,movie_1991,movie_2804","1.0,1.0,5.0",F,group_25,occupation_3,movie_1022,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245344,user_5582,"movie_910,movie_903,movie_1929","5.0,4.0,5.0",M,group_45,occupation_1,user_6036,"movie_3350,movie_2355,movie_2852","4.0,4.0,3.0",F,group_25,occupation_15,movie_3282,3.5
245345,user_5682,"movie_1515,movie_748,movie_2713","3.0,1.0,2.0",M,group_18,occupation_0,user_881,"movie_2353,movie_2763,movie_1858","3.0,2.0,2.0",M,group_18,occupation_14,movie_1636,3.0
245346,user_660,"movie_2798,movie_102,movie_3268","1.0,1.0,2.0",M,group_45,occupation_16,user_699,"movie_2036,movie_102,movie_2799","3.0,1.0,2.0",M,group_18,occupation_0,movie_634,1.0
245347,user_696,"movie_2357,movie_994,movie_1094","4.0,4.0,5.0",M,group_25,occupation_12,user_889,"movie_1079,movie_3462,movie_3341","4.0,3.0,3.0",M,group_45,occupation_20,movie_2999,4.0
245348,user_731,"movie_1210,movie_2570,movie_39","3.0,2.0,5.0",M,group_45,occupation_3,user_889,"movie_1535,movie_976,movie_1906","1.0,2.0,3.0",M,group_45,occupation_20,movie_2675,3.0

We then split the data into training and testing sets.

In [48]:
# Split the paired data into train and test sets
random_selection = np.random.rand(len(paired_data)) <= 0.85
train_data = paired_data[random_selection]
test_data = paired_data[~random_selection]

# Save the train and test data to CSV files
train_data.to_csv(os.path.join(EXTRACT_DIR, "train_paired_data.csv"), index=False, sep="|")
test_data.to_csv(os.path.join(EXTRACT_DIR, "test_paired_data.csv"), index=False, sep="|")

print(f"Number of training samples: {len(train_data)}")
print(f"Number of test samples: {len(test_data)}")

Number of training samples: 208550
Number of test samples: 36799

## Define metadata

In [57]:
CSV_HEADER = [
    "user_id_1", "sequence_movie_ids_1", "sequence_ratings_1", "sex_1", "age_group_1", "occupation_1",
    "user_id_2", "sequence_movie_ids_2", "sequence_ratings_2", "sex_2", "age_group_2", "occupation_2",
    "target_movie_id", "target_rating"
]

CATEGORICAL_FEATURES_WITH_VOCABULARY = {
    "user_id": list(users.user_id.unique()),
    "movie_id": list(movies.movie_id.unique()),
    "sex": list(users.sex.unique()),
    "age_group": list(users.age_group.unique()),
    "occupation": list(users.occupation.unique()),
}

USER_FEATURES = ["sex", "age_group", "occupation"]

MOVIE_FEATURES = ["genres", "runtimeMinutes", "primaryName_encoded"]

## Create tf.data.Dataset for training and evaluation

In [58]:
class SequenceProcessor(layers.Layer):
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def call(self, sequence_movies_ids, sequence_ratings):
        mask = tf.not_equal(sequence_movies_ids, '')
        sequence_movies_ids = tf.where(mask, sequence_movies_ids, 'unknown_movie')
        sequence_ratings = tf.where(mask, sequence_ratings, 0.0)
        return sequence_movies_ids, sequence_ratings

In [59]:
def get_dataset_from_csv(csv_file_path, shuffle=False, batch_size=32):
    print(f"Loading dataset from {csv_file_path}")
    print(f"Shuffle: {shuffle}, Batch size: {batch_size}")

    # Read the CSV file
    df = pd.read_csv(csv_file_path, sep='|')
    
    # Convert DataFrame to tensor
    dataset = tf.data.Dataset.from_tensor_slices(dict(df))

    if shuffle:
        dataset = dataset.shuffle(buffer_size=len(df))

    dataset = dataset.batch(batch_size)

    def process(features):
        processed_features = {}
        for i in range(1, 3):
            movie_ids_string = features[f"sequence_movie_ids_{i}"]
            sequence_movie_ids = tf.strings.split(movie_ids_string, ",").to_tensor()

            processed_features[f"target_movie_id_{i}"] = features["target_movie_id"]
            processed_features[f"sequence_movie_ids_{i}"] = sequence_movie_ids

            ratings_string = features[f"sequence_ratings_{i}"]
            sequence_ratings = tf.strings.to_number(
                tf.strings.split(ratings_string, ","), tf.dtypes.float32
            ).to_tensor()

            processed_features[f"sequence_ratings_{i}"] = sequence_ratings

            # Copy other features
            for feature in ["user_id", "sex", "age_group", "occupation"]:
                processed_features[f"{feature}_{i}"] = features[f"{feature}_{i}"]

        target = features["target_rating"]
        return processed_features, target

    dataset = dataset.map(process)

    # Print dataset info
    dataset_size = sum(1 for _ in dataset)
    print(f"Dataset size (number of batches): {dataset_size}")

    return dataset

## Create model inputs

In [60]:
def create_model_inputs():
    inputs = {}
    for i in range(1, 3):
        inputs.update({
            f"user_id_{i}": keras.Input(name=f"user_id_{i}", shape=(1,), dtype="string"),
            f"sequence_movie_ids_{i}": keras.Input(
                name=f"sequence_movie_ids_{i}", shape=(sequence_length - 1,), dtype="string"
            ),
            f"sequence_ratings_{i}": keras.Input(
                name=f"sequence_ratings_{i}", shape=(sequence_length - 1,), dtype=tf.float32
            ),
            f"target_movie_id_{i}": keras.Input(name=f"target_movie_id_{i}", shape=(1,), dtype="string"),
            f"sex_{i}": keras.Input(name=f"sex_{i}", shape=(1,), dtype="string"),
            f"age_group_{i}": keras.Input(name=f"age_group_{i}", shape=(1,), dtype="string"),
            f"occupation_{i}": keras.Input(name=f"occupation_{i}", shape=(1,), dtype="string"),
        })
    return inputs

## Encode input features
The encode_input_features method works as follows:

1. Each categorical user feature is encoded using layers.Embedding, with embedding dimension equals to the square root of the vocabulary size of the feature. The embeddings of these features are concatenated to form a single input tensor.

2. Each movie in the movie sequence and the target movie is encoded layers.Embedding, where the dimension size is the square root of the number of movies.

3. A multi-hot genres vector for each movie is concatenated with its embedding vector, and processed using a non-linear layers.Dense to output a vector of the same movie embedding dimensions.

4. A positional embedding is added to each movie embedding in the sequence, and then multiplied by its rating from the ratings sequence.

5. The target movie embedding is concatenated to the sequence movie embeddings, producing a tensor with the shape of [batch size, sequence length, embedding size], as expected by the attention layer for the transformer architecture.

6. The method returns a tuple of two elements: encoded_transformer_features and encoded_other_features.

In [61]:
def encode_input_features(
    inputs,
    include_user_id=True,
    include_user_features=True,
    include_movie_features=True,
    name_prefix=""
):
    encoded_transformer_features = []
    encoded_other_features = []

    other_feature_names = []
    if include_user_id:
        other_feature_names.append("user_id")
    if include_user_features:
        other_feature_names.extend(USER_FEATURES)

    ## Encode user features
    for feature_name in other_feature_names:
        vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]
        idx = StringLookup(vocabulary=vocabulary, mask_token=None, num_oov_indices=0)(
            inputs[feature_name]
        )
        embedding_dims = int(math.sqrt(len(vocabulary)))
        embedding_encoder = layers.Embedding(
            input_dim=len(vocabulary),
            output_dim=embedding_dims,
            name=f"{name_prefix}{feature_name}_embedding",
        )
        encoded_other_features.append(embedding_encoder(idx))

    ## Create a single embedding vector for the user features
    if len(encoded_other_features) > 1:
        encoded_other_features = layers.concatenate(encoded_other_features)
    elif len(encoded_other_features) == 1:
        encoded_other_features = encoded_other_features[0]
    else:
        encoded_other_features = None

    ## Create a movie embedding encoder
    movie_vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY["movie_id"]
    movie_embedding_dims = int(math.sqrt(len(movie_vocabulary)))
    movie_index_lookup = StringLookup(
        vocabulary=movie_vocabulary,
        mask_token=None,
        num_oov_indices=0,
        name=f"{name_prefix}movie_index_lookup",
    )
    movie_embedding_encoder = layers.Embedding(
        input_dim=len(movie_vocabulary),
        output_dim=movie_embedding_dims,
        name=f"{name_prefix}movie_embedding",
    )
    movie_feature_vectors = movies[movie_features].to_numpy()
    movie_features_lookup = layers.Embedding(
        input_dim=movie_feature_vectors.shape[0],
        output_dim=movie_feature_vectors.shape[1],
        embeddings_initializer=keras.initializers.Constant(movie_feature_vectors),
        trainable=False,
        name=f"{name_prefix}features_vector",
    )
    movie_embedding_processor = layers.Dense(
        units=movie_embedding_dims,
        activation="relu",
        name=f"{name_prefix}process_movie_embedding_with_genres",
    )

    ## Define a function to encode a given movie id.
    def encode_movie(movie_id):
        movie_idx = movie_index_lookup(movie_id)
        movie_embedding = movie_embedding_encoder(movie_idx)
        encoded_movie = movie_embedding
        if include_movie_features:
            movie_genres_vector = movie_features_lookup(movie_idx)
            encoded_movie = movie_embedding_processor(
                layers.concatenate([movie_embedding, movie_genres_vector])
            )
        return encoded_movie

    ## Encoding target_movie_id
    target_movie_id = inputs["target_movie_id"]
    encoded_target_movie = encode_movie(target_movie_id)

    ## Encoding sequence movie_ids.
    sequence_movies_ids = inputs["sequence_movie_ids"]
    sequence_ratings = inputs["sequence_ratings"]
    
    # Use the custom layer for sequence processing
    sequence_processor = SequenceProcessor(name=f"{name_prefix}sequence_processor")
    sequence_movies_ids, sequence_ratings = sequence_processor(sequence_movies_ids, sequence_ratings)
    
    encoded_sequence_movies = encode_movie(sequence_movies_ids)
    
    position_embedding_encoder = layers.Embedding(
        input_dim=sequence_length,
        output_dim=movie_embedding_dims,
        name=f"{name_prefix}position_embedding",
    )
    positions = keras.ops.arange(start=0, stop=sequence_length - 1, step=1)
    encoded_positions = position_embedding_encoder(positions)
    
    sequence_ratings = layers.Reshape((-1, 1))(sequence_ratings)
    
    encoded_sequence_movies_with_position_and_rating = layers.Multiply()(
        [encoded_sequence_movies + encoded_positions, sequence_ratings]
    )

    # Reshape encoded_sequence_movies_with_position_and_rating to match the target shape
    encoded_sequence_movies_with_position_and_rating = layers.Reshape(
        (sequence_length - 1, 1, movie_embedding_dims)
    )(encoded_sequence_movies_with_position_and_rating)

    # Reshape encoded_target_movie to match the target shape
    encoded_target_movie = layers.Reshape((1, 1, movie_embedding_dims))(encoded_target_movie)

    encoded_transformer_features = layers.Concatenate(axis=1)(
        [encoded_sequence_movies_with_position_and_rating, encoded_target_movie]
    )

    return encoded_transformer_features, encoded_other_features

In [62]:
USER_FEATURES

['sex', 'age_group', 'occupation']

## Create a BST model

In [63]:
include_user_id = False
include_user_features = True
include_movie_features = True

hidden_units = [256, 128]
dropout_rate = 0.1
num_heads = 3


def create_model():
    inputs = create_model_inputs()
    
    user_features = []
    for i in range(1, 3):
        user_input = {k.replace(f"_{i}", ""): v for k, v in inputs.items() if f"_{i}" in k}
        
        # Use the correct key for target_movie_id
        user_input["target_movie_id"] = inputs[f"target_movie_id_{i}"]
        
        transformer_features, other_features = encode_input_features(
            user_input, include_user_id, include_user_features, include_movie_features,
            name_prefix=f"user_{i}_"
        )

        attention_output = layers.MultiHeadAttention(
            num_heads=num_heads, key_dim=transformer_features.shape[2], dropout=dropout_rate,
            name=f"user_{i}_attention"
        )(transformer_features, transformer_features)

        attention_output = layers.Dropout(dropout_rate, name=f"user_{i}_dropout_1")(attention_output)
        x1 = layers.Add(name=f"user_{i}_add_1")([transformer_features, attention_output])
        x1 = layers.LayerNormalization(name=f"user_{i}_layer_norm_1")(x1)
        x2 = layers.LeakyReLU(name=f"user_{i}_leaky_relu")(x1)
        x2 = layers.Dense(units=x2.shape[-1], name=f"user_{i}_dense_1")(x2)
        x2 = layers.Dropout(dropout_rate, name=f"user_{i}_dropout_2")(x2)
        transformer_features = layers.Add(name=f"user_{i}_add_2")([x1, x2])
        transformer_features = layers.LayerNormalization(name=f"user_{i}_layer_norm_2")(transformer_features)
        features = layers.Flatten(name=f"user_{i}_flatten")(transformer_features)

        if other_features is not None:
            features = layers.concatenate(
                [features, layers.Reshape([other_features.shape[-1]], name=f"user_{i}_reshape")(other_features)],
                name=f"user_{i}_concatenate"
            )
        
        user_features.append(features)
    
    # Combine features from both users
    combined_features = layers.Average(name="average_user_features")(user_features)

    # Fully-connected layers
    for i, num_units in enumerate(hidden_units):
        combined_features = layers.Dense(num_units, name=f"dense_{i+1}")(combined_features)
        combined_features = layers.BatchNormalization(name=f"batch_norm_{i+1}")(combined_features)
        combined_features = layers.LeakyReLU(name=f"leaky_relu_{i+1}")(combined_features)
        combined_features = layers.Dropout(dropout_rate, name=f"dropout_{i+1}")(combined_features)

    outputs = layers.Dense(units=1, name="output")(combined_features)
    model = keras.Model(inputs=inputs, outputs=outputs)
    return model

model = create_model()

## Run training and evaluation experiment

In [64]:
# Compile the model.
model.compile(
    optimizer=keras.optimizers.Adagrad(learning_rate=0.01),
    loss=keras.losses.MeanSquaredError(),
    metrics=[keras.metrics.MeanAbsoluteError()],
)
def count_batches(dataset):
    return sum(1 for _ in dataset)
# Read the training data
train_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "train_paired_data.csv"), shuffle=True, batch_size=32)

# Fit the model with the training data
history = model.fit(train_dataset, epochs=10, verbose=1)

# Read the test data.
test_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "test_paired_data.csv"), shuffle=True, batch_size=32)

# Evaluate the model on the test data.
_, rmse = model.evaluate(test_dataset, verbose=0)
print(f"Test MAE: {round(rmse, 3)}")

Loading dataset from dataset\train_paired_data.csv
Shuffle: True, Batch size: 32
Dataset size (number of batches): 6518
Epoch 1/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 47s 6ms/step - loss: 1.1022 - mean_absolute_error: 0.8174
Epoch 2/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 54s 8ms/step - loss: 0.7261 - mean_absolute_error: 0.6824
Epoch 3/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 55s 8ms/step - loss: 0.6777 - mean_absolute_error: 0.6582
Epoch 4/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 58s 9ms/step - loss: 0.6219 - mean_absolute_error: 0.6303
Epoch 5/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 77s 12ms/step - loss: 0.5823 - mean_absolute_error: 0.6100
Epoch 6/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 87s 13ms/step - loss: 0.5590 - mean_absolute_error: 0.5969
Epoch 7/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 72s 11ms/step - loss: 0.5372 - mean_absolute_error: 0.5843
Epoch 8/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 70s 11ms/step - loss: 0.5199 - mean_absolute_error: 0.5750
Epoch 9/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 92s 14ms/step - loss: 0.5132 - mean_absolute_error: 0.5713
Epoch 10/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 66s 10ms/step - loss: 0.5065 - mean_absolute_error: 0.5679
Loading dataset from dataset\test_paired_data.csv
Shuffle: True, Batch size: 32
Dataset size (number of batches): 1150
Test MAE: 0.541

## Create the recommendation model

In [74]:
import numpy as np
import pandas as pd
import tensorflow as tf

def get_top_n_recommendations(model, user1, user2, n=5):
    # Get all unique movies
    all_movies = set(movies['movie_id'])
    
    # Get the movies already watched by both users
    user1_watched = set(ratings[ratings['user_id'] == user1]['movie_id'])
    user2_watched = set(ratings[ratings['user_id'] == user2]['movie_id'])
    watched_movies = user1_watched.union(user2_watched)
    
    # Filter out watched movies
    candidate_movies = list(all_movies - watched_movies)
    
    # Get user features
    user1_features = users[users['user_id'] == user1].iloc[0]
    user2_features = users[users['user_id'] == user2].iloc[0]
    
    # Get the last 3 movies watched by each user
    user1_last_movies = list(user1_watched)[-3:]
    user2_last_movies = list(user2_watched)[-3:]
    
    # Get the ratings for the last 3 movies
    user1_last_ratings = [float(ratings[(ratings['user_id'] == user1) & (ratings['movie_id'] == movie)]['rating'].values[0]) for movie in user1_last_movies]
    user2_last_ratings = [float(ratings[(ratings['user_id'] == user2) & (ratings['movie_id'] == movie)]['rating'].values[0]) for movie in user2_last_movies]
    
    # Pad sequences if necessary
    while len(user1_last_movies) < 3:
        user1_last_movies.append('')
        user1_last_ratings.append(0.0)
    while len(user2_last_movies) < 3:
        user2_last_movies.append('')
        user2_last_ratings.append(0.0)
    
    # Prepare input data for prediction
    input_data = {
        'target_movie_id_1': candidate_movies,
        'sequence_movie_ids_1': [user1_last_movies] * len(candidate_movies),
        'sequence_ratings_1': [user1_last_ratings] * len(candidate_movies),
        'user_id_1': [user1] * len(candidate_movies),
        'sex_1': [user1_features['sex']] * len(candidate_movies),
        'age_group_1': [user1_features['age_group']] * len(candidate_movies),
        'occupation_1': [user1_features['occupation']] * len(candidate_movies),
        'target_movie_id_2': candidate_movies,
        'sequence_movie_ids_2': [user2_last_movies] * len(candidate_movies),
        'sequence_ratings_2': [user2_last_ratings] * len(candidate_movies),
        'user_id_2': [user2] * len(candidate_movies),
        'sex_2': [user2_features['sex']] * len(candidate_movies),
        'age_group_2': [user2_features['age_group']] * len(candidate_movies),
        'occupation_2': [user2_features['occupation']] * len(candidate_movies),
    }
    
    # Create a TensorFlow dataset
    dataset = tf.data.Dataset.from_tensor_slices(input_data)
    dataset = dataset.batch(32)  # Use the same batch size as during training
    
    # Make predictions
    predictions = model.predict(dataset)
    
    # Get top N recommendations
    top_n_indices = np.argsort(predictions.flatten())[-n:][::-1]
    top_n_movies = [candidate_movies[i] for i in top_n_indices]
    top_n_ratings = predictions.flatten()[top_n_indices]
    
    return list(zip(top_n_movies, top_n_ratings))

def format_recommendations(recommendations):
    formatted_recommendations = []
    for movie_id, predicted_rating in recommendations:
        movie_info = movies[movies['movie_id'] == movie_id].iloc[0]
        formatted_recommendations.append({
            'movie_id': movie_id,
            'title': movie_info['title'],
            'genres': movie_info['genres'],
            'predicted_rating': round(float(predicted_rating), 2)
        })
    return formatted_recommendations

def recommend_movies(model, user1, user2):
    print(f"Generating recommendations for users {user1} and {user2}...")
    
    # Check if users exist
    if user1 not in users['user_id'].values or user2 not in users['user_id'].values:
        return "One or both users not found in the database."
    
    # Check if users have watched any movies
    if ratings[ratings['user_id'] == user1].empty or ratings[ratings['user_id'] == user2].empty:
        return "One or both users haven't watched any movies yet."
    
    # Get top 5 recommendations
    recommendations = get_top_n_recommendations(model, user1, user2, n=5)
    
    # Format recommendations
    formatted_recommendations = format_recommendations(recommendations)
    
    # Print recommendations
    print(f"\nTop 5 movie recommendations for {user1} and {user2}:")
    for i, rec in enumerate(formatted_recommendations, 1):
        print(f"{i}. {rec['title']} (Genres: {rec['genres']})")
        print(f"   Predicted Rating: {rec['predicted_rating']}")
        print()
    
    return formatted_recommendations

# Example usage
user1 = "user_1"
user2 = "user_2"
recommendations = recommend_movies(model, user1, user2)

Generating recommendations for users user_1 and user_2...
116/116 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step

Top 5 movie recommendations for user_1 and user_2:
1. godfather, the (Genres: Crime|Action|Drama)
   Predicted Rating: 4.5

2. wrong trousers, the (Genres: Animation|Comedy)
   Predicted Rating: 4.48

3. usual suspects, the (Genres: Crime|Thriller)
   Predicted Rating: 4.46

4. rear window (Genres: Thriller|Mystery)
   Predicted Rating: 4.45

5. dr. strangelove or: how i learned to stop worrying and love the bomb (Genres: War|Comedy|Sci-Fi)
   Predicted Rating: 4.41

In [77]:
user1 = "user_1120"
user2 = "user_1141"
recommendations = recommend_movies(model, user1, user2)
print(recommendations)

Generating recommendations for users user_1120 and user_1141...
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

Top 5 movie recommendations for user_1120 and user_1141:
1. double indemnity (Genres: Crime|Drama|Film-Noir)
   Predicted Rating: 4.38

2. to kill a mockingbird (Genres: Crime|Drama)
   Predicted Rating: 4.36

3. third man, the (Genres: Thriller|Mystery)
   Predicted Rating: 4.35

4. paths of glory (Genres: Drama|War)
   Predicted Rating: 4.32

5. cinema paradiso (Genres: Drama|Romance|Comedy)
   Predicted Rating: 4.24

[{'movie_id': 'movie_3435', 'title': 'double indemnity', 'genres': 'Crime|Drama|Film-Noir', 'predicted_rating': 4.38}, {'movie_id': 'movie_1207', 'title': 'to kill a mockingbird', 'genres': 'Crime|Drama', 'predicted_rating': 4.36}, {'movie_id': 'movie_1212', 'title': 'third man, the', 'genres': 'Thriller|Mystery', 'predicted_rating': 4.35}, {'movie_id': 'movie_1178', 'title': 'paths of glory', 'genres': 'Drama|War', 'predicted_rating': 4.32}, {'movie_id': 'movie_1172', 'title': 'cinema paradiso', 'genres': 'Drama|Romance|Comedy', 'predicted_rating': 4.24}]