# Setup

In [1]:
import os

os.environ["KERAS_BACKEND"] = "tensorflow"

import math
import zipfile
import gzip
import shutil
from urllib.request import urlretrieve
import requests
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from keras import layers
from keras.layers import StringLookup
from sklearn.preprocessing import LabelEncoder
import random

# Prepare the data

## Download and prepare the DataFrames

In [2]:
URL_MOVIELENS = "https://files.grouplens.org/datasets/movielens/ml-1m.zip"
URL_IMBD_NAMES_BASICS = "https://datasets.imdbws.com/name.basics.tsv.gz"
URL_IMBD_TITLE_BASICS = "https://datasets.imdbws.com/title.basics.tsv.gz"
URL_IMBD_TITLE_RATINGS = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Local path where the file will be saved
LOCAL_MOVIELENS_PATH = "ml-1m.zip"
LOCAL_IMBD_NAMES_BASICS_PATH = "name.basics.tsv.gz"
LOCAL_IMBD_TITLE_BASICS_PATH = "title.basics.tsv.gz"
LOCAL_IMBD_TITLE_RATINGS_PATH = "title.ratings.tsv.gz"
# Directory where the dataset will be extracted
EXTRACT_DIR = "dataset"

In [3]:
# Function to download the file
def download_file(url, local_filename):
    print(f"Downloading {url} to {local_filename}")
    # Check if the file already exists
    if os.path.exists(local_filename):
        print(f"File {local_filename} already exists")
        return local_filename
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    print(f"Downloaded {url} to {local_filename}")
    return local_filename

# Function to unzip the file
def unzip_file(zip_path, extract_to):
    print(f"Unzipping {zip_path} to {extract_to}")
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to)
    print(f"Unzipped {zip_path} to {extract_to}")

def gunzip_file(gz_path, extract_to):
    print(f"Gunzipping {gz_path} to {extract_to}")
    with gzip.open(gz_path, 'rb') as f_in:
        with open(extract_to, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"Gunzipped {gz_path} to {extract_to}")

In [4]:
# Ensure the dataset directory exists
os.makedirs(EXTRACT_DIR, exist_ok=True)
# Download the file
download_file(URL_MOVIELENS, LOCAL_MOVIELENS_PATH)
download_file(URL_IMBD_NAMES_BASICS, LOCAL_IMBD_NAMES_BASICS_PATH)
download_file(URL_IMBD_TITLE_BASICS, LOCAL_IMBD_TITLE_BASICS_PATH)
download_file(URL_IMBD_TITLE_RATINGS, LOCAL_IMBD_TITLE_RATINGS_PATH)

Downloading https://files.grouplens.org/datasets/movielens/ml-1m.zip to ml-1m.zip
File ml-1m.zip already exists
Downloading https://datasets.imdbws.com/name.basics.tsv.gz to name.basics.tsv.gz
File name.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.basics.tsv.gz to title.basics.tsv.gz
File title.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.ratings.tsv.gz to title.ratings.tsv.gz
File title.ratings.tsv.gz already exists

'title.ratings.tsv.gz'

In [5]:
# Extract the files
print("Unzipping file...")
unzip_file(LOCAL_MOVIELENS_PATH, EXTRACT_DIR)

print("Gunzipping files...")
gunzip_file(LOCAL_IMBD_NAMES_BASICS_PATH, os.path.join(EXTRACT_DIR, "name.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_BASICS_PATH, os.path.join(EXTRACT_DIR, "title.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_RATINGS_PATH, os.path.join(EXTRACT_DIR, "title.ratings.tsv"))

print("Extraction complete.")

Unzipping file...
Unzipping ml-1m.zip to dataset
Unzipped ml-1m.zip to dataset
Gunzipping files...
Gunzipping name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipped name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipping title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipped title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipping title.ratings.tsv.gz to dataset\title.ratings.tsv
Gunzipped title.ratings.tsv.gz to dataset\title.ratings.tsv
Extraction complete.

In [6]:
movies = pd.read_csv('dataset/ml-1m/movies.dat', sep='::', header=None, engine='python', names=['movie_id', 'title', 'genres'], encoding='ISO-8859-1')
ratings = pd.read_csv('dataset/ml-1m/ratings.dat', sep='::', header=None, engine='python', names=['user_id', 'movie_id', 'rating', 'unix_timestamp'], encoding='ISO-8859-1')
users = pd.read_csv('dataset/ml-1m/users.dat', sep='::', header=None, engine='python', names=['user_id', 'sex', 'age_group', 'occupation', 'zip_code'], encoding='ISO-8859-1')

In [7]:
title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)
title_basics_df = title_basics_df[title_basics_df['titleType'] == 'movie']
name_basics_df = pd.read_csv('dataset/name.basics.tsv', sep='\t', header=0)

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\170924504.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)

Here, we do some simple data processing to fix the data types of the columns.

In [8]:
users["user_id"] = users["user_id"].apply(lambda x: f"user_{x}")
users["age_group"] = users["age_group"].apply(lambda x: f"group_{x}")
users["occupation"] = users["occupation"].apply(lambda x: f"occupation_{x}")

movies["movie_id"] = movies["movie_id"].apply(lambda x: f"movie_{x}")

ratings["movie_id"] = ratings["movie_id"].apply(lambda x: f"movie_{x}")
ratings["user_id"] = ratings["user_id"].apply(lambda x: f"user_{x}")
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))

movies['title'] = movies['title'].str.lower()
movies['title'] = movies['title'].str.replace(r"\(.*\)", "", regex=True).str.strip()

title_basics_df['primaryTitle'] = title_basics_df['primaryTitle'].str.lower().str.strip()
title_basics_df.rename(columns={"genres": "genres_title"}, inplace=True)
title_basics_df = title_basics_df.drop_duplicates(subset='primaryTitle')

# Convert primaryName to string
name_basics_df['primaryName'] = name_basics_df['primaryName'].astype(str)

name_basics_df = name_basics_df.assign(knownForTitles=name_basics_df['knownForTitles'].str.split(','))
name_basics_df = name_basics_df.explode('knownForTitles')

# Group by knownForTitles and aggregate primaryName
name_basics_grouped = name_basics_df.groupby('knownForTitles')['primaryName'].agg(lambda x: ','.join(set(x))).reset_index()

# Merge with title_basics_df
title_basics_df = pd.merge(title_basics_df, name_basics_grouped, left_on='tconst', right_on='knownForTitles', how='left')

title_basics_df.drop(columns='knownForTitles', inplace=True)
title_basics_df['primaryName'].fillna('unknown', inplace=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\1417224388.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  title_basics_df['primaryName'].fillna('unknown', inplace=True)

In [9]:
# Merge the dataframes movies and title_basics_df, keep only the the genres_title column and merge on the title column. If the title is not found in title_basics_df, the row is not kept
movies = movies.merge(title_basics_df[['primaryTitle', 'runtimeMinutes','genres_title', 'primaryName']], left_on='title', right_on='primaryTitle', how='left')
# Drop the primaryTitle column
movies.drop(columns=['primaryTitle'], inplace=True)
movies['runtimeMinutes'] = pd.to_numeric(movies['runtimeMinutes'], errors='coerce')
mean_runtime = movies['runtimeMinutes'].mean()
movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)
movies = movies.drop_duplicates()
movies

C:\Users\marti\AppData\Local\Temp\ipykernel_20296\1504217106.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['runtimeMinutes'].fillna(mean_runtime, inplace=True)

,movie_id,title,genres,runtimeMinutes,genres_title,primaryName
0,movie_1,toy story,Animation|Children's|Comedy,81.000000,"Adventure,Animation,Comedy","Andrew Cho,Victoria Jaschob,Gustavo Ramírez,Da..."
1,movie_2,jumanji,Adventure|Children's|Fantasy,104.000000,"Adventure,Comedy,Family","Chuck Cross,Jim Strain,Marc Tyler,Blue Angus,I..."
2,movie_3,grumpier old men,Comedy|Romance,101.000000,"Comedy,Romance","Richard C. Berman,Geraldo Rivera,Richard Schul..."
3,movie_4,waiting to exhale,Comedy|Drama,124.000000,"Comedy,Drama,Romance","Michelle Antonett Johnson,Mary S. Gray,Robert ..."
4,movie_5,father of the bride part ii,Comedy,106.000000,"Comedy,Family,Romance","Valerie Hemmerich,Jonathan Emerson,John Pappas..."
...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,Comedy,"Mary Mecher-Carlson,John Dacosse,Greg Glienna,..."
3879,movie_3949,requiem for a dream,Drama,102.000000,Drama,"Sam Nicolary,Walter Hart,Marcus Lambkin,Debora..."
3880,movie_3950,tigerland,Drama,101.000000,"Drama,War","Ross Klavan,Frances Taylor,Arian Ash,Karen Che..."
3881,movie_3951,two family house,Drama,108.000000,"Comedy,Drama,Romance","Melissa Myers,Katrina Elliott,Rory Wilson,Jeff..."
3882,movie_3952,"contender, the",Drama|Thriller,102.920295,NaN,NaN

In [10]:
# Merge the genres column (seperated with | ) with the genres_title column (seperated with ','). Do not keep duplicates
movies['genres'] = movies['genres'].str.split('|')
movies['genres_title'] = movies['genres_title'].str.split(',')
# If the genres_title column is NaN, replace it with an empty list
movies['genres_title'] = movies['genres_title'].apply(lambda x: [] if type(x) == float else x)
movies['genres'] = movies['genres'] + movies['genres_title']
movies['genres'] = movies['genres'].apply(lambda x: list(set(x)))
movies['genres'] = movies['genres'].apply(lambda x: '|'.join(x))
movies.drop(columns=['genres_title'], inplace=True)

In [11]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,"Andrew Cho,Victoria Jaschob,Gustavo Ramírez,Da..."
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,"Chuck Cross,Jim Strain,Marc Tyler,Blue Angus,I..."
2,movie_3,grumpier old men,Romance|Comedy,101.000000,"Richard C. Berman,Geraldo Rivera,Richard Schul..."
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,"Michelle Antonett Johnson,Mary S. Gray,Robert ..."
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,"Valerie Hemmerich,Jonathan Emerson,John Pappas..."
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,"Mary Mecher-Carlson,John Dacosse,Greg Glienna,..."
3879,movie_3949,requiem for a dream,Drama,102.000000,"Sam Nicolary,Walter Hart,Marcus Lambkin,Debora..."
3880,movie_3950,tigerland,Drama|War,101.000000,"Ross Klavan,Frances Taylor,Arian Ash,Karen Che..."
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,"Melissa Myers,Katrina Elliott,Rory Wilson,Jeff..."
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,NaN

In [12]:
# First, ensure primaryName is a string
movies['primaryName'] = movies['primaryName'].fillna('unknown')
movies['primaryName'] = movies['primaryName'].astype(str)

# Create a LabelEncoder
le = LabelEncoder()

# Fit and transform the primaryName column
movies['primaryName_encoded'] = le.fit_transform(movies['primaryName'])

# Normalize the encoded values to be between 0 and 1
movies['primaryName_encoded'] = movies['primaryName_encoded'] / movies['primaryName_encoded'].max()

# Drop the original primaryName and genres_title columns
movies.drop(columns=['primaryName'], inplace=True)

In [13]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,0.031610
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,0.159539
2,movie_3,grumpier old men,Romance|Comedy,101.000000,0.775009
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,0.669766
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,0.952027
...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.634808
3879,movie_3949,requiem for a dream,Drama,102.000000,0.825958
3880,movie_3950,tigerland,Drama|War,101.000000,0.815545
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.650428
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,0.998884

In [14]:
users

        user_id sex age_group     occupation zip_code
0        user_1   F   group_1  occupation_10    48067
1        user_2   M  group_56  occupation_16    70072
2        user_3   M  group_25  occupation_15    55117
3        user_4   M  group_45   occupation_7    02460
4        user_5   M  group_25  occupation_20    55455
...         ...  ..       ...            ...      ...
6035  user_6036   F  group_25  occupation_15    32603
6036  user_6037   F  group_45   occupation_1    76006
6037  user_6038   F  group_56   occupation_1    14706
6038  user_6039   F  group_45   occupation_0    01060
6039  user_6040   M  group_25   occupation_6    11106

[6040 rows x 5 columns]

Each movie has multiple genres. We split them into separate columns in the movies DataFrame.

In [15]:
ratings

           user_id    movie_id  rating  unix_timestamp
0           user_1  movie_1193     5.0       978300760
1           user_1   movie_661     3.0       978302109
2           user_1   movie_914     3.0       978301968
3           user_1  movie_3408     4.0       978300275
4           user_1  movie_2355     5.0       978824291
...            ...         ...     ...             ...
1000204  user_6040  movie_1091     1.0       956716541
1000205  user_6040  movie_1094     5.0       956704887
1000206  user_6040   movie_562     5.0       956704746
1000207  user_6040  movie_1096     4.0       956715648
1000208  user_6040  movie_1097     4.0       956715569

[1000209 rows x 4 columns]

In [16]:
movie_features = set()
for actual_genres in movies['genres'].str.split('|'):
    movie_features.update(actual_genres)
movie_features = list(movie_features)

for genre in movie_features:
    movies[genre] = movies["genres"].apply(
        lambda values: int(genre in values.split("|"))
    )

# Add runtimeMinutes and primaryName_encoded to movie_features
movie_features.extend(["runtimeMinutes", "primaryName_encoded"])

In [17]:
movies

,movie_id,title,genres,runtimeMinutes,primaryName_encoded,Drama,Animation,Western,Horror,Sci-Fi,...,Music,Mystery,Biography,\N,Comedy,Children's,Documentary,Family,History,Film-Noir
0,movie_1,toy story,Children's|Adventure|Animation|Comedy,81.000000,0.031610,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,movie_2,jumanji,Fantasy|Children's|Family|Adventure|Comedy,104.000000,0.159539,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
2,movie_3,grumpier old men,Romance|Comedy,101.000000,0.775009,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,movie_4,waiting to exhale,Drama|Romance|Comedy,124.000000,0.669766,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,movie_5,father of the bride part ii,Family|Romance|Comedy,106.000000,0.952027,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,75.000000,0.634808,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3879,movie_3949,requiem for a dream,Drama,102.000000,0.825958,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,movie_3950,tigerland,Drama|War,101.000000,0.815545,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,movie_3951,two family house,Drama|Romance|Comedy,108.000000,0.650428,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3882,movie_3952,"contender, the",Thriller|Drama,102.920295,0.998884,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Transform the movie ratings data into sequences
First, let's sort the the ratings data using the unix_timestamp, and then group the movie_id values and the rating values by user_id.

The output DataFrame will have a record for each user_id, with two ordered lists (sorted by rating datetime): the movies they have rated, and their ratings of these movies.

In [18]:
ratings_group = ratings.sort_values(by=["unix_timestamp"]).groupby("user_id")

ratings_data = pd.DataFrame(
    data={
        "user_id": list(ratings_group.groups.keys()),
        "movie_ids": list(ratings_group.movie_id.apply(list)),
        "ratings": list(ratings_group.rating.apply(list)),
        "timestamps": list(ratings_group.unix_timestamp.apply(list)),
    }
)

In [19]:
ratings_data

,user_id,movie_ids,ratings,timestamps
0,user_1,"[movie_3186, movie_1721, movie_1270, movie_102...","[4.0, 4.0, 5.0, 5.0, 3.0, 5.0, 4.0, 4.0, 5.0, ...","[978300019, 978300055, 978300055, 978300055, 9..."
1,user_10,"[movie_597, movie_858, movie_743, movie_1210, ...","[4.0, 3.0, 3.0, 4.0, 4.0, 5.0, 5.0, 5.0, 3.0, ...","[978224375, 978224375, 978224375, 978224400, 9..."
2,user_100,"[movie_260, movie_1676, movie_1198, movie_541,...","[4.0, 3.0, 4.0, 3.0, 4.0, 3.0, 1.0, 1.0, 5.0, ...","[977593595, 977593595, 977593607, 977593624, 9..."
3,user_1000,"[movie_971, movie_260, movie_2990, movie_2973,...","[4.0, 5.0, 4.0, 3.0, 5.0, 5.0, 2.0, 5.0, 5.0, ...","[975040566, 975040566, 975040566, 975040629, 9..."
4,user_1001,"[movie_1198, movie_1617, movie_2885, movie_390...","[4.0, 4.0, 4.0, 2.0, 2.0, 1.0, 4.0, 5.0, 5.0, ...","[975039591, 975039702, 975039702, 975039898, 9..."
...,...,...,...,...
6035,user_995,"[movie_1894, movie_260, movie_247, movie_433, ...","[2.0, 4.0, 5.0, 3.0, 3.0, 4.0, 4.0, 4.0, 3.0, ...","[975054785, 975054785, 975054785, 975054853, 9..."
6036,user_996,"[movie_1347, movie_2146, movie_1961, movie_274...","[4.0, 3.0, 5.0, 3.0, 5.0, 5.0, 5.0, 5.0, 4.0, ...","[975052132, 975052132, 975052195, 975052284, 9..."
6037,user_997,"[movie_1196, movie_2082, movie_3247, movie_244...","[4.0, 3.0, 3.0, 3.0, 2.0, 5.0, 5.0, 5.0, 4.0, ...","[975044235, 975044425, 975044426, 975044426, 9..."
6038,user_998,"[movie_2266, movie_1264, movie_1097, movie_164...","[3.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 3.0, 4.0, ...","[975043499, 975043593, 975043593, 975043593, 9..."
6039,user_999,"[movie_1196, movie_1015, movie_1600, movie_109...","[5.0, 3.0, 1.0, 4.0, 2.0, 4.0, 4.0, 5.0, 5.0, ...","[975042787, 975042921, 975043058, 975043058, 9..."

Now, let's split the movie_ids list into a set of sequences of a fixed length. We do the same for the ratings. Set the sequence_length variable to change the length of the input sequence to the model. You can also change the step_size to control the number of sequences to generate for each user.

In [20]:
sequence_length = 4
step_size = 2


def create_sequences(values, window_size, step_size):
    sequences = []
    start_index = 0
    while True:
        end_index = start_index + window_size
        seq = values[start_index:end_index]
        if len(seq) < window_size:
            # Pad the sequence if it's shorter than window_size
            seq = seq + [None] * (window_size - len(seq))
        sequences.append(seq)
        if end_index >= len(values):
            break
        start_index += step_size
    return sequences


ratings_data.movie_ids = ratings_data.movie_ids.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

ratings_data.ratings = ratings_data.ratings.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

del ratings_data["timestamps"]

After that, we process the output to have each sequence in a separate records in the DataFrame. In addition, we join the user features with the ratings data.

In [21]:
ratings_data_movies = ratings_data[["user_id", "movie_ids"]].explode(
    "movie_ids", ignore_index=True
)
ratings_data_rating = ratings_data[["ratings"]].explode("ratings", ignore_index=True)
ratings_data_transformed = pd.concat([ratings_data_movies, ratings_data_rating], axis=1)
ratings_data_transformed = ratings_data_transformed.join(
    users.set_index("user_id"), on="user_id"
)
ratings_data_transformed.movie_ids = ratings_data_transformed.movie_ids.apply(
    lambda x: ",".join([str(v) if v is not None else "" for v in x])
)
ratings_data_transformed.ratings = ratings_data_transformed.ratings.apply(
    lambda x: ",".join([str(v) if v is not None else "" for v in x])
)

del ratings_data_transformed["zip_code"]

ratings_data_transformed.rename(
    columns={"movie_ids": "sequence_movie_ids", "ratings": "sequence_ratings"},
    inplace=True,
)

In [22]:
ratings_data_transformed

,user_id,sequence_movie_ids,sequence_ratings,sex,age_group,occupation
0,user_1,"movie_3186,movie_1721,movie_1270,movie_1022","4.0,4.0,5.0,5.0",F,group_1,occupation_10
1,user_1,"movie_1270,movie_1022,movie_2340,movie_1836","5.0,5.0,3.0,5.0",F,group_1,occupation_10
2,user_1,"movie_2340,movie_1836,movie_3408,movie_1207","3.0,5.0,4.0,4.0",F,group_1,occupation_10
3,user_1,"movie_3408,movie_1207,movie_2804,movie_260","4.0,4.0,5.0,4.0",F,group_1,occupation_10
4,user_1,"movie_2804,movie_260,movie_720,movie_1193","5.0,4.0,3.0,5.0",F,group_1,occupation_10
...,...,...,...,...,...,...
495541,user_999,"movie_2264,movie_1959,movie_2676,movie_2540","2.0,1.0,3.0,2.0",M,group_25,occupation_15
495542,user_999,"movie_2676,movie_2540,movie_1363,movie_765","3.0,2.0,3.0,3.0",M,group_25,occupation_15
495543,user_999,"movie_1363,movie_765,movie_3565,movie_1410","3.0,3.0,4.0,2.0",M,group_25,occupation_15
495544,user_999,"movie_3565,movie_1410,movie_2269,movie_2504","4.0,2.0,3.0,3.0",M,group_25,occupation_15
495545,user_999,"movie_2269,movie_2504,movie_455,movie_193","3.0,3.0,2.0,2.0",M,group_25,occupation_15

In [46]:
def pair_users(ratings_data_transformed):
    paired_data = []
    for _, row in ratings_data_transformed.iterrows():
        sequence_movie_ids = row['sequence_movie_ids'].split(',')
        sequence_ratings = row['sequence_ratings'].split(',')
        
        # Check if we have a valid target movie and rating
        if len(sequence_movie_ids) > 0 and len(sequence_ratings) > 0 and sequence_ratings[-1] != '':
            target_movie_id = sequence_movie_ids[-1]
            target_rating = float(sequence_ratings[-1])
            
            paired_data.append({
                'user_id': row['user_id'],
                'sequence_movie_ids': ','.join(sequence_movie_ids[:-1]),
                'sequence_ratings': ','.join(sequence_ratings[:-1]),
                'sex': row['sex'],
                'age_group': row['age_group'],
                'occupation': row['occupation'],
                'target_movie_id': target_movie_id,
                'target_rating': target_rating
            })
    
    # Group by target_movie_id
    from collections import defaultdict
    movie_groups = defaultdict(list)
    for entry in paired_data:
        movie_groups[entry['target_movie_id']].append(entry)
    
    # Pair users who rated the same movie
    paired_data_final = []
    for movie_id, group in movie_groups.items():
        for i in range(0, len(group) - 1, 2):
            pair1 = group[i]
            pair2 = group[i + 1]
            paired_data_final.append({
                'user_id_1': pair1['user_id'],
                'sequence_movie_ids_1': pair1['sequence_movie_ids'],
                'sequence_ratings_1': pair1['sequence_ratings'],
                'sex_1': pair1['sex'],
                'age_group_1': pair1['age_group'],
                'occupation_1': pair1['occupation'],
                'user_id_2': pair2['user_id'],
                'sequence_movie_ids_2': pair2['sequence_movie_ids'],
                'sequence_ratings_2': pair2['sequence_ratings'],
                'sex_2': pair2['sex'],
                'age_group_2': pair2['age_group'],
                'occupation_2': pair2['occupation'],
                'target_movie_id': movie_id,
                'target_rating': (pair1['target_rating'] + pair2['target_rating']) / 2
            })
    
    return pd.DataFrame(paired_data_final)
# Now you can use the function
paired_data = pair_users(ratings_data_transformed)
print(f"Number of paired data points: {len(paired_data)}")

Number of paired data points: 245349

In [47]:
paired_data

,user_id_1,sequence_movie_ids_1,sequence_ratings_1,sex_1,age_group_1,occupation_1,user_id_2,sequence_movie_ids_2,sequence_ratings_2,sex_2,age_group_2,occupation_2,target_movie_id,target_rating
0,user_1,"movie_3186,movie_1721,movie_1270","4.0,4.0,5.0",F,group_1,occupation_10,user_10,"movie_3347,movie_1292,movie_527","5.0,5.0,4.0",F,group_35,occupation_1,movie_1022,5.0
1,user_1057,"movie_3114,movie_2096,movie_2080","5.0,4.0,4.0",M,group_45,occupation_17,user_1087,"movie_3114,movie_2018,movie_594","4.0,5.0,5.0",M,group_25,occupation_16,movie_1022,4.5
2,user_1088,"movie_1059,movie_971,movie_3897","4.0,4.0,4.0",F,group_1,occupation_10,user_1092,"movie_2081,movie_1947,movie_1031","4.0,4.0,3.0",F,group_18,occupation_4,movie_1022,4.0
3,user_1100,"movie_2294,movie_3615,movie_1029","3.0,1.0,1.0",M,group_25,occupation_0,user_112,"movie_2139,movie_2096,movie_596","3.0,4.0,5.0",M,group_25,occupation_16,movie_1022,3.5
4,user_1120,"movie_3213,movie_2080,movie_2085","4.0,4.0,4.0",M,group_18,occupation_4,user_1141,"movie_1992,movie_1991,movie_2804","1.0,1.0,5.0",F,group_25,occupation_3,movie_1022,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245344,user_5582,"movie_910,movie_903,movie_1929","5.0,4.0,5.0",M,group_45,occupation_1,user_6036,"movie_3350,movie_2355,movie_2852","4.0,4.0,3.0",F,group_25,occupation_15,movie_3282,3.5
245345,user_5682,"movie_1515,movie_748,movie_2713","3.0,1.0,2.0",M,group_18,occupation_0,user_881,"movie_2353,movie_2763,movie_1858","3.0,2.0,2.0",M,group_18,occupation_14,movie_1636,3.0
245346,user_660,"movie_2798,movie_102,movie_3268","1.0,1.0,2.0",M,group_45,occupation_16,user_699,"movie_2036,movie_102,movie_2799","3.0,1.0,2.0",M,group_18,occupation_0,movie_634,1.0
245347,user_696,"movie_2357,movie_994,movie_1094","4.0,4.0,5.0",M,group_25,occupation_12,user_889,"movie_1079,movie_3462,movie_3341","4.0,3.0,3.0",M,group_45,occupation_20,movie_2999,4.0
245348,user_731,"movie_1210,movie_2570,movie_39","3.0,2.0,5.0",M,group_45,occupation_3,user_889,"movie_1535,movie_976,movie_1906","1.0,2.0,3.0",M,group_45,occupation_20,movie_2675,3.0

With sequence_length of 4 and step_size of 2, we end up with 498,623 sequences.

Finally, we split the data into training and testing splits, with 85% and 15% of the instances, respectively, and store them to CSV files.

In [48]:
# Split the paired data into train and test sets
random_selection = np.random.rand(len(paired_data)) <= 0.85
train_data = paired_data[random_selection]
test_data = paired_data[~random_selection]

# Save the train and test data to CSV files
train_data.to_csv(os.path.join(EXTRACT_DIR, "train_paired_data.csv"), index=False, sep="|")
test_data.to_csv(os.path.join(EXTRACT_DIR, "test_paired_data.csv"), index=False, sep="|")

print(f"Number of training samples: {len(train_data)}")
print(f"Number of test samples: {len(test_data)}")

Number of training samples: 208550
Number of test samples: 36799

## Define metadata

In [57]:
CSV_HEADER = [
    "user_id_1", "sequence_movie_ids_1", "sequence_ratings_1", "sex_1", "age_group_1", "occupation_1",
    "user_id_2", "sequence_movie_ids_2", "sequence_ratings_2", "sex_2", "age_group_2", "occupation_2",
    "target_movie_id", "target_rating"
]

CATEGORICAL_FEATURES_WITH_VOCABULARY = {
    "user_id": list(users.user_id.unique()),
    "movie_id": list(movies.movie_id.unique()),
    "sex": list(users.sex.unique()),
    "age_group": list(users.age_group.unique()),
    "occupation": list(users.occupation.unique()),
}

USER_FEATURES = ["sex", "age_group", "occupation"]

MOVIE_FEATURES = ["genres", "runtimeMinutes", "primaryName_encoded"]

## Create tf.data.Dataset for training and evaluation

In [58]:
class SequenceProcessor(layers.Layer):
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def call(self, sequence_movies_ids, sequence_ratings):
        mask = tf.not_equal(sequence_movies_ids, '')
        sequence_movies_ids = tf.where(mask, sequence_movies_ids, 'unknown_movie')
        sequence_ratings = tf.where(mask, sequence_ratings, 0.0)
        return sequence_movies_ids, sequence_ratings

In [59]:
def get_dataset_from_csv(csv_file_path, shuffle=False, batch_size=32):
    print(f"Loading dataset from {csv_file_path}")
    print(f"Shuffle: {shuffle}, Batch size: {batch_size}")

    # Read the CSV file
    df = pd.read_csv(csv_file_path, sep='|')
    
    # Convert DataFrame to tensor
    dataset = tf.data.Dataset.from_tensor_slices(dict(df))

    if shuffle:
        dataset = dataset.shuffle(buffer_size=len(df))

    dataset = dataset.batch(batch_size)

    def process(features):
        processed_features = {}
        for i in range(1, 3):
            movie_ids_string = features[f"sequence_movie_ids_{i}"]
            sequence_movie_ids = tf.strings.split(movie_ids_string, ",").to_tensor()

            processed_features[f"target_movie_id_{i}"] = features["target_movie_id"]
            processed_features[f"sequence_movie_ids_{i}"] = sequence_movie_ids

            ratings_string = features[f"sequence_ratings_{i}"]
            sequence_ratings = tf.strings.to_number(
                tf.strings.split(ratings_string, ","), tf.dtypes.float32
            ).to_tensor()

            processed_features[f"sequence_ratings_{i}"] = sequence_ratings

            # Copy other features
            for feature in ["user_id", "sex", "age_group", "occupation"]:
                processed_features[f"{feature}_{i}"] = features[f"{feature}_{i}"]

        target = features["target_rating"]
        return processed_features, target

    dataset = dataset.map(process)

    # Print dataset info
    dataset_size = sum(1 for _ in dataset)
    print(f"Dataset size (number of batches): {dataset_size}")

    return dataset

## Create model inputs

In [60]:
def create_model_inputs():
    inputs = {}
    for i in range(1, 3):
        inputs.update({
            f"user_id_{i}": keras.Input(name=f"user_id_{i}", shape=(1,), dtype="string"),
            f"sequence_movie_ids_{i}": keras.Input(
                name=f"sequence_movie_ids_{i}", shape=(sequence_length - 1,), dtype="string"
            ),
            f"sequence_ratings_{i}": keras.Input(
                name=f"sequence_ratings_{i}", shape=(sequence_length - 1,), dtype=tf.float32
            ),
            f"target_movie_id_{i}": keras.Input(name=f"target_movie_id_{i}", shape=(1,), dtype="string"),
            f"sex_{i}": keras.Input(name=f"sex_{i}", shape=(1,), dtype="string"),
            f"age_group_{i}": keras.Input(name=f"age_group_{i}", shape=(1,), dtype="string"),
            f"occupation_{i}": keras.Input(name=f"occupation_{i}", shape=(1,), dtype="string"),
        })
    return inputs

## Encode input features
The encode_input_features method works as follows:

1. Each categorical user feature is encoded using layers.Embedding, with embedding dimension equals to the square root of the vocabulary size of the feature. The embeddings of these features are concatenated to form a single input tensor.

2. Each movie in the movie sequence and the target movie is encoded layers.Embedding, where the dimension size is the square root of the number of movies.

3. A multi-hot genres vector for each movie is concatenated with its embedding vector, and processed using a non-linear layers.Dense to output a vector of the same movie embedding dimensions.

4. A positional embedding is added to each movie embedding in the sequence, and then multiplied by its rating from the ratings sequence.

5. The target movie embedding is concatenated to the sequence movie embeddings, producing a tensor with the shape of [batch size, sequence length, embedding size], as expected by the attention layer for the transformer architecture.

6. The method returns a tuple of two elements: encoded_transformer_features and encoded_other_features.

In [61]:
def encode_input_features(
    inputs,
    include_user_id=True,
    include_user_features=True,
    include_movie_features=True,
    name_prefix=""
):
    encoded_transformer_features = []
    encoded_other_features = []

    other_feature_names = []
    if include_user_id:
        other_feature_names.append("user_id")
    if include_user_features:
        other_feature_names.extend(USER_FEATURES)

    ## Encode user features
    for feature_name in other_feature_names:
        vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]
        idx = StringLookup(vocabulary=vocabulary, mask_token=None, num_oov_indices=0)(
            inputs[feature_name]
        )
        embedding_dims = int(math.sqrt(len(vocabulary)))
        embedding_encoder = layers.Embedding(
            input_dim=len(vocabulary),
            output_dim=embedding_dims,
            name=f"{name_prefix}{feature_name}_embedding",
        )
        encoded_other_features.append(embedding_encoder(idx))

    ## Create a single embedding vector for the user features
    if len(encoded_other_features) > 1:
        encoded_other_features = layers.concatenate(encoded_other_features)
    elif len(encoded_other_features) == 1:
        encoded_other_features = encoded_other_features[0]
    else:
        encoded_other_features = None

    ## Create a movie embedding encoder
    movie_vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY["movie_id"]
    movie_embedding_dims = int(math.sqrt(len(movie_vocabulary)))
    movie_index_lookup = StringLookup(
        vocabulary=movie_vocabulary,
        mask_token=None,
        num_oov_indices=0,
        name=f"{name_prefix}movie_index_lookup",
    )
    movie_embedding_encoder = layers.Embedding(
        input_dim=len(movie_vocabulary),
        output_dim=movie_embedding_dims,
        name=f"{name_prefix}movie_embedding",
    )
    movie_feature_vectors = movies[movie_features].to_numpy()
    movie_features_lookup = layers.Embedding(
        input_dim=movie_feature_vectors.shape[0],
        output_dim=movie_feature_vectors.shape[1],
        embeddings_initializer=keras.initializers.Constant(movie_feature_vectors),
        trainable=False,
        name=f"{name_prefix}features_vector",
    )
    movie_embedding_processor = layers.Dense(
        units=movie_embedding_dims,
        activation="relu",
        name=f"{name_prefix}process_movie_embedding_with_genres",
    )

    ## Define a function to encode a given movie id.
    def encode_movie(movie_id):
        movie_idx = movie_index_lookup(movie_id)
        movie_embedding = movie_embedding_encoder(movie_idx)
        encoded_movie = movie_embedding
        if include_movie_features:
            movie_genres_vector = movie_features_lookup(movie_idx)
            encoded_movie = movie_embedding_processor(
                layers.concatenate([movie_embedding, movie_genres_vector])
            )
        return encoded_movie

    ## Encoding target_movie_id
    target_movie_id = inputs["target_movie_id"]
    encoded_target_movie = encode_movie(target_movie_id)

    ## Encoding sequence movie_ids.
    sequence_movies_ids = inputs["sequence_movie_ids"]
    sequence_ratings = inputs["sequence_ratings"]
    
    # Use the custom layer for sequence processing
    sequence_processor = SequenceProcessor(name=f"{name_prefix}sequence_processor")
    sequence_movies_ids, sequence_ratings = sequence_processor(sequence_movies_ids, sequence_ratings)
    
    encoded_sequence_movies = encode_movie(sequence_movies_ids)
    
    position_embedding_encoder = layers.Embedding(
        input_dim=sequence_length,
        output_dim=movie_embedding_dims,
        name=f"{name_prefix}position_embedding",
    )
    positions = keras.ops.arange(start=0, stop=sequence_length - 1, step=1)
    encoded_positions = position_embedding_encoder(positions)
    
    sequence_ratings = layers.Reshape((-1, 1))(sequence_ratings)
    
    encoded_sequence_movies_with_position_and_rating = layers.Multiply()(
        [encoded_sequence_movies + encoded_positions, sequence_ratings]
    )

    # Reshape encoded_sequence_movies_with_position_and_rating to match the target shape
    encoded_sequence_movies_with_position_and_rating = layers.Reshape(
        (sequence_length - 1, 1, movie_embedding_dims)
    )(encoded_sequence_movies_with_position_and_rating)

    # Reshape encoded_target_movie to match the target shape
    encoded_target_movie = layers.Reshape((1, 1, movie_embedding_dims))(encoded_target_movie)

    encoded_transformer_features = layers.Concatenate(axis=1)(
        [encoded_sequence_movies_with_position_and_rating, encoded_target_movie]
    )

    return encoded_transformer_features, encoded_other_features

In [62]:
USER_FEATURES

['sex', 'age_group', 'occupation']

## Create a BST model

In [63]:
include_user_id = False
include_user_features = True
include_movie_features = True

hidden_units = [256, 128]
dropout_rate = 0.1
num_heads = 3


def create_model():
    inputs = create_model_inputs()
    
    user_features = []
    for i in range(1, 3):
        user_input = {k.replace(f"_{i}", ""): v for k, v in inputs.items() if f"_{i}" in k}
        
        # Use the correct key for target_movie_id
        user_input["target_movie_id"] = inputs[f"target_movie_id_{i}"]
        
        transformer_features, other_features = encode_input_features(
            user_input, include_user_id, include_user_features, include_movie_features,
            name_prefix=f"user_{i}_"
        )

        attention_output = layers.MultiHeadAttention(
            num_heads=num_heads, key_dim=transformer_features.shape[2], dropout=dropout_rate,
            name=f"user_{i}_attention"
        )(transformer_features, transformer_features)

        attention_output = layers.Dropout(dropout_rate, name=f"user_{i}_dropout_1")(attention_output)
        x1 = layers.Add(name=f"user_{i}_add_1")([transformer_features, attention_output])
        x1 = layers.LayerNormalization(name=f"user_{i}_layer_norm_1")(x1)
        x2 = layers.LeakyReLU(name=f"user_{i}_leaky_relu")(x1)
        x2 = layers.Dense(units=x2.shape[-1], name=f"user_{i}_dense_1")(x2)
        x2 = layers.Dropout(dropout_rate, name=f"user_{i}_dropout_2")(x2)
        transformer_features = layers.Add(name=f"user_{i}_add_2")([x1, x2])
        transformer_features = layers.LayerNormalization(name=f"user_{i}_layer_norm_2")(transformer_features)
        features = layers.Flatten(name=f"user_{i}_flatten")(transformer_features)

        if other_features is not None:
            features = layers.concatenate(
                [features, layers.Reshape([other_features.shape[-1]], name=f"user_{i}_reshape")(other_features)],
                name=f"user_{i}_concatenate"
            )
        
        user_features.append(features)
    
    # Combine features from both users
    combined_features = layers.Average(name="average_user_features")(user_features)

    # Fully-connected layers
    for i, num_units in enumerate(hidden_units):
        combined_features = layers.Dense(num_units, name=f"dense_{i+1}")(combined_features)
        combined_features = layers.BatchNormalization(name=f"batch_norm_{i+1}")(combined_features)
        combined_features = layers.LeakyReLU(name=f"leaky_relu_{i+1}")(combined_features)
        combined_features = layers.Dropout(dropout_rate, name=f"dropout_{i+1}")(combined_features)

    outputs = layers.Dense(units=1, name="output")(combined_features)
    model = keras.Model(inputs=inputs, outputs=outputs)
    return model

model = create_model()

## Run training and evaluation experiment

In [64]:
# Compile the model.
model.compile(
    optimizer=keras.optimizers.Adagrad(learning_rate=0.01),
    loss=keras.losses.MeanSquaredError(),
    metrics=[keras.metrics.MeanAbsoluteError()],
)
def count_batches(dataset):
    return sum(1 for _ in dataset)
# Read the training data.
# Read the training data
train_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "train_paired_data.csv"), shuffle=True, batch_size=32)

# Fit the model with the training data
history = model.fit(train_dataset, epochs=10, verbose=1)

# Read the test data.
test_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "test_paired_data.csv"), shuffle=True, batch_size=32)

# Evaluate the model on the test data.
_, rmse = model.evaluate(test_dataset, verbose=0)
print(f"Test MAE: {round(rmse, 3)}")

Loading dataset from dataset\train_paired_data.csv
Shuffle: True, Batch size: 32
Dataset size (number of batches): 6518
Epoch 1/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 47s 6ms/step - loss: 1.1022 - mean_absolute_error: 0.8174
Epoch 2/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 54s 8ms/step - loss: 0.7261 - mean_absolute_error: 0.6824
Epoch 3/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 55s 8ms/step - loss: 0.6777 - mean_absolute_error: 0.6582
Epoch 4/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 58s 9ms/step - loss: 0.6219 - mean_absolute_error: 0.6303
Epoch 5/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 77s 12ms/step - loss: 0.5823 - mean_absolute_error: 0.6100
Epoch 6/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 87s 13ms/step - loss: 0.5590 - mean_absolute_error: 0.5969
Epoch 7/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 72s 11ms/step - loss: 0.5372 - mean_absolute_error: 0.5843
Epoch 8/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 70s 11ms/step - loss: 0.5199 - mean_absolute_error: 0.5750
Epoch 9/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 92s 14ms/step - loss: 0.5132 - mean_absolute_error: 0.5713
Epoch 10/10
6518/6518 ━━━━━━━━━━━━━━━━━━━━ 66s 10ms/step - loss: 0.5065 - mean_absolute_error: 0.5679
Loading dataset from dataset\test_paired_data.csv
Shuffle: True, Batch size: 32
Dataset size (number of batches): 1150
Test MAE: 0.541

In [65]:
with open(os.path.join(EXTRACT_DIR, "train_paired_data.csv"), 'r') as f:
    line_count = sum(1 for line in f)
print(f"Number of lines in CSV file: {line_count}")

Number of lines in CSV file: 208551

In [66]:
for data, target in train_dataset.take(1):
    print(f"Data batch: {data}")
    print(f"Target batch: {target}")
    break

#Print the shape of the batch and the target batch
print(f"Shape of the batch: {data['user_id_1'].shape}")
print(f"Shape of the target batch: {target.shape}")

Data batch: {'target_movie_id_1': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'movie_1449', b'movie_2294', b'movie_938', b'movie_2688',
       b'movie_2761', b'movie_3024', b'movie_1219', b'movie_2000',
       b'movie_780', b'movie_1963', b'movie_1279', b'movie_2253',
       b'movie_1291', b'movie_3256', b'movie_300', b'movie_293',
       b'movie_3359', b'movie_1233', b'movie_62', b'movie_465',
       b'movie_1954', b'movie_2396', b'movie_2006', b'movie_2671',
       b'movie_3751', b'movie_2699', b'movie_1208', b'movie_2399',
       b'movie_3438', b'movie_413', b'movie_3633', b'movie_1721'],
      dtype=object)>, 'sequence_movie_ids_1': <tf.Tensor: shape=(32, 3), dtype=string, numpy=
array([[b'movie_1294', b'movie_1278', b'movie_3543'],
       [b'movie_1589', b'movie_392', b'movie_2320'],
       [b'movie_2383', b'movie_2379', b'movie_3392'],
       [b'movie_2336', b'movie_2959', b'movie_2861'],
       [b'movie_3114', b'movie_1148', b'movie_2102'],
       [b'movie_748', b'movie_780', b'movie_172'],
       [b'movie_1591', b'movie_2716', b'movie_1387'],
       [b'movie_3819', b'movie_1285', b'movie_3552'],
       [b'movie_426', b'movie_2628', b'movie_1372'],
       [b'movie_1247', b'movie_1219', b'movie_2947'],
       [b'movie_492', b'movie_588', b'movie_892'],
       [b'movie_3208', b'movie_2126', b'movie_2808'],
       [b'movie_2396', b'movie_1277', b'movie_3000'],
       [b'movie_2763', b'movie_110', b'movie_1408'],
       [b'movie_2289', b'movie_1678', b'movie_290'],
       [b'movie_2959', b'movie_457', b'movie_595'],
       [b'movie_3747', b'movie_3124', b'movie_2804'],
       [b'movie_2053', b'movie_160', b'movie_3572'],
       [b'movie_34', b'movie_110', b'movie_3147'],
       [b'movie_180', b'movie_2857', b'movie_2194'],
       [b'movie_1291', b'movie_1210', b'movie_2993'],
       [b'movie_1278', b'movie_678', b'movie_1276'],
       [b'movie_1267', b'movie_492', b'movie_1028'],
       [b'movie_1569', b'movie_1103', b'movie_1219'],
       [b'movie_2997', b'movie_2710', b'movie_2355'],
       [b'movie_1552', b'movie_198', b'movie_2763'],
       [b'movie_2028', b'movie_1242', b'movie_2944'],
       [b'movie_1544', b'movie_804', b'movie_3'],
       [b'movie_782', b'movie_879', b'movie_1544'],
       [b'movie_586', b'movie_719', b'movie_3258'],
       [b'movie_21', b'movie_3702', b'movie_3384'],
       [b'movie_2396', b'movie_39', b'movie_2291']], dtype=object)>, 'sequence_ratings_1': <tf.Tensor: shape=(32, 3), dtype=float32, numpy=
array([[5., 5., 4.],
       [4., 1., 5.],
       [2., 3., 3.],
       [1., 4., 1.],
       [5., 5., 3.],
       [4., 4., 1.],
       [4., 5., 5.],
       [5., 5., 5.],
       [3., 3., 4.],
       [4., 4., 4.],
       [5., 5., 5.],
       [1., 3., 1.],
       [4., 3., 4.],
       [3., 4., 4.],
       [5., 5., 5.],
       [5., 3., 3.],
       [2., 2., 5.],
       [3., 2., 1.],
       [5., 5., 5.],
       [1., 1., 4.],
       [3., 3., 2.],
       [3., 5., 4.],
       [5., 4., 5.],
       [1., 4., 5.],
       [4., 3., 5.],
       [2., 3., 2.],
       [4., 4., 4.],
       [3., 3., 2.],
       [3., 3., 4.],
       [5., 2., 2.],
       [4., 3., 4.],
       [3., 5., 4.]], dtype=float32)>, 'user_id_1': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'user_5684', b'user_4824', b'user_3769', b'user_2075',
       b'user_4732', b'user_4160', b'user_2145', b'user_3081',
       b'user_2203', b'user_4680', b'user_5294', b'user_5555',
       b'user_971', b'user_4328', b'user_5329', b'user_585', b'user_2451',
       b'user_2203', b'user_4850', b'user_3825', b'user_1545',
       b'user_3453', b'user_1141', b'user_4465', b'user_4232',
       b'user_4004', b'user_2995', b'user_2298', b'user_3773',
       b'user_881', b'user_5369', b'user_2116'], dtype=object)>, 'sex_1': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'M', b'M', b'M', b'F', b'M', b'M', b'M', b'M', b'M', b'M', b'M',
       b'M', b'M', b'M', b'F', b'M', b'M', b'M', b'F', b'M', b'M', b'M',
       b'F', b'M', b'F', b'M', b'M', b'M', b'M', b'M', b'M', b'M'],
      dtype=object)>, 'age_group_1': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'group_18', b'group_25', b'group_25', b'group_25', b'group_25',
       b'group_35', b'group_18', b'group_25', b'group_45', b'group_35',
       b'group_25', b'group_1', b'group_25', b'group_50', b'group_25',
       b'group_18', b'group_45', b'group_45', b'group_45', b'group_18',
       b'group_25', b'group_35', b'group_25', b'group_18', b'group_35',
       b'group_50', b'group_25', b'group_35', b'group_35', b'group_18',
       b'group_25', b'group_18'], dtype=object)>, 'occupation_1': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'occupation_16', b'occupation_7', b'occupation_15',
       b'occupation_4', b'occupation_14', b'occupation_20',
       b'occupation_10', b'occupation_7', b'occupation_12',
       b'occupation_0', b'occupation_2', b'occupation_10',
       b'occupation_12', b'occupation_3', b'occupation_5',
       b'occupation_1', b'occupation_12', b'occupation_12',
       b'occupation_3', b'occupation_1', b'occupation_20',
       b'occupation_7', b'occupation_3', b'occupation_4',
       b'occupation_20', b'occupation_0', b'occupation_15',
       b'occupation_17', b'occupation_6', b'occupation_14',
       b'occupation_15', b'occupation_4'], dtype=object)>, 'target_movie_id_2': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'movie_1449', b'movie_2294', b'movie_938', b'movie_2688',
       b'movie_2761', b'movie_3024', b'movie_1219', b'movie_2000',
       b'movie_780', b'movie_1963', b'movie_1279', b'movie_2253',
       b'movie_1291', b'movie_3256', b'movie_300', b'movie_293',
       b'movie_3359', b'movie_1233', b'movie_62', b'movie_465',
       b'movie_1954', b'movie_2396', b'movie_2006', b'movie_2671',
       b'movie_3751', b'movie_2699', b'movie_1208', b'movie_2399',
       b'movie_3438', b'movie_413', b'movie_3633', b'movie_1721'],
      dtype=object)>, 'sequence_movie_ids_2': <tf.Tensor: shape=(32, 3), dtype=string, numpy=
array([[b'movie_2686', b'movie_348', b'movie_3418'],
       [b'movie_367', b'movie_1907', b'movie_1282'],
       [b'movie_2300', b'movie_1035', b'movie_3606'],
       [b'movie_3543', b'movie_2336', b'movie_2861'],
       [b'movie_1956', b'movie_1293', b'movie_595'],
       [b'movie_3244', b'movie_3639', b'movie_2527'],
       [b'movie_2028', b'movie_457', b'movie_3418'],
       [b'movie_1291', b'movie_1408', b'movie_457'],
       [b'movie_628', b'movie_1615', b'movie_1059'],
       [b'movie_2618', b'movie_3363', b'movie_3060'],
       [b'movie_94', b'movie_281', b'movie_562'],
       [b'movie_3440', b'movie_1525', b'movie_810'],
       [b'movie_21', b'movie_3702', b'movie_589'],
       [b'movie_780', b'movie_377', b'movie_3418'],
       [b'movie_1357', b'movie_1465', b'movie_1957'],
       [b'movie_345', b'movie_1103', b'movie_1641'],
       [b'movie_778', b'movie_695', b'movie_919'],
       [b'movie_3897', b'movie_3948', b'movie_714'],
       [b'movie_3148', b'movie_1080', b'movie_1222'],
       [b'movie_2943', b'movie_1758', b'movie_1810'],
       [b'movie_3418', b'movie_1387', b'movie_1242'],
       [b'movie_2272', b'movie_1233', b'movie_296'],
       [b'movie_480', b'movie_2406', b'movie_2193'],
       [b'movie_410', b'movie_1405', b'movie_3869'],
       [b'movie_1128', b'movie_3081', b'movie_3264'],
       [b'movie_2729', b'movie_2025', b'movie_1127'],
       [b'movie_1873', b'movie_902', b'movie_1095'],
       [b'movie_1544', b'movie_2533', b'movie_2530'],
       [b'movie_533', b'movie_24', b'movie_367'],
       [b'movie_2005', b'movie_2340', b'movie_1983'],
       [b'movie_2022', b'movie_3082', b'movie_3635'],
       [b'movie_6', b'movie_3499', b'movie_1393']], dtype=object)>, 'sequence_ratings_2': <tf.Tensor: shape=(32, 3), dtype=float32, numpy=
array([[5., 5., 5.],
       [3., 4., 4.],
       [5., 1., 5.],
       [3., 5., 5.],
       [5., 4., 4.],
       [5., 4., 4.],
       [5., 5., 5.],
       [5., 5., 5.],
       [2., 4., 3.],
       [3., 4., 4.],
       [4., 5., 5.],
       [3., 2., 2.],
       [3., 4., 5.],
       [4., 3., 4.],
       [4., 4., 3.],
       [4., 5., 3.],
       [4., 3., 4.],
       [5., 4., 5.],
       [5., 5., 4.],
       [3., 4., 3.],
       [3., 5., 5.],
       [4., 4., 5.],
       [5., 4., 3.],
       [3., 3., 3.],
       [4., 4., 3.],
       [4., 5., 4.],
       [4., 3., 3.],
       [3., 2., 1.],
       [1., 3., 5.],
       [4., 4., 3.],
       [4., 3., 5.],
       [3., 4., 3.]], dtype=float32)>, 'user_id_2': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'user_5707', b'user_4829', b'user_3891', b'user_2095',
       b'user_4767', b'user_4169', b'user_2150', b'user_3087',
       b'user_2223', b'user_4771', b'user_53', b'user_5558', b'user_974',
       b'user_4329', b'user_5367', b'user_5874', b'user_2472',
       b'user_222', b'user_4889', b'user_3882', b'user_1560',
       b'user_3454', b'user_1149', b'user_4478', b'user_424',
       b'user_4010', b'user_3013', b'user_2330', b'user_3774',
       b'user_937', b'user_5391', b'user_2122'], dtype=object)>, 'sex_2': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'M', b'M', b'F', b'M', b'F', b'M', b'F', b'F', b'M', b'F', b'M',
       b'M', b'M', b'F', b'M', b'M', b'M', b'M', b'M', b'M', b'F', b'M',
       b'M', b'M', b'M', b'M', b'M', b'M', b'M', b'M', b'M', b'M'],
      dtype=object)>, 'age_group_2': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'group_25', b'group_25', b'group_56', b'group_56', b'group_35',
       b'group_50', b'group_18', b'group_1', b'group_25', b'group_25',
       b'group_25', b'group_1', b'group_35', b'group_25', b'group_18',
       b'group_25', b'group_25', b'group_25', b'group_18', b'group_56',
       b'group_25', b'group_18', b'group_25', b'group_1', b'group_25',
       b'group_25', b'group_45', b'group_45', b'group_25', b'group_25',
       b'group_25', b'group_35'], dtype=object)>, 'occupation_2': <tf.Tensor: shape=(32,), dtype=string, numpy=
array([b'occupation_12', b'occupation_0', b'occupation_16',
       b'occupation_13', b'occupation_9', b'occupation_0',
       b'occupation_4', b'occupation_1', b'occupation_2', b'occupation_4',
       b'occupation_0', b'occupation_10', b'occupation_19',
       b'occupation_14', b'occupation_4', b'occupation_4',
       b'occupation_18', b'occupation_1', b'occupation_4',
       b'occupation_14', b'occupation_3', b'occupation_0',
       b'occupation_12', b'occupation_12', b'occupation_17',
       b'occupation_14', b'occupation_17', b'occupation_7',
       b'occupation_0', b'occupation_15', b'occupation_7',
       b'occupation_12'], dtype=object)>}
Target batch: [5.  4.  4.  2.5 4.5 4.  4.5 4.5 4.5 4.5 4.  2.  4.  4.  3.  5.  4.  4.
 4.5 3.5 3.5 3.  3.  1.5 5.  3.  4.  2.5 2.  3.  3.5 4. ]
Shape of the batch: (32,)
Shape of the target batch: (32,)

## We can now make prediction of the ratings

In [67]:
# Use the model to get predictions.
predictions = model.predict(test_dataset)
print(predictions[:1000])
# Print the real target values.
for batch in test_dataset.take(1):
    print(batch[1][:1000])

# Compute the model's MAE
mae = np.mean(np.abs(predictions - batch[1]))
print(f"Mean Absolute Error: {round(mae, 3)}")

1150/1150 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step
[[2.6902008]
 [3.589034 ]
 [2.97757  ]
 [3.344081 ]
 [3.7571523]
 [3.5472386]
 [3.8887794]
 [3.3578491]
 [3.979505 ]
 [2.972739 ]
 [3.7503772]
 [4.1700397]
 [3.9053245]
 [2.791388 ]
 [4.4073496]
 [3.339302 ]
 [4.0617466]
 [2.5343087]
 [2.5389938]
 [3.169549 ]
 [2.179655 ]
 [3.6044683]
 [3.8066177]
 [3.8208575]
 [4.047751 ]
 [3.9837422]
 [3.7715595]
 [2.6865735]
 [3.0889516]
 [3.0720212]
 [2.9956963]
 [3.2617798]
 [2.73347  ]
 [3.6568902]
 [3.3375816]
 [4.3171177]
 [4.4229565]
 [3.6515622]
 [3.55766  ]
 [3.0482862]
 [2.5179167]
 [4.181177 ]
 [4.06348  ]
 [3.762028 ]
 [2.6948533]
 [3.084213 ]
 [4.0089726]
 [3.2689033]
 [2.7010264]
 [3.7744784]
 [3.5427222]
 [2.7439618]
 [3.7154837]
 [4.320136 ]
 [3.7493184]
 [4.169105 ]
 [2.9597425]
 [2.9476774]
 [3.5384557]
 [3.6596136]
 [3.9037657]
 [4.0520906]
 [4.2684345]
 [3.5271149]
 [2.4732363]
 [2.8538218]
 [3.0684104]
 [2.7246835]
 [3.5299954]
 [3.000731 ]
 [4.1401305]
 [3.188586 ]
 [3.5403016]
 [3.799303 ]
 [3.9838524]
 [3.7800162]
 [4.307471 ]
 [3.8889956]
 [2.621284 ]
 [3.7539685]
 [3.5571628]
 [2.9368415]
 [4.1539884]
 [4.2813663]
 [2.5971189]
 [3.3296723]
 [4.018821 ]
 [3.0312982]
 [4.033597 ]
 [3.3457966]
 [3.7044206]
 [4.065337 ]
 [4.2372303]
 [3.4408102]
 [3.7658892]
 [4.0800066]
 [2.7202835]
 [3.8688166]
 [4.101101 ]
 [3.4100752]
 [2.9371789]
 [4.22897  ]
 [3.3977103]
 [3.413495 ]
 [4.0369425]
 [2.9160748]
 [3.6146202]
 [3.9255042]
 [1.9948349]
 [4.320964 ]
 [2.9087884]
 [3.8623028]
 [4.011622 ]
 [2.89881  ]
 [3.3283577]
 [4.172271 ]
 [2.507395 ]
 [2.703296 ]
 [4.013909 ]
 [3.8695235]
 [3.473977 ]
 [4.076657 ]
 [3.7236545]
 [2.6439695]
 [3.8587537]
 [4.152937 ]
 [3.4119153]
 [2.9954817]
 [4.019915 ]
 [3.028967 ]
 [3.5633135]
 [2.7672348]
 [3.8576357]
 [2.3551698]
 [3.2432873]
 [4.3511343]
 [3.082477 ]
 [3.6972466]
 [4.0829163]
 [3.7909474]
 [2.4163513]
 [2.346184 ]
 [3.8209414]
 [3.7348363]
 [2.2947886]
 [4.5026326]
 [3.4316921]
 [4.1332827]
 [4.025091 ]
 [2.84158  ]
 [3.8732657]
 [3.9477682]
 [3.2367146]
 [2.9440618]
 [4.295356 ]
 [3.9885933]
 [2.5752249]
 [4.423155 ]
 [3.8296208]
 [4.0106277]
 [3.9561193]
 [3.6500797]
 [3.5674381]
 [2.2665956]
 [3.489745 ]
 [3.2249374]
 [4.4760365]
 [3.5583844]
 [3.038587 ]
 [4.1036787]
 [3.5896225]
 [2.9267564]
 [4.042531 ]
 [4.2535167]
 [3.9327977]
 [3.8869605]
 [4.1398487]
 [3.88234  ]
 [3.7624676]
 [3.8288908]
 [3.7311563]
 [3.2055874]
 [4.308336 ]
 [4.1184525]
 [2.6649816]
 [4.141899 ]
 [3.5512686]
 [3.532535 ]
 [2.6298711]
 [2.7475166]
 [2.3960276]
 [3.7936893]
 [4.092274 ]
 [4.1215477]
 [2.8604465]
 [3.9958076]
 [4.216    ]
 [4.085057 ]
 [3.2886937]
 [3.2064939]
 [2.1425903]
 [2.1365755]
 [3.4081101]
 [3.342828 ]
 [3.519507 ]
 [3.52733  ]
 [4.4293923]
 [3.6722705]
 [3.48066  ]
 [3.5808818]
 [3.5706615]
 [3.847671 ]
 [2.9850645]
 [3.3406029]
 [2.9070654]
 [3.2150114]
 [3.1435359]
 [3.47562  ]
 [3.5168102]
 [2.309217 ]
 [4.121677 ]
 [4.0969996]
 [2.867826 ]
 [3.8718724]
 [3.767626 ]
 [3.8153198]
 [4.1853166]
 [3.397314 ]
 [3.1513915]
 [3.9447136]
 [4.505347 ]
 [3.979343 ]
 [3.0291405]
 [2.0805635]
 [3.851925 ]
 [2.9418   ]
 [3.9698703]
 [3.2649708]
 [3.8353808]
 [3.475148 ]
 [4.136308 ]
 [3.614634 ]
 [3.414209 ]
 [2.7609992]
 [3.5619416]
 [3.7168455]
 [3.9752884]
 [3.897509 ]
 [2.927553 ]
 [3.2902713]
 [3.8337824]
 [3.4131885]
 [3.9898288]
 [2.589263 ]
 [4.243262 ]
 [3.1531959]
 [4.471575 ]
 [3.080498 ]
 [2.8996687]
 [3.945374 ]
 [3.3634577]
 [3.3127568]
 [3.927073 ]
 [2.9295151]
 [3.001315 ]
 [3.5004811]
 [2.2943966]
 [4.1325765]
 [2.545815 ]
 [4.1990924]
 [3.6784286]
 [3.0968282]
 [3.6060498]
 [3.319424 ]
 [3.4524965]
 [3.7643018]
 [4.1237397]
 [4.4445963]
 [4.088369 ]
 [3.8615398]
 [2.8081472]
 [3.4858766]
 [3.7968745]
 [2.0806034]
 [2.6558795]
 [4.002678 ]
 [3.4798083]
 [1.9015965]
 [3.7499027]
 [3.9448986]
 [2.773448 ]
 [3.3514447]
 [4.362449 ]
 [4.058083 ]
 [2.8705134]
 [4.0839505]
 [3.5646067]
 [2.874835 ]
 [4.0932302]
 [3.6663952]
 [3.5905337]
 [2.5286522]
 [4.116322 ]
 [3.8754215]
 [3.8562942]
 [4.264958 ]
 [3.9397597]
 [3.7627373]
 [3.2373853]
 [3.0336833]
 [3.8138819]
 [3.3975155]
 [3.3049562]
 [4.3674455]
 [4.132319 ]
 [3.453669 ]
 [3.2169967]
 [3.0509374]
 [3.7942357]
 [3.2425315]
 [3.49543  ]
 [1.9449804]
 [3.8763306]
 [3.5596583]
 [3.209754 ]
 [3.930244 ]
 [3.6679027]
 [4.0118127]
 [3.445397 ]
 [2.847083 ]
 [2.1221216]
 [3.7263584]
 [3.975289 ]
 [3.5855188]
 [4.314387 ]
 [3.5356896]
 [3.1927323]
 [2.9816887]
 [3.4382915]
 [3.2275922]
 [3.1437578]
 [3.8008943]
 [2.8153982]
 [2.806968 ]
 [3.459658 ]
 [3.9221609]
 [3.6252365]
 [4.573822 ]
 [2.8625708]
 [3.680798 ]
 [3.9421954]
 [4.241202 ]
 [3.5190947]
 [3.9086533]
 [3.9638295]
 [3.6267076]
 [3.608573 ]
 [4.1979585]
 [4.0561166]
 [3.1473515]
 [4.346787 ]
 [3.884503 ]
 [2.5801492]
 [2.738027 ]
 [4.0607777]
 [4.275476 ]
 [4.2888303]
 [4.173889 ]
 [3.883514 ]
 [2.2367475]
 [3.8736234]
 [2.699398 ]
 [4.0824757]
 [3.2266505]
 [2.7418923]
 [4.167714 ]
 [4.2389283]
 [3.9770114]
 [3.8782406]
 [3.294307 ]
 [4.26046  ]
 [3.5060992]
 [4.1408124]
 [3.3218727]
 [3.5912917]
 [3.1224217]
 [3.7265217]
 [3.3344307]
 [4.3859825]
 [2.882043 ]
 [4.212487 ]
 [3.076565 ]
 [2.0670838]
 [4.404078 ]
 [3.8446937]
 [3.4871092]
 [3.4203146]
 [4.268104 ]
 [3.5824437]
 [1.8693502]
 [3.6307926]
 [2.5884607]
 [3.9445863]
 [3.4828932]
 [4.310232 ]
 [1.8837569]
 [3.931912 ]
 [4.310633 ]
 [3.8449292]
 [4.4949512]
 [3.2538664]
 [4.212516 ]
 [3.8463788]
 [2.668197 ]
 [3.7738461]
 [2.7082705]
 [3.8331857]
 [4.314386 ]
 [4.2779455]
 [3.979987 ]
 [3.2718866]
 [2.689128 ]
 [2.9014478]
 [3.4489028]
 [3.850768 ]
 [3.4414039]
 [4.448878 ]
 [2.9315572]
 [2.4816773]
 [4.046434 ]
 [3.9329634]
 [3.7376006]
 [3.902523 ]
 [3.4623857]
 [1.9325445]
 [3.149389 ]
 [2.734665 ]
 [4.0660415]
 [3.8794913]
 [3.5620005]
 [4.132129 ]
 [2.9129825]
 [3.62597  ]
 [2.6641402]
 [2.8585024]
 [4.172484 ]
 [3.2646341]
 [2.998178 ]
 [2.2079258]
 [3.7734318]
 [3.9669225]
 [2.8014488]
 [3.6088543]
 [3.7765553]
 [3.364646 ]
 [4.1656637]
 [2.9176888]
 [3.74441  ]
 [4.0145807]
 [4.059344 ]
 [3.0469244]
 [3.5486245]
 [3.5251167]
 [4.057659 ]
 [2.935923 ]
 [4.020079 ]
 [3.5100772]
 [3.4880714]
 [3.250112 ]
 [3.9844441]
 [3.4869666]
 [3.84515  ]
 [3.4048026]
 [4.247518 ]
 [3.9020395]
 [3.4520142]
 [3.2850108]
 [2.353148 ]
 [4.0313015]
 [3.6403546]
 [2.6368747]
 [4.2769895]
 [4.1224627]
 [3.7524233]
 [3.5237138]
 [3.648807 ]
 [3.5427728]
 [2.9781337]
 [3.680975 ]
 [1.4905808]
 [4.0744   ]
 [2.0268471]
 [3.8214557]
 [2.3071728]
 [4.0631967]
 [3.4139352]
 [2.8051567]
 [3.4934022]
 [3.769693 ]
 [3.9953327]
 [3.699656 ]
 [3.6002588]
 [3.573341 ]
 [3.778387 ]
 [3.5437818]
 [3.7073882]
 [3.682197 ]
 [3.7785375]
 [3.7969804]
 [3.2863216]
 [3.343364 ]
 [2.5592623]
 [2.2827127]
 [3.9279816]
 [3.2924619]
 [3.569047 ]
 [4.3148804]
 [2.7561414]
 [2.5545425]
 [1.8396719]
 [4.4241543]
 [3.3948317]
 [2.630168 ]
 [3.9827468]
 [3.031382 ]
 [3.3008761]
 [4.0572724]
 [3.756291 ]
 [3.7316816]
 [3.633557 ]
 [3.286129 ]
 [3.673523 ]
 [2.695631 ]
 [3.9342175]
 [3.8518639]
 [3.59547  ]
 [3.6804829]
 [2.98923  ]
 [3.9230983]
 [2.963301 ]
 [4.1419578]
 [4.328829 ]
 [3.3212147]
 [4.033617 ]
 [2.8391814]
 [3.8729835]
 [1.5183418]
 [3.1635418]
 [3.9782505]
 [2.7886782]
 [2.6329336]
 [3.539856 ]
 [3.3933854]
 [2.889568 ]
 [4.080967 ]
 [4.1380095]
 [3.525228 ]
 [3.6141794]
 [2.6764903]
 [2.6216989]
 [3.4857833]
 [3.8220406]
 [3.8940353]
 [4.1837616]
 [3.7595487]
 [3.039417 ]
 [2.8344007]
 [3.1165907]
 [3.980315 ]
 [3.6299243]
 [3.8521674]
 [3.7895412]
 [4.4740877]
 [4.0730505]
 [3.7941568]
 [3.1013162]
 [4.0765486]
 [3.4872422]
 [3.9397337]
 [2.464993 ]
 [1.9440517]
 [3.965539 ]
 [3.3984118]
 [2.6825714]
 [3.342647 ]
 [3.585659 ]
 [2.3695369]
 [3.1860852]
 [3.5385604]
 [4.203838 ]
 [3.7031164]
 [2.6820602]
 [2.5990582]
 [3.499947 ]
 [3.218508 ]
 [3.8176343]
 [2.6093745]
 [3.9989336]
 [3.5263946]
 [3.4111366]
 [2.377723 ]
 [2.7709298]
 [2.9801898]
 [3.12395  ]
 [3.0649903]
 [3.7076273]
 [4.087784 ]
 [2.8638296]
 [4.290811 ]
 [3.9990788]
 [3.255785 ]
 [3.331695 ]
 [4.0464544]
 [4.1061745]
 [3.7867317]
 [3.4494476]
 [4.2499   ]
 [4.012631 ]
 [3.4807265]
 [2.611563 ]
 [2.8482118]
 [3.7914248]
 [3.8646555]
 [3.7610643]
 [4.033036 ]
 [4.065239 ]
 [4.0804114]
 [4.0889072]
 [4.2531915]
 [3.910161 ]
 [3.6549501]
 [3.5838294]
 [3.029605 ]
 [3.7064877]
 [3.5400217]
 [4.006412 ]
 [4.0072584]
 [3.7368217]
 [3.6931016]
 [2.7191691]
 [3.3372724]
 [3.609384 ]
 [3.5560176]
 [4.1198115]
 [4.0208993]
 [4.3345795]
 [3.9735117]
 [3.7930303]
 [3.5450716]
 [3.3708456]
 [4.0457196]
 [3.7416048]
 [3.999106 ]
 [3.774318 ]
 [3.405006 ]
 [3.3944309]
 [4.1095147]
 [3.298161 ]
 [3.483386 ]
 [2.3109002]
 [2.7572293]
 [2.3066325]
 [4.3030705]
 [2.970821 ]
 [3.1406772]
 [2.4680912]
 [3.7122078]
 [3.630269 ]
 [3.603817 ]
 [3.8009024]
 [3.6202703]
 [4.209073 ]
 [3.8416061]
 [3.899221 ]
 [2.9465683]
 [3.6663308]
 [4.100561 ]
 [4.148342 ]
 [2.466838 ]
 [4.0225797]
 [3.8257399]
 [4.135802 ]
 [3.389746 ]
 [3.8042278]
 [3.4307454]
 [4.0386744]
 [3.8393545]
 [3.4320989]
 [3.4022074]
 [4.172361 ]
 [3.7825842]
 [3.707863 ]
 [3.479652 ]
 [3.974988 ]
 [4.199141 ]
 [1.6861787]
 [4.185532 ]
 [2.7435513]
 [3.7666745]
 [3.7751467]
 [3.1481905]
 [3.8574064]
 [2.975625 ]
 [3.0612159]
 [3.9440675]
 [3.7201872]
 [3.4301639]
 [3.8492804]
 [3.5004117]
 [3.8046222]
 [3.457037 ]
 [4.105605 ]
 [3.4993858]
 [2.8216462]
 [3.937462 ]
 [3.6949215]
 [3.1163578]
 [3.8811579]
 [3.103732 ]
 [2.7989693]
 [2.3329782]
 [2.7574434]
 [3.7311885]
 [3.6066802]
 [3.502742 ]
 [3.1292458]
 [3.1612358]
 [3.6669455]
 [4.2963533]
 [3.9457693]
 [4.194541 ]
 [3.200443 ]
 [3.5352507]
 [2.7478185]
 [2.6315043]
 [3.1442695]
 [2.991898 ]
 [2.4467034]
 [2.8530564]
 [3.8966925]
 [4.0483136]
 [2.3388953]
 [2.9614344]
 [3.7412033]
 [2.7733376]
 [4.0891643]
 [2.4374244]
 [3.8760211]
 [3.150867 ]
 [3.5598226]
 [3.8207319]
 [1.9111238]
 [3.2077436]
 [3.9583163]
 [3.381514 ]
 [2.6463284]
 [2.8761432]
 [3.8751597]
 [3.3642156]
 [4.058403 ]
 [2.4388309]
 [3.5276017]
 [3.715929 ]
 [3.4517062]
 [3.3296049]
 [4.0974407]
 [3.7681122]
 [3.5943947]
 [3.6500585]
 [4.129708 ]
 [3.875639 ]
 [4.0949783]
 [3.5474944]
 [3.5701532]
 [3.642925 ]
 [4.202709 ]
 [4.3795624]
 [3.9493604]
 [3.5866652]
 [4.2288547]
 [4.2813993]
 [3.1597805]
 [2.2544672]
 [3.38374  ]
 [3.5295668]
 [3.8439097]
 [3.6085434]
 [4.2255907]
 [3.9340084]
 [3.0098667]
 [3.2442012]
 [3.9216318]
 [3.6660147]
 [3.9946175]
 [4.0942326]
 [4.299526 ]
 [3.623582 ]
 [3.963592 ]
 [4.3654275]
 [2.1027455]
 [4.104884 ]
 [3.5253377]
 [3.0430527]
 [4.073442 ]
 [2.4835038]
 [4.1215568]
 [2.5882328]
 [4.0173993]
 [3.6607692]
 [4.1221433]
 [3.059348 ]
 [3.4343286]
 [4.294699 ]
 [3.7970238]
 [4.5323057]
 [3.5386972]
 [3.9295902]
 [3.904131 ]
 [3.9838755]
 [3.4218013]
 [3.9710238]
 [2.9116268]
 [3.590047 ]
 [3.728465 ]
 [4.0854225]
 [3.691399 ]
 [2.3914287]
 [4.2110405]
 [2.1932359]
 [2.7368796]
 [4.024509 ]
 [4.0020595]
 [3.8988419]
 [3.9136333]
 [4.245026 ]
 [3.8782306]
 [3.5462654]
 [3.6285374]
 [3.0495908]
 [3.9440184]
 [3.6727808]
 [3.8072815]
 [4.379125 ]
 [3.53659  ]
 [3.952176 ]
 [3.233642 ]
 [4.2944174]
 [2.6997216]
 [3.659536 ]
 [3.2127223]
 [2.968979 ]
 [3.8407512]
 [4.2224035]
 [1.6454039]
 [3.4188855]
 [4.240906 ]
 [3.853673 ]
 [3.7164931]
 [3.3691537]
 [3.4263074]
 [2.1985106]
 [3.5577774]
 [4.0952997]
 [4.30752  ]
 [3.109286 ]
 [3.0029054]
 [3.280292 ]
 [3.8398643]
 [3.0408561]
 [3.9455295]
 [3.520474 ]
 [1.7649612]
 [4.021515 ]
 [3.5217817]
 [3.035212 ]
 [3.7416341]
 [4.037808 ]
 [4.1080766]
 [4.277057 ]
 [3.2556207]
 [3.6658561]
 [3.6754289]
 [3.4429073]
 [3.5274262]
 [3.875081 ]
 [3.5109434]
 [4.046196 ]
 [3.3141418]
 [3.0749633]
 [3.515666 ]
 [3.2308307]
 [2.4153068]
 [3.6553996]
 [3.8858724]
 [4.2488837]
 [4.1861978]
 [3.2269063]
 [3.66644  ]
 [2.1366706]
 [3.7473016]
 [3.8819435]
 [3.8345594]
 [2.8126574]
 [3.832978 ]
 [4.1337013]
 [2.879357 ]
 [3.6535876]
 [3.636129 ]
 [3.8099103]
 [4.30907  ]
 [3.4961543]
 [3.6191478]
 [2.9148386]
 [4.190362 ]
 [2.6804194]
 [3.359386 ]
 [3.8889775]
 [2.968714 ]
 [4.1988115]
 [2.7953289]
 [4.0605955]
 [3.6515205]
 [2.5436075]
 [3.3485298]
 [3.4725995]
 [4.0518236]
 [3.8720384]
 [3.597667 ]
 [2.5357099]
 [3.1973124]
 [3.8517008]
 [3.789681 ]
 [2.4944782]
 [3.7639093]
 [4.0505466]
 [3.1495366]
 [3.3863244]
 [2.856929 ]
 [3.6733341]
 [3.843498 ]
 [3.053106 ]
 [3.981872 ]
 [4.211515 ]
 [3.880932 ]
 [3.0600362]
 [2.7550187]
 [3.6754212]
 [4.197143 ]
 [2.634727 ]
 [2.9350452]
 [3.5791547]
 [3.4780183]
 [2.5155401]
 [3.8328233]
 [4.086782 ]
 [3.2563539]
 [3.991335 ]
 [2.980454 ]
 [3.5987926]
 [1.3398012]
 [3.4836216]
 [4.00701  ]
 [2.4231482]
 [3.9646263]
 [3.4498606]
 [2.8900213]
 [3.9811695]
 [2.5986743]
 [2.9231846]
 [2.17358  ]
 [2.2399375]
 [3.6081758]
 [4.004681 ]
 [4.4289646]
 [3.3301325]
 [3.418223 ]
 [3.9174   ]
 [3.9794526]
 [4.018614 ]
 [2.0386064]
 [3.3211327]
 [3.0573494]
 [2.4965243]
 [4.067623 ]
 [3.0076718]
 [3.965312 ]
 [3.8972113]
 [2.0177326]
 [2.6385627]
 [3.5575423]
 [3.9996474]
 [3.2863364]
 [2.7800908]
 [3.0382195]
 [3.3513966]
 [3.1090126]
 [3.8940134]
 [3.164351 ]
 [2.1958494]
 [3.6860213]]
tf.Tensor(
[3.  2.5 2.5 3.  3.5 4.  2.5 1.5 3.  3.5 3.5 4.5 3.5 4.5 3.5 4.  4.  3.5
 3.5 2.5 5.  2.  5.  3.  4.  4.5 3.  3.5 3.  2.  4.5 4. ], shape=(32,), dtype=float64)
Mean Absolute Error: 0.841

In [71]:
test_dataset

<_MapDataset element_spec=({'target_movie_id_1': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'sequence_movie_ids_1': TensorSpec(shape=(None, None), dtype=tf.string, name=None), 'sequence_ratings_1': TensorSpec(shape=(None, None), dtype=tf.float32, name=None), 'user_id_1': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'sex_1': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'age_group_1': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'occupation_1': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'target_movie_id_2': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'sequence_movie_ids_2': TensorSpec(shape=(None, None), dtype=tf.string, name=None), 'sequence_ratings_2': TensorSpec(shape=(None, None), dtype=tf.float32, name=None), 'user_id_2': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'sex_2': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'age_group_2': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'occupation_2': TensorSpec(shape=(None,), dtype=tf.string, name=None)}, TensorSpec(shape=(None,), dtype=tf.float64, name=None))>

In [74]:
import numpy as np
import pandas as pd
import tensorflow as tf

def get_top_n_recommendations(model, user1, user2, n=5):
    # Get all unique movies
    all_movies = set(movies['movie_id'])
    
    # Get the movies already watched by both users
    user1_watched = set(ratings[ratings['user_id'] == user1]['movie_id'])
    user2_watched = set(ratings[ratings['user_id'] == user2]['movie_id'])
    watched_movies = user1_watched.union(user2_watched)
    
    # Filter out watched movies
    candidate_movies = list(all_movies - watched_movies)
    
    # Get user features
    user1_features = users[users['user_id'] == user1].iloc[0]
    user2_features = users[users['user_id'] == user2].iloc[0]
    
    # Get the last 3 movies watched by each user
    user1_last_movies = list(user1_watched)[-3:]
    user2_last_movies = list(user2_watched)[-3:]
    
    # Get the ratings for the last 3 movies
    user1_last_ratings = [float(ratings[(ratings['user_id'] == user1) & (ratings['movie_id'] == movie)]['rating'].values[0]) for movie in user1_last_movies]
    user2_last_ratings = [float(ratings[(ratings['user_id'] == user2) & (ratings['movie_id'] == movie)]['rating'].values[0]) for movie in user2_last_movies]
    
    # Pad sequences if necessary
    while len(user1_last_movies) < 3:
        user1_last_movies.append('')
        user1_last_ratings.append(0.0)
    while len(user2_last_movies) < 3:
        user2_last_movies.append('')
        user2_last_ratings.append(0.0)
    
    # Prepare input data for prediction
    input_data = {
        'target_movie_id_1': candidate_movies,
        'sequence_movie_ids_1': [user1_last_movies] * len(candidate_movies),
        'sequence_ratings_1': [user1_last_ratings] * len(candidate_movies),
        'user_id_1': [user1] * len(candidate_movies),
        'sex_1': [user1_features['sex']] * len(candidate_movies),
        'age_group_1': [user1_features['age_group']] * len(candidate_movies),
        'occupation_1': [user1_features['occupation']] * len(candidate_movies),
        'target_movie_id_2': candidate_movies,
        'sequence_movie_ids_2': [user2_last_movies] * len(candidate_movies),
        'sequence_ratings_2': [user2_last_ratings] * len(candidate_movies),
        'user_id_2': [user2] * len(candidate_movies),
        'sex_2': [user2_features['sex']] * len(candidate_movies),
        'age_group_2': [user2_features['age_group']] * len(candidate_movies),
        'occupation_2': [user2_features['occupation']] * len(candidate_movies),
    }
    
    # Create a TensorFlow dataset
    dataset = tf.data.Dataset.from_tensor_slices(input_data)
    dataset = dataset.batch(32)  # Use the same batch size as during training
    
    # Make predictions
    predictions = model.predict(dataset)
    
    # Get top N recommendations
    top_n_indices = np.argsort(predictions.flatten())[-n:][::-1]
    top_n_movies = [candidate_movies[i] for i in top_n_indices]
    top_n_ratings = predictions.flatten()[top_n_indices]
    
    return list(zip(top_n_movies, top_n_ratings))

def format_recommendations(recommendations):
    formatted_recommendations = []
    for movie_id, predicted_rating in recommendations:
        movie_info = movies[movies['movie_id'] == movie_id].iloc[0]
        formatted_recommendations.append({
            'movie_id': movie_id,
            'title': movie_info['title'],
            'genres': movie_info['genres'],
            'predicted_rating': round(float(predicted_rating), 2)
        })
    return formatted_recommendations

def recommend_movies(model, user1, user2):
    print(f"Generating recommendations for users {user1} and {user2}...")
    
    # Check if users exist
    if user1 not in users['user_id'].values or user2 not in users['user_id'].values:
        return "One or both users not found in the database."
    
    # Check if users have watched any movies
    if ratings[ratings['user_id'] == user1].empty or ratings[ratings['user_id'] == user2].empty:
        return "One or both users haven't watched any movies yet."
    
    # Get top 5 recommendations
    recommendations = get_top_n_recommendations(model, user1, user2, n=5)
    
    # Format recommendations
    formatted_recommendations = format_recommendations(recommendations)
    
    # Print recommendations
    print(f"\nTop 5 movie recommendations for {user1} and {user2}:")
    for i, rec in enumerate(formatted_recommendations, 1):
        print(f"{i}. {rec['title']} (Genres: {rec['genres']})")
        print(f"   Predicted Rating: {rec['predicted_rating']}")
        print()
    
    return formatted_recommendations

# Example usage
user1 = "user_1"
user2 = "user_2"
recommendations = recommend_movies(model, user1, user2)

Generating recommendations for users user_1 and user_2...
116/116 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step

Top 5 movie recommendations for user_1 and user_2:
1. godfather, the (Genres: Crime|Action|Drama)
   Predicted Rating: 4.5

2. wrong trousers, the (Genres: Animation|Comedy)
   Predicted Rating: 4.48

3. usual suspects, the (Genres: Crime|Thriller)
   Predicted Rating: 4.46

4. rear window (Genres: Thriller|Mystery)
   Predicted Rating: 4.45

5. dr. strangelove or: how i learned to stop worrying and love the bomb (Genres: War|Comedy|Sci-Fi)
   Predicted Rating: 4.41

In [77]:
user1 = "user_1120"
user2 = "user_1141"
recommendations = recommend_movies(model, user1, user2)
print(recommendations)

Generating recommendations for users user_1120 and user_1141...
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

Top 5 movie recommendations for user_1120 and user_1141:
1. double indemnity (Genres: Crime|Drama|Film-Noir)
   Predicted Rating: 4.38

2. to kill a mockingbird (Genres: Crime|Drama)
   Predicted Rating: 4.36

3. third man, the (Genres: Thriller|Mystery)
   Predicted Rating: 4.35

4. paths of glory (Genres: Drama|War)
   Predicted Rating: 4.32

5. cinema paradiso (Genres: Drama|Romance|Comedy)
   Predicted Rating: 4.24

[{'movie_id': 'movie_3435', 'title': 'double indemnity', 'genres': 'Crime|Drama|Film-Noir', 'predicted_rating': 4.38}, {'movie_id': 'movie_1207', 'title': 'to kill a mockingbird', 'genres': 'Crime|Drama', 'predicted_rating': 4.36}, {'movie_id': 'movie_1212', 'title': 'third man, the', 'genres': 'Thriller|Mystery', 'predicted_rating': 4.35}, {'movie_id': 'movie_1178', 'title': 'paths of glory', 'genres': 'Drama|War', 'predicted_rating': 4.32}, {'movie_id': 'movie_1172', 'title': 'cinema paradiso', 'genres': 'Drama|Romance|Comedy', 'predicted_rating': 4.24}]