# Setup

In [202]:
import os

os.environ["KERAS_BACKEND"] = "tensorflow"

import math
import zipfile
import gzip
import shutil
from urllib.request import urlretrieve
import requests
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from keras import layers
from keras.layers import StringLookup

# Prepare the data

## Download and prepare the DataFrames

In [203]:
URL_MOVIELENS = "https://files.grouplens.org/datasets/movielens/ml-1m.zip"
URL_IMBD_NAMES_BASICS = "https://datasets.imdbws.com/name.basics.tsv.gz"
URL_IMBD_TITLE_BASICS = "https://datasets.imdbws.com/title.basics.tsv.gz"
URL_IMBD_TITLE_RATINGS = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Local path where the file will be saved
LOCAL_MOVIELENS_PATH = "ml-1m.zip"
LOCAL_IMBD_NAMES_BASICS_PATH = "name.basics.tsv.gz"
LOCAL_IMBD_TITLE_BASICS_PATH = "title.basics.tsv.gz"
LOCAL_IMBD_TITLE_RATINGS_PATH = "title.ratings.tsv.gz"
# Directory where the dataset will be extracted
EXTRACT_DIR = "dataset"

In [204]:
# Function to download the file
def download_file(url, local_filename):
    print(f"Downloading {url} to {local_filename}")
    # Check if the file already exists
    if os.path.exists(local_filename):
        print(f"File {local_filename} already exists")
        return local_filename
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    print(f"Downloaded {url} to {local_filename}")
    return local_filename

# Function to unzip the file
def unzip_file(zip_path, extract_to):
    print(f"Unzipping {zip_path} to {extract_to}")
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to)
    print(f"Unzipped {zip_path} to {extract_to}")

def gunzip_file(gz_path, extract_to):
    print(f"Gunzipping {gz_path} to {extract_to}")
    with gzip.open(gz_path, 'rb') as f_in:
        with open(extract_to, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"Gunzipped {gz_path} to {extract_to}")

In [205]:
# Ensure the dataset directory exists
os.makedirs(EXTRACT_DIR, exist_ok=True)
# Download the file
download_file(URL_MOVIELENS, LOCAL_MOVIELENS_PATH)
download_file(URL_IMBD_NAMES_BASICS, LOCAL_IMBD_NAMES_BASICS_PATH)
download_file(URL_IMBD_TITLE_BASICS, LOCAL_IMBD_TITLE_BASICS_PATH)
download_file(URL_IMBD_TITLE_RATINGS, LOCAL_IMBD_TITLE_RATINGS_PATH)

Downloading https://files.grouplens.org/datasets/movielens/ml-1m.zip to ml-1m.zip
File ml-1m.zip already exists
Downloading https://datasets.imdbws.com/name.basics.tsv.gz to name.basics.tsv.gz
File name.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.basics.tsv.gz to title.basics.tsv.gz
File title.basics.tsv.gz already exists
Downloading https://datasets.imdbws.com/title.ratings.tsv.gz to title.ratings.tsv.gz
File title.ratings.tsv.gz already exists

'title.ratings.tsv.gz'

In [206]:
# Extract the files
print("Unzipping file...")
unzip_file(LOCAL_MOVIELENS_PATH, EXTRACT_DIR)

print("Gunzipping files...")
gunzip_file(LOCAL_IMBD_NAMES_BASICS_PATH, os.path.join(EXTRACT_DIR, "name.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_BASICS_PATH, os.path.join(EXTRACT_DIR, "title.basics.tsv"))
gunzip_file(LOCAL_IMBD_TITLE_RATINGS_PATH, os.path.join(EXTRACT_DIR, "title.ratings.tsv"))

print("Extraction complete.")

Unzipping file...
Unzipping ml-1m.zip to dataset
Unzipped ml-1m.zip to dataset
Gunzipping files...
Gunzipping name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipped name.basics.tsv.gz to dataset\name.basics.tsv
Gunzipping title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipped title.basics.tsv.gz to dataset\title.basics.tsv
Gunzipping title.ratings.tsv.gz to dataset\title.ratings.tsv
Gunzipped title.ratings.tsv.gz to dataset\title.ratings.tsv
Extraction complete.

In [213]:
movies = pd.read_csv('dataset/ml-1m/movies.dat', sep='::', header=None, engine='python', names=['movie_id', 'title', 'genres'], encoding='ISO-8859-1')
ratings = pd.read_csv('dataset/ml-1m/ratings.dat', sep='::', header=None, engine='python', names=['user_id', 'movie_id', 'rating', 'unix_timestamp'], encoding='ISO-8859-1')
users = pd.read_csv('dataset/ml-1m/users.dat', sep='::', header=None, engine='python', names=['user_id', 'sex', 'age_group', 'occupation', 'zip_code'], encoding='ISO-8859-1')

In [214]:
title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)
title_basics_df = title_basics_df[title_basics_df['titleType'] == 'movie']

C:\Users\marti\AppData\Local\Temp\ipykernel_31812\929002304.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv('dataset/title.basics.tsv', sep='\t', header=0)

Here, we do some simple data processing to fix the data types of the columns.

In [215]:
users["user_id"] = users["user_id"].apply(lambda x: f"user_{x}")
users["age_group"] = users["age_group"].apply(lambda x: f"group_{x}")
users["occupation"] = users["occupation"].apply(lambda x: f"occupation_{x}")

movies["movie_id"] = movies["movie_id"].apply(lambda x: f"movie_{x}")

ratings["movie_id"] = ratings["movie_id"].apply(lambda x: f"movie_{x}")
ratings["user_id"] = ratings["user_id"].apply(lambda x: f"user_{x}")
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))

movies['title'] = movies['title'].str.lower()
movies['title'] = movies['title'].str.replace(r"\(.*\)", "", regex=True).str.strip()
title_basics_df['primaryTitle'] = title_basics_df['primaryTitle'].str.lower().str.strip()
# Change the name of the genres column to genres_title
title_basics_df.rename(columns={"genres": "genres_title"}, inplace=True)
title_basics_df = title_basics_df.drop_duplicates(subset='primaryTitle')

In [216]:
movies

        movie_id                        title                        genres
0        movie_1                    toy story   Animation|Children's|Comedy
1        movie_2                      jumanji  Adventure|Children's|Fantasy
2        movie_3             grumpier old men                Comedy|Romance
3        movie_4            waiting to exhale                  Comedy|Drama
4        movie_5  father of the bride part ii                        Comedy
...          ...                          ...                           ...
3878  movie_3948             meet the parents                        Comedy
3879  movie_3949          requiem for a dream                         Drama
3880  movie_3950                    tigerland                         Drama
3881  movie_3951             two family house                         Drama
3882  movie_3952               contender, the                Drama|Thriller

[3883 rows x 3 columns]

In [217]:
# Merge the dataframes movies and title_basics_df, keep only the the genres_title column and merge on the title column. If the title is not found in title_basics_df, the row is not kept
movies = movies.merge(title_basics_df[['primaryTitle', 'genres_title']], left_on='title', right_on='primaryTitle', how='left')
# Drop the primaryTitle column
movies.drop(columns=['primaryTitle'], inplace=True)
movies = movies.drop_duplicates()
movies

,movie_id,title,genres,genres_title
0,movie_1,toy story,Animation|Children's|Comedy,"Adventure,Animation,Comedy"
1,movie_2,jumanji,Adventure|Children's|Fantasy,"Adventure,Comedy,Family"
2,movie_3,grumpier old men,Comedy|Romance,"Comedy,Romance"
3,movie_4,waiting to exhale,Comedy|Drama,"Comedy,Drama,Romance"
4,movie_5,father of the bride part ii,Comedy,"Comedy,Family,Romance"
...,...,...,...,...
3878,movie_3948,meet the parents,Comedy,Comedy
3879,movie_3949,requiem for a dream,Drama,Drama
3880,movie_3950,tigerland,Drama,"Drama,War"
3881,movie_3951,two family house,Drama,"Comedy,Drama,Romance"
3882,movie_3952,"contender, the",Drama|Thriller,NaN

In [218]:
# Merge the genres column (seperated with | ) with the genres_title column (seperated with ','). Do not keep duplicates
movies['genres'] = movies['genres'].str.split('|')
movies['genres_title'] = movies['genres_title'].str.split(',')
# If the genres_title column is NaN, replace it with an empty list
movies['genres_title'] = movies['genres_title'].apply(lambda x: [] if type(x) == float else x)
movies['genres'] = movies['genres'] + movies['genres_title']
movies['genres'] = movies['genres'].apply(lambda x: list(set(x)))
movies['genres'] = movies['genres'].apply(lambda x: '|'.join(x))
movies.drop(columns=['genres_title'], inplace=True)

In [219]:
movies

,movie_id,title,genres
0,movie_1,toy story,Adventure|Children's|Comedy|Animation
1,movie_2,jumanji,Children's|Comedy|Family|Adventure|Fantasy
2,movie_3,grumpier old men,Comedy|Romance
3,movie_4,waiting to exhale,Drama|Comedy|Romance
4,movie_5,father of the bride part ii,Comedy|Romance|Family
...,...,...,...
3878,movie_3948,meet the parents,Comedy
3879,movie_3949,requiem for a dream,Drama
3880,movie_3950,tigerland,Drama|War
3881,movie_3951,two family house,Drama|Comedy|Romance
3882,movie_3952,"contender, the",Drama|Thriller

Each movie has multiple genres. We split them into separate columns in the movies DataFrame.

In [221]:
movie_features = set()
for actual_genres in movies['genres'].str.split('|'):
    movie_features.update(actual_genres)
movie_features = list(movie_features)
for genre in movie_features:
    movies[genre] = movies["genres"].apply(
        lambda values: int(genre in values.split("|"))
    )

In [222]:
len(movie_features)

25

### Transform the movie ratings data into sequences
First, let's sort the the ratings data using the unix_timestamp, and then group the movie_id values and the rating values by user_id.

The output DataFrame will have a record for each user_id, with two ordered lists (sorted by rating datetime): the movies they have rated, and their ratings of these movies.

In [223]:
ratings_group = ratings.sort_values(by=["unix_timestamp"]).groupby("user_id")

ratings_data = pd.DataFrame(
    data={
        "user_id": list(ratings_group.groups.keys()),
        "movie_ids": list(ratings_group.movie_id.apply(list)),
        "ratings": list(ratings_group.rating.apply(list)),
        "timestamps": list(ratings_group.unix_timestamp.apply(list)),
    }
)

Now, let's split the movie_ids list into a set of sequences of a fixed length. We do the same for the ratings. Set the sequence_length variable to change the length of the input sequence to the model. You can also change the step_size to control the number of sequences to generate for each user.

In [224]:
sequence_length = 4
step_size = 2


def create_sequences(values, window_size, step_size):
    sequences = []
    start_index = 0
    while True:
        end_index = start_index + window_size
        seq = values[start_index:end_index]
        if len(seq) < window_size:
            seq = values[-window_size:]
            if len(seq) == window_size:
                sequences.append(seq)
            break
        sequences.append(seq)
        start_index += step_size
    return sequences


ratings_data.movie_ids = ratings_data.movie_ids.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

ratings_data.ratings = ratings_data.ratings.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

del ratings_data["timestamps"]

After that, we process the output to have each sequence in a separate records in the DataFrame. In addition, we join the user features with the ratings data.

In [225]:
ratings_data_movies = ratings_data[["user_id", "movie_ids"]].explode(
    "movie_ids", ignore_index=True
)
ratings_data_rating = ratings_data[["ratings"]].explode("ratings", ignore_index=True)
ratings_data_transformed = pd.concat([ratings_data_movies, ratings_data_rating], axis=1)
ratings_data_transformed = ratings_data_transformed.join(
    users.set_index("user_id"), on="user_id"
)
ratings_data_transformed.movie_ids = ratings_data_transformed.movie_ids.apply(
    lambda x: ",".join(x)
)
ratings_data_transformed.ratings = ratings_data_transformed.ratings.apply(
    lambda x: ",".join([str(v) for v in x])
)

del ratings_data_transformed["zip_code"]

ratings_data_transformed.rename(
    columns={"movie_ids": "sequence_movie_ids", "ratings": "sequence_ratings"},
    inplace=True,
)

With sequence_length of 4 and step_size of 2, we end up with 498,623 sequences.

Finally, we split the data into training and testing splits, with 85% and 15% of the instances, respectively, and store them to CSV files.

In [226]:
random_selection = np.random.rand(len(ratings_data_transformed.index)) <= 0.85
train_data = ratings_data_transformed[random_selection]
test_data = ratings_data_transformed[~random_selection]

train_data.to_csv(os.path.join(EXTRACT_DIR, "train_data.csv"), index=False, sep="|", header=False)
test_data.to_csv(os.path.join(EXTRACT_DIR, "test_data.csv"), index=False, sep="|", header=False)

## Define metadata

In [227]:
CSV_HEADER = list(ratings_data_transformed.columns)

CATEGORICAL_FEATURES_WITH_VOCABULARY = {
    "user_id": list(users.user_id.unique()),
    "movie_id": list(movies.movie_id.unique()),
    "sex": list(users.sex.unique()),
    "age_group": list(users.age_group.unique()),
    "occupation": list(users.occupation.unique()),
}

USER_FEATURES = ["sex", "age_group", "occupation"]

MOVIE_FEATURES = ["genres"]

## Create tf.data.Dataset for training and evaluation

In [228]:
def get_dataset_from_csv(csv_file_path, shuffle=False, batch_size=128):
    def process(features):
        movie_ids_string = features["sequence_movie_ids"]
        sequence_movie_ids = tf.strings.split(movie_ids_string, ",").to_tensor()

        # The last movie id in the sequence is the target movie.
        features["target_movie_id"] = sequence_movie_ids[:, -1]
        features["sequence_movie_ids"] = sequence_movie_ids[:, :-1]

        ratings_string = features["sequence_ratings"]
        sequence_ratings = tf.strings.to_number(
            tf.strings.split(ratings_string, ","), tf.dtypes.float32
        ).to_tensor()

        # The last rating in the sequence is the target for the model to predict.
        target = sequence_ratings[:, -1]
        features["sequence_ratings"] = sequence_ratings[:, :-1]

        return features, target

    dataset = tf.data.experimental.make_csv_dataset(
        csv_file_path,
        batch_size=batch_size,
        column_names=CSV_HEADER,
        num_epochs=1,
        header=False,
        field_delim="|",
        shuffle=shuffle,
    ).map(process)

    return dataset

## Create model inputs

In [229]:
def create_model_inputs():
    return {
        "user_id": keras.Input(name="user_id", shape=(1,), dtype="string"),
        "sequence_movie_ids": keras.Input(
            name="sequence_movie_ids", shape=(sequence_length - 1,), dtype="string"
        ),
        "target_movie_id": keras.Input(
            name="target_movie_id", shape=(1,), dtype="string"
        ),
        "sequence_ratings": keras.Input(
            name="sequence_ratings", shape=(sequence_length - 1,), dtype=tf.float32
        ),
        "sex": keras.Input(name="sex", shape=(1,), dtype="string"),
        "age_group": keras.Input(name="age_group", shape=(1,), dtype="string"),
        "occupation": keras.Input(name="occupation", shape=(1,), dtype="string"),
    }

## Encode input features
The encode_input_features method works as follows:

1. Each categorical user feature is encoded using layers.Embedding, with embedding dimension equals to the square root of the vocabulary size of the feature. The embeddings of these features are concatenated to form a single input tensor.

2. Each movie in the movie sequence and the target movie is encoded layers.Embedding, where the dimension size is the square root of the number of movies.

3. A multi-hot genres vector for each movie is concatenated with its embedding vector, and processed using a non-linear layers.Dense to output a vector of the same movie embedding dimensions.

4. A positional embedding is added to each movie embedding in the sequence, and then multiplied by its rating from the ratings sequence.

5. The target movie embedding is concatenated to the sequence movie embeddings, producing a tensor with the shape of [batch size, sequence length, embedding size], as expected by the attention layer for the transformer architecture.

6. The method returns a tuple of two elements: encoded_transformer_features and encoded_other_features.

In [230]:
def encode_input_features(
    inputs,
    include_user_id=True,
    include_user_features=True,
    include_movie_features=True,
):
    encoded_transformer_features = []
    encoded_other_features = []

    other_feature_names = []
    if include_user_id:
        other_feature_names.append("user_id")
    if include_user_features:
        other_feature_names.extend(USER_FEATURES)

    ## Encode user features
    for feature_name in other_feature_names:
        # Convert the string input values into integer indices.
        vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]
        idx = StringLookup(vocabulary=vocabulary, mask_token=None, num_oov_indices=0)(
            inputs[feature_name]
        )
        # Compute embedding dimensions
        embedding_dims = int(math.sqrt(len(vocabulary)))
        # Create an embedding layer with the specified dimensions.
        embedding_encoder = layers.Embedding(
            input_dim=len(vocabulary),
            output_dim=embedding_dims,
            name=f"{feature_name}_embedding",
        )
        # Convert the index values to embedding representations.
        encoded_other_features.append(embedding_encoder(idx))

    ## Create a single embedding vector for the user features
    if len(encoded_other_features) > 1:
        encoded_other_features = layers.concatenate(encoded_other_features)
    elif len(encoded_other_features) == 1:
        encoded_other_features = encoded_other_features[0]
    else:
        encoded_other_features = None

    ## Create a movie embedding encoder
    movie_vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY["movie_id"]
    movie_embedding_dims = int(math.sqrt(len(movie_vocabulary)))
    # Create a lookup to convert string values to integer indices.
    movie_index_lookup = StringLookup(
        vocabulary=movie_vocabulary,
        mask_token=None,
        num_oov_indices=0,
        name="movie_index_lookup",
    )
    # Create an embedding layer with the specified dimensions.
    movie_embedding_encoder = layers.Embedding(
        input_dim=len(movie_vocabulary),
        output_dim=movie_embedding_dims,
        name=f"movie_embedding",
    )
    # Create a vector lookup for movie genres.
    movie_feature_vectors = movies[movie_features].to_numpy()
    movie_features_lookup = layers.Embedding(
        input_dim=movie_feature_vectors.shape[0],
        output_dim=movie_feature_vectors.shape[1],
        embeddings_initializer=keras.initializers.Constant(movie_feature_vectors),
        trainable=False,
        name="genres_vector",
    )
    # Create a processing layer for genres.
    movie_embedding_processor = layers.Dense(
        units=movie_embedding_dims,
        activation="relu",
        name="process_movie_embedding_with_genres",
    )

    ## Define a function to encode a given movie id.
    def encode_movie(movie_id):
        # Convert the string input values into integer indices.
        movie_idx = movie_index_lookup(movie_id)
        movie_embedding = movie_embedding_encoder(movie_idx)
        encoded_movie = movie_embedding
        if include_movie_features:
            movie_genres_vector = movie_features_lookup(movie_idx)
            encoded_movie = movie_embedding_processor(
                layers.concatenate([movie_embedding, movie_genres_vector])
            )
        return encoded_movie

    ## Encoding target_movie_id
    target_movie_id = inputs["target_movie_id"]
    encoded_target_movie = encode_movie(target_movie_id)

    ## Encoding sequence movie_ids.
    sequence_movies_ids = inputs["sequence_movie_ids"]
    encoded_sequence_movies = encode_movie(sequence_movies_ids)
    # Create positional embedding.
    position_embedding_encoder = layers.Embedding(
        input_dim=sequence_length,
        output_dim=movie_embedding_dims,
        name="position_embedding",
    )
    positions = tf.range(start=0, limit=sequence_length - 1, delta=1)
    encodded_positions = position_embedding_encoder(positions)
    # Retrieve sequence ratings to incorporate them into the encoding of the movie.
    sequence_ratings = inputs["sequence_ratings"]
    sequence_ratings = keras.ops.expand_dims(sequence_ratings, -1)
    # Add the positional encoding to the movie encodings and multiply them by rating.
    encoded_sequence_movies_with_poistion_and_rating = layers.Multiply()(
        [(encoded_sequence_movies + encodded_positions), sequence_ratings]
    )

    # Construct the transformer inputs.
    for i in range(sequence_length - 1):
        feature = encoded_sequence_movies_with_poistion_and_rating[:, i, ...]
        feature = keras.ops.expand_dims(feature, 1)
        encoded_transformer_features.append(feature)
    encoded_transformer_features.append(encoded_target_movie)

    encoded_transformer_features = layers.concatenate(
        encoded_transformer_features, axis=1
    )

    return encoded_transformer_features, encoded_other_features

## Create a BST model

In [231]:
include_user_id = False
include_user_features = False
include_movie_features = False

hidden_units = [256, 128]
dropout_rate = 0.1
num_heads = 3


def create_model():
    inputs = create_model_inputs()
    transformer_features, other_features = encode_input_features(
        inputs, include_user_id, include_user_features, include_movie_features
    )

    # Create a multi-headed attention layer.
    attention_output = layers.MultiHeadAttention(
        num_heads=num_heads, key_dim=transformer_features.shape[2], dropout=dropout_rate
    )(transformer_features, transformer_features)

    # Transformer block.
    attention_output = layers.Dropout(dropout_rate)(attention_output)
    x1 = layers.Add()([transformer_features, attention_output])
    x1 = layers.LayerNormalization()(x1)
    x2 = layers.LeakyReLU()(x1)
    x2 = layers.Dense(units=x2.shape[-1])(x2)
    x2 = layers.Dropout(dropout_rate)(x2)
    transformer_features = layers.Add()([x1, x2])
    transformer_features = layers.LayerNormalization()(transformer_features)
    features = layers.Flatten()(transformer_features)

    # Included the other features.
    if other_features is not None:
        features = layers.concatenate(
            [features, layers.Reshape([other_features.shape[-1]])(other_features)]
        )

    # Fully-connected layers.
    for num_units in hidden_units:
        features = layers.Dense(num_units)(features)
        features = layers.BatchNormalization()(features)
        features = layers.LeakyReLU()(features)
        features = layers.Dropout(dropout_rate)(features)

    outputs = layers.Dense(units=1)(features)
    model = keras.Model(inputs=inputs, outputs=outputs)
    return model


model = create_model()

## Run training and evaluation experiment

In [232]:
# Compile the model.
model.compile(
    optimizer=keras.optimizers.Adagrad(learning_rate=0.01),
    loss=keras.losses.MeanSquaredError(),
    metrics=[keras.metrics.MeanAbsoluteError()],
)

# Read the training data.
train_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "train_data.csv"), shuffle=True, batch_size=265)

# Fit the model with the training data.
model.fit(train_dataset, epochs=1)

# Read the test data.
test_dataset = get_dataset_from_csv(os.path.join(EXTRACT_DIR, "test_data.csv"), batch_size=265)

# Evaluate the model on the test data.
_, rmse = model.evaluate(test_dataset, verbose=0)
print(f"Test MAE: {round(rmse, 3)}")

1600/1600 ━━━━━━━━━━━━━━━━━━━━ 34s 19ms/step - loss: 1.5594 - mean_absolute_error: 0.9759

C:\Python312\Lib\contextlib.py:158: UserWarning: Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches. You may need to use the `.repeat()` function when building your dataset.
  self.gen.throw(value)

Test MAE: 0.791

## We can now make prediction of the ratings

In [ ]:
# Use the model to get predictions.
predictions = model.predict(test_dataset)
print(predictions[:1000])
# Print the real target values.
for batch in test_dataset.take(1):
    print(batch[1][:1000])

# Compute the model's MAE
mae = np.mean(np.abs(predictions - batch[1]))
print(f"Mean Absolute Error: {round(mae, 3)}")

283/283 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step
[[3.6482902]
 [3.7324653]
 [4.2777247]
 [4.3485637]
 [3.746369 ]
 [3.984054 ]
 [3.5843759]
 [4.162457 ]
 [3.690835 ]
 [3.7357798]
 [3.5299177]
 [4.2104506]
 [3.765442 ]
 [3.7100291]
 [3.1241994]
 [3.7177653]
 [3.3898587]
 [3.524516 ]
 [3.3926425]
 [3.6305633]
 [3.5421863]
 [3.632657 ]
 [4.017237 ]
 [3.2289634]
 [3.2576885]
 [3.2128239]
 [3.2574534]
 [3.4470167]
 [4.3485117]
 [4.1851773]
 [3.0889611]
 [4.124014 ]
 [3.3200889]
 [3.5488048]
 [4.366897 ]
 [3.915719 ]
 [3.9024343]
 [3.6620917]
 [3.9742537]
 [3.305604 ]
 [3.3268962]
 [3.186676 ]
 [2.3404312]
 [4.3558297]
 [4.1628237]
 [4.46428  ]
 [3.9166813]
 [3.8027592]
 [3.7583055]
 [3.3903518]
 [4.044519 ]
 [3.4683003]
 [3.3616724]
 [3.7091627]
 [2.526918 ]
 [2.1456337]
 [3.5909085]
 [3.3577151]
 [3.1959128]
 [4.327024 ]
 [3.5986328]
 [3.8215542]
 [3.684485 ]
 [3.2285776]
 [3.5141635]
 [3.3576384]
 [3.567165 ]
 [3.8196778]
 [3.3490372]
 [3.477531 ]
 [3.062655 ]
 [4.2056355]
 [4.2475624]
 [3.3340402]
 [2.638144 ]
 [3.0948496]
 [1.8627499]
 [2.4568677]
 [2.4633389]
 [3.6800923]
 [3.6651235]
 [4.144516 ]
 [3.533049 ]
 [3.7424293]
 [3.4083104]
 [4.351084 ]
 [4.08854  ]
 [4.6357145]
 [4.197219 ]
 [4.260988 ]
 [3.8196807]
 [4.3198576]
 [3.66651  ]
 [3.6601267]
 [2.7722101]
 [3.5007143]
 [3.5896153]
 [3.1138844]
 [2.981804 ]
 [3.383017 ]
 [3.0333033]
 [3.1784115]
 [2.0096467]
 [3.8970003]
 [4.408458 ]
 [3.9823394]
 [2.9081287]
 [2.320324 ]
 [3.5957355]
 [2.9356012]
 [4.1965017]
 [3.1684327]
 [3.668867 ]
 [3.7858343]
 [3.258851 ]
 [3.6037588]
 [2.9494405]
 [2.8845873]
 [2.0107183]
 [2.5637841]
 [3.881576 ]
 [3.4872165]
 [3.7268887]
 [3.5237794]
 [2.8955898]
 [3.7541404]
 [3.9872208]
 [4.4292693]
 [3.4613867]
 [3.5487432]
 [3.7848167]
 [3.112224 ]
 [3.9165974]
 [3.5096831]
 [3.7166724]
 [2.5968833]
 [3.3319402]
 [3.9567614]
 [4.3998632]
 [4.2390413]
 [3.9175148]
 [3.504685 ]
 [3.5429602]
 [3.7909856]
 [3.9737854]
 [4.282815 ]
 [2.8517942]
 [3.5506806]
 [2.956705 ]
 [3.2855048]
 [3.3015199]
 [2.325065 ]
 [1.0604777]
 [2.6563497]
 [2.88266  ]
 [2.8394947]
 [3.1449928]
 [2.6578836]
 [2.478735 ]
 [3.0967503]
 [1.7770725]
 [1.6250001]
 [2.9631252]
 [1.9078579]
 [2.1652718]
 [3.1457047]
 [2.831872 ]
 [2.8979363]
 [1.5358995]
 [1.7081671]
 [1.0616305]
 [4.032328 ]
 [3.9526105]
 [3.0853796]
 [2.6753502]
 [3.6607575]
 [2.9421344]
 [2.4111383]
 [3.2712078]
 [1.5411439]
 [1.409261 ]
 [1.7307851]
 [2.0563903]
 [2.0245204]
 [2.079317 ]
 [2.1650155]
 [2.2826524]
 [3.7575822]
 [3.5269322]
 [3.8501086]
 [4.071192 ]
 [3.6436076]
 [4.042362 ]
 [3.4784899]
 [3.1745067]
 [3.4109807]
 [3.5999446]
 [3.3487368]
 [3.1202707]
 [2.88512  ]
 [2.9514022]
 [2.7949686]
 [3.2571735]
 [1.7924842]
 [3.721161 ]
 [2.5959253]
 [3.5093298]
 [2.5148597]
 [1.543259 ]
 [3.3296146]
 [2.484755 ]
 [3.9299488]
 [4.294822 ]
 [4.2288747]
 [4.0388494]
 [3.0300083]
 [3.6469226]
 [4.2662287]
 [3.8516598]
 [4.06592  ]
 [3.5016646]
 [3.341424 ]
 [4.038682 ]
 [2.8319697]
 [2.4937873]
 [4.4822116]
 [3.9095635]
 [3.7492743]
 [3.4897437]
 [3.9145222]
 [4.0103445]
 [3.5088577]
 [3.436801 ]
 [2.7841115]
 [2.5351954]
 [3.129458 ]
 [4.686211 ]
 [4.196945 ]
 [4.1161327]
 [4.2901545]
 [4.2168403]
 [3.8350735]
 [4.4659867]
 [3.7731295]
 [4.251839 ]
 [4.383558 ]
 [3.6273332]
 [3.3718786]
 [4.331204 ]
 [4.2751083]
 [4.3166866]
 [3.9830508]
 [4.068578 ]
 [4.6867313]
 [3.616362 ]
 [4.071972 ]
 [3.4021797]
 [3.9586859]
 [3.2152734]
 [3.511129 ]
 [3.172462 ]
 [3.3329134]
 [4.055288 ]
 [3.726471 ]
 [3.0758624]
 [3.8639479]
 [4.4011135]
 [4.3183923]
 [4.3619065]
 [4.1158385]
 [2.8593788]
 [2.5632796]
 [3.1226592]
 [1.8668392]
 [4.186908 ]
 [3.9740562]
 [3.5796165]
 [3.5579643]
 [3.2224412]
 [1.4043524]
 [3.6257353]
 [3.6061964]
 [2.7914858]
 [2.7154846]
 [2.9485712]
 [3.7378635]
 [1.9912857]
 [4.304369 ]
 [3.3946104]
 [3.2507315]
 [2.5239024]
 [3.3660078]
 [3.9136324]
 [3.7508402]
 [3.2104793]
 [3.4683728]
 [3.5479379]
 [3.286652 ]
 [3.2987614]
 [2.9116583]
 [3.2941399]
 [3.600059 ]
 [3.32052  ]
 [2.5640407]
 [3.2504034]
 [3.07192  ]
 [2.4381795]
 [1.6686085]
 [1.8275433]
 [3.720807 ]
 [3.826858 ]
 [3.3062768]
 [3.9195414]
 [3.4884992]
 [3.371202 ]
 [4.189067 ]
 [3.2525506]
 [2.792541 ]
 [3.718741 ]
 [3.0672078]
 [4.0501347]
 [4.281251 ]
 [3.9211855]
 [3.900187 ]
 [3.570498 ]
 [3.4352584]
 [3.794839 ]
 [3.6381016]
 [4.032096 ]
 [3.5251083]
 [3.4634137]
 [3.0126214]
 [3.0299907]
 [3.9425526]
 [3.2102265]
 [2.995728 ]
 [3.8471994]
 [2.256481 ]
 [0.8976624]
 [4.28425  ]
 [2.50382  ]
 [3.247057 ]
 [3.4091353]
 [3.742114 ]
 [3.8990898]
 [3.895928 ]
 [2.6009417]
 [3.4102874]
 [3.673048 ]
 [3.731216 ]
 [4.1496763]
 [3.4155807]
 [3.1846895]
 [3.130334 ]
 [2.6718445]
 [2.9120188]
 [3.5854049]
 [3.8077312]
 [3.2414212]
 [3.276268 ]
 [3.3181405]
 [2.9179044]
 [2.8089924]
 [3.3013744]
 [3.1475263]
 [3.094523 ]
 [3.4428158]
 [2.7585373]
 [3.3720183]
 [2.5395918]
 [2.701253 ]
 [3.2400928]
 [2.6492076]
 [2.4099455]
 [2.8391118]
 [2.4720788]
 [1.4264971]
 [1.6176507]
 [1.054513 ]
 [1.8583757]
 [1.8495114]
 [4.07165  ]
 [3.3766294]
 [4.010629 ]
 [3.687623 ]
 [2.5874972]
 [3.8895674]
 [2.703351 ]
 [4.0061097]
 [3.4704652]
 [4.2173424]
 [4.1699705]
 [3.8430524]
 [3.5884833]
 [4.36771  ]
 [4.199851 ]
 [2.928926 ]
 [3.7285948]
 [3.778133 ]
 [3.1922116]
 [3.2484407]
 [3.033938 ]
 [1.9722545]
 [4.0535383]
 [4.0445867]
 [4.290884 ]
 [4.2226596]
 [4.254978 ]
 [3.9147987]
 [3.6141534]
 [3.7809067]
 [3.9824119]
 [3.6461782]
 [4.3213787]
 [3.4498343]
 [3.5060067]
 [3.2409477]
 [3.8006382]
 [2.5278506]
 [3.467032 ]
 [3.8305898]
 [3.4754786]
 [3.8250537]
 [3.2816863]
 [1.7906684]
 [3.136829 ]
 [2.7122798]
 [1.4708364]
 [3.9711204]
 [3.2189822]
 [4.0030265]
 [3.023397 ]
 [2.4414268]
 [3.0222306]
 [0.8389957]
 [3.2761617]
 [3.6726012]
 [3.221789 ]
 [2.3191385]
 [3.2480402]
 [2.6143613]
 [2.1388803]
 [2.720358 ]
 [3.2352934]
 [2.3110065]
 [2.8108716]
 [3.402337 ]
 [3.3011618]
 [2.8227496]
 [3.4642973]
 [3.0534554]
 [3.5300293]
 [3.1427617]
 [2.897973 ]
 [3.3099155]
 [3.4417758]
 [3.713801 ]
 [3.2733016]
 [1.4015186]
 [2.6058478]
 [2.7142353]
 [1.9884497]
 [2.0432105]
 [2.8302417]
 [1.2199773]
 [2.3246832]
 [2.338097 ]
 [3.3511944]
 [2.6151872]
 [2.1835995]
 [4.2895317]
 [3.6880493]
 [2.7942667]
 [3.0428438]
 [3.3881497]
 [2.9674244]
 [3.641067 ]
 [2.8657851]
 [4.109216 ]
 [3.1024518]
 [2.3349402]
 [4.0889416]
 [4.1266317]
 [4.023733 ]
 [3.4546943]
 [4.613904 ]
 [4.3700566]
 [4.3969812]
 [4.582251 ]
 [3.9469247]
 [2.3135219]
 [3.1516557]
 [1.9645303]
 [3.7277818]
 [3.8462172]
 [3.8786492]
 [4.0096874]
 [3.1575203]
 [3.7313414]
 [3.6449218]
 [2.9901323]
 [3.8067403]
 [4.2022595]
 [4.1935296]
 [4.1526046]
 [4.384253 ]
 [2.6381497]
 [3.1661015]
 [3.9134521]
 [3.7273989]
 [3.4570622]
 [3.5262876]
 [3.8178558]
 [4.2297325]
 [3.9739308]
 [3.9907699]
 [2.90196  ]
 [3.790182 ]
 [4.465005 ]
 [3.926056 ]
 [4.0536895]
 [4.215374 ]
 [4.499051 ]
 [3.435617 ]
 [3.4233942]
 [4.130696 ]
 [3.686565 ]
 [4.2246017]
 [3.6911087]
 [3.1484346]
 [2.750061 ]
 [4.0314016]
 [3.0842128]
 [3.2895126]
 [1.3741506]
 [4.0177684]
 [3.6961155]
 [2.8881311]
 [1.6611934]
 [3.2520447]
 [3.8374023]
 [4.272428 ]
 [4.104644 ]
 [3.8235064]
 [3.7572422]
 [3.8905635]
 [2.8977575]
 [2.577569 ]
 [3.6646051]
 [4.336011 ]
 [4.366011 ]
 [3.6844401]
 [3.605617 ]
 [3.4712753]
 [3.5077777]
 [2.9906435]
 [3.111691 ]
 [3.2652454]
 [2.9961061]
 [2.76654  ]
 [4.357811 ]
 [4.355076 ]
 [3.593686 ]
 [3.8270159]
 [3.3981905]
 [3.6723418]
 [3.3769965]
 [3.4978347]
 [3.423613 ]
 [3.4221911]
 [4.056711 ]
 [4.162392 ]
 [4.0112576]
 [4.091963 ]
 [2.6379213]
 [3.9191403]
 [4.1893187]
 [3.7942524]
 [4.04617  ]
 [4.2211514]
 [4.0044904]
 [2.9828873]
 [3.1556692]
 [3.9416533]
 [3.7301602]
 [4.143998 ]
 [3.3502927]
 [2.1644144]
 [3.8909707]
 [1.8250481]
 [2.2892447]
 [2.5125346]
 [4.404275 ]
 [4.567287 ]
 [4.547419 ]
 [3.406804 ]
 [3.0902848]
 [3.961515 ]
 [3.6301231]
 [4.08036  ]
 [3.7449903]
 [3.1064086]
 [3.8643103]
 [3.8151646]
 [3.3598595]
 [3.3961344]
 [2.4341848]
 [2.6459184]
 [3.3454037]
 [3.704276 ]
 [4.0525475]
 [3.4241824]
 [3.2555757]
 [4.338536 ]
 [4.279938 ]
 [2.78405  ]
 [3.8383183]
 [4.222339 ]
 [4.278917 ]
 [3.8937826]
 [4.1478367]
 [3.2809043]
 [2.8699946]
 [4.3630366]
 [4.206809 ]
 [4.369404 ]
 [3.9769564]
 [4.513745 ]
 [3.7233043]
 [4.0143476]
 [3.716022 ]
 [3.8648472]
 [3.2904096]
 [4.1847744]
 [3.4333873]
 [2.4457126]
 [2.0243955]
 [3.0097084]
 [3.567339 ]
 [2.2976956]
 [2.8321939]
 [4.337772 ]
 [3.452909 ]
 [3.6810088]
 [3.863531 ]
 [3.180739 ]
 [4.1102867]
 [4.0457883]
 [3.9184823]
 [4.098694 ]
 [4.226341 ]
 [3.9579396]
 [3.4954991]
 [3.7718258]
 [3.879531 ]
 [3.5367632]
 [3.6234179]
 [3.3093386]
 [3.5261273]
 [2.8755865]
 [4.7713237]
 [4.7211123]
 [4.2197037]
 [3.918438 ]
 [4.126768 ]
 [3.779056 ]
 [4.0730243]
 [3.0955534]
 [3.5234933]
 [4.534216 ]
 [4.430543 ]
 [4.2612844]
 [4.282687 ]
 [4.169784 ]
 [4.3674097]
 [4.0605993]
 [3.934082 ]
 [3.4089727]
 [2.6964178]
 [3.108653 ]
 [3.6213164]
 [3.623232 ]
 [4.087068 ]
 [3.4915366]
 [3.060515 ]
 [3.2163072]
 [3.2498064]
 [3.9342918]
 [2.4898114]
 [3.9748883]
 [3.7881255]
 [4.0146527]
 [3.965231 ]
 [3.9644098]
 [3.6259089]
 [3.4059272]
 [3.6252313]
 [3.4179153]
 [3.2375731]
 [4.0272646]
 [3.7131448]
 [3.4817777]
 [4.1732244]
 [4.0435553]
 [4.21875  ]
 [3.6831965]
 [3.4697104]
 [2.9387703]
 [3.318582 ]
 [2.315381 ]
 [2.852579 ]
 [2.0055547]
 [3.5027366]
 [3.7070966]
 [3.0790472]
 [3.7126942]
 [3.0285497]
 [2.9605923]
 [2.5491767]
 [2.277319 ]
 [2.30274  ]
 [2.64599  ]
 [3.4684277]
 [3.4654756]
 [3.8012242]
 [3.451302 ]
 [3.5569315]
 [3.5853968]
 [2.8816013]
 [2.8702168]
 [2.8605123]
 [2.450418 ]
 [2.6420884]
 [2.2829266]
 [3.6385226]
 [2.4531941]
 [2.7257552]
 [2.7855945]
 [3.595315 ]
 [3.6591916]
 [2.3440158]
 [2.1196976]
 [4.52564  ]
 [3.8656225]
 [4.004415 ]
 [4.3479943]
 [3.9861388]
 [3.7348762]
 [4.177781 ]
 [3.0784688]
 [3.295804 ]
 [3.887558 ]
 [3.2981095]
 [4.0918226]
 [2.8308473]
 [3.15161  ]
 [3.4192786]
 [2.8614364]
 [2.8321028]
 [2.067185 ]
 [2.081111 ]
 [3.5299864]
 [3.3383474]
 [2.58855  ]
 [3.767476 ]
 [2.6586518]
 [3.3943062]
 [3.385089 ]
 [3.3209624]
 [3.455217 ]
 [2.5113966]
 [1.5061681]
 [2.9084296]
 [2.2992692]
 [2.870358 ]
 [3.2809334]
 [3.3069444]
 [3.2435446]
 [3.7502127]
 [2.3292937]
 [2.3825111]
 [2.8972907]
 [4.0506306]
 [3.1343617]
 [2.3614535]
 [1.5439136]
 [4.0508394]
 [3.9181542]
 [4.053076 ]
 [3.4034548]
 [3.3258057]
 [3.2646937]
 [2.3748736]
 [3.0769072]
 [2.5400338]
 [3.2263827]
 [3.4323654]
 [3.634427 ]
 [3.1982822]
 [3.3019776]
 [4.540197 ]
 [3.4004564]
 [2.7802749]
 [2.0107892]
 [2.7346249]
 [2.0997558]
 [2.0678318]
 [4.322741 ]
 [4.23237  ]
 [4.3743305]
 [4.3899994]
 [3.873343 ]
 [3.976069 ]
 [2.4096756]
 [3.037209 ]
 [3.963294 ]
 [2.6376605]
 [1.185995 ]
 [4.451463 ]
 [4.098776 ]
 [3.395975 ]
 [3.5341244]
 [4.6270857]
 [3.5491261]
 [3.9196558]
 [2.8674088]
 [3.5730052]
 [2.701806 ]
 [3.394228 ]
 [3.5122724]
 [3.0081625]
 [2.9584708]
 [3.3544736]
 [2.8324666]
 [4.464745 ]
 [3.7074122]
 [4.0889583]
 [3.4595609]
 [3.0427384]
 [2.9012575]
 [3.2304888]
 [2.8709521]
 [3.606461 ]
 [3.743641 ]
 [4.1830277]
 [3.938704 ]
 [1.8664392]
 [2.5411203]
 [3.7041607]
 [3.7399502]
 [3.507172 ]
 [3.9745765]
 [4.5694065]
 [3.9309225]
 [3.784521 ]
 [3.5593004]
 [2.4852023]
 [3.0401301]
 [3.9082475]
 [3.2153873]
 [4.2678323]
 [3.4643903]
 [3.363791 ]
 [3.5844102]
 [4.3353014]
 [4.1144695]
 [3.3973804]
 [3.3246822]
 [4.4095407]
 [3.6733189]
 [2.596836 ]
 [2.4580498]
 [3.9551744]
 [4.3641086]
 [4.0138545]
 [2.4583313]
 [2.6893177]
 [4.237277 ]
 [3.3309455]
 [2.3809743]
 [3.4506946]
 [4.044903 ]
 [4.0896177]
 [4.2064977]
 [4.0037537]
 [4.3026433]
 [3.7580528]
 [3.8560724]
 [3.357541 ]
 [3.1716304]
 [2.8656955]
 [3.520245 ]
 [3.1345253]
 [3.9811063]
 [3.4919682]
 [2.9034443]
 [3.710525 ]
 [1.5272462]
 [3.6262975]
 [3.59278  ]
 [3.304781 ]
 [3.7198577]
 [3.0381231]
 [3.1807108]
 [3.723351 ]
 [3.2462568]
 [2.326653 ]
 [2.362054 ]
 [2.156797 ]
 [3.6904535]
 [3.8539238]
 [3.2323375]
 [3.2238646]
 [2.494756 ]
 [2.828485 ]
 [3.123251 ]
 [2.5818434]
 [2.8207211]
 [3.7520514]
 [1.9824232]
 [3.8667479]
 [4.089369 ]
 [3.6937666]
 [2.9255657]
 [3.345274 ]
 [3.6720996]
 [3.084948 ]
 [3.8059716]
 [3.3671222]
 [4.177933 ]
 [4.1732163]
 [4.2356415]
 [3.5669065]
 [3.5103664]
 [4.462105 ]
 [4.4164968]
 [3.909451 ]
 [4.014826 ]
 [4.099817 ]
 [4.055097 ]
 [4.265794 ]
 [3.6677127]
 [3.6894855]
 [3.169681 ]
 [3.9797773]
 [4.092196 ]
 [4.150404 ]
 [4.2894387]
 [4.008984 ]
 [3.4810472]
 [3.5778584]
 [3.4059033]
 [3.8717132]
 [3.9045353]
 [4.3159823]
 [3.4219089]
 [3.1673121]
 [3.409123 ]
 [3.4835725]
 [3.9433832]
 [3.3221216]
 [3.2954354]
 [3.586018 ]
 [3.268898 ]
 [2.4311686]
 [4.1425138]
 [3.753008 ]
 [3.9497714]
 [4.118296 ]
 [4.089894 ]
 [3.4805899]
 [3.5112467]
 [4.3511834]
 [3.7139287]
 [2.766674 ]
 [3.4925876]
 [3.6544108]
 [4.0301986]
 [3.6989884]
 [3.4956307]
 [3.5825605]
 [3.8017344]
 [3.1375113]
 [3.982633 ]
 [4.0723476]
 [3.9159002]
 [2.5871878]
 [3.317854 ]
 [3.1031227]
 [2.7126555]
 [3.4435377]
 [2.953094 ]
 [3.04641  ]
 [2.5633135]
 [2.2853053]
 [3.3550954]
 [3.337624 ]
 [3.179017 ]
 [2.7479281]
 [2.9672031]]
tf.Tensor(
[5. 4. 4. 5. 4. 2. 3. 5. 4. 5. 4. 5. 5. 5. 4. 5. 5. 3. 5. 5. 5. 3. 5. 4.
 4. 4. 4. 4. 5. 5. 3. 3. 3. 5. 4. 5. 3. 4. 3. 2. 3. 2. 3. 4. 5. 5. 4. 4.
 4. 4. 4. 4. 3. 5. 3. 2. 5. 5. 3. 5. 5. 5. 5. 5. 5. 5. 4. 4. 3. 4. 4. 3.
 5. 5. 4. 2. 3. 2. 2. 2. 4. 4. 5. 4. 4. 5. 5. 5. 4. 4. 5. 5. 3. 1. 3. 4.
 4. 3. 5. 3. 3. 2. 3. 4. 5. 4. 3. 3. 5. 2. 5. 2. 2. 2. 3. 4. 3. 3. 4. 3.
 5. 3. 5. 1. 1. 4. 4. 5. 4. 4. 4. 4. 5. 4. 3. 4. 4. 5. 5. 5. 4. 5. 5. 5.
 4. 5. 3. 1. 5. 2. 4. 3. 1. 2. 3. 3. 2. 1. 2. 1. 1. 3. 2. 1. 1. 1. 2. 4.
 1. 1. 1. 5. 4. 1. 2. 3. 3. 1. 3. 2. 1. 1. 1. 1. 2. 3. 2. 5. 5. 4. 4. 4.
 4. 3. 3. 4. 4. 3. 1. 3. 2. 2. 3. 2. 2. 2. 3. 1. 1. 4. 3. 3. 5. 5. 5. 5.
 4. 5. 2. 3. 3. 3. 4. 3. 3. 5. 3. 4. 4. 5. 5. 2. 4. 3. 3. 3. 5. 5. 4. 5.
 4. 3. 4. 5. 5. 5. 4. 5. 5. 5. 5. 5. 3. 3. 3. 4. 4. 4. 4. 5. 4. 3. 5. 2.
 4.], shape=(265,), dtype=float32)
Mean Absolute Error: 1.1660000085830688